<template>
  <v-card-title class="mt-8 mb-5 text-left">
    <h4>
      {{ $t('documentation.documentation') }}
    </h4>
  </v-card-title>
</template>
<script setup lang="ts">
  definePageMeta({
    auth: {
      unauthenticatedOnly: false
    }
  })
</script>
