<template>
  <v-banner
    lines="one"
    class="px-8 py-1 align-center text-white bg-deep-orange-darken-2"
    stacked>
    <v-icon
      class="mr-4"
      size="x-large">
      mdi-alert-circle
    </v-icon>
    <v-banner-text class="text-white text-weight-bold text-button d-flex flex-column">
      {{ $t('errors.error') }}
    </v-banner-text>
    <v-banner-text
      class="text-white d-flex flex-column block align-center text-weight-bold"
      style="width: 100%; font-weight: bolder">
      <span>
        {{ `${$t('errors.error')} ${errorMsg.statusCode}`.toUpperCase() }}
      </span>
      <span>
        {{ errorMsg.statusMessage }}
      </span>
    </v-banner-text>
    <template #actions>
      <v-btn
        color="white"
        :icon="commonIcons.close"
        size="large"
        @click="messages.resetError()">
      </v-btn>
    </template>
  </v-banner>
</template>

<script setup lang="ts">
  interface Props {
    errorMsg: ErrorObj
  }
  defineProps<Props>()
  const messages = useMessageStore()
</script>
