<template>
  <v-card
    variant="flat"
    :width="width || '70%'"
    class="pt-0 bg-surface">
    <v-card-title
      v-if="message"
      class="my-2 text-left">
      <h2>
        {{ $t(message) }}
      </h2>
    </v-card-title>
    <v-card-text>
      <v-row
        justify="center"
        class="my-12 py-12">
        <v-col
          cols="10"
          sm="6"
          class="text-center">
          <h3 class="mb-6">
            {{ $t('auth.subscriptions.noSubscription') }}
          </h3>
          <v-btn
            variant="flat"
            color="primary"
            block
            size="x-large"
            :append-icon="commonIcons.right"
            to="/subscribe">
            {{ $t('pages.subscribe') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
  interface Props {
    width?: string
    message?: string
  }
  defineProps<Props>()
</script>
