<template>
  <v-card-title class="mt-8 mb-5 text-left">
    <h4>
      {{ $t('widgets.create') }}
    </h4>
  </v-card-title>
  <!-- <InputsStepperInputs
    :title="$t('widgets.create')"
    :has-active-subscription="hasActiveSubscription"
    width="100%"
    :items="items">
  </InputsStepperInputs> -->
</template>
<script setup lang="ts">
  // import { StepComponent, InputTable } from '~/utils'

  // const { getSession } = useAuth()
  // const { isSubscribed } = useMyAuth()
  // const session = (await getSession()) as SessionClient
  // const hasActiveSubscription = await isSubscribed({ userId: session.userId })

  // const items: StepItem[] = [
  //   {
  //     code: 'chose',
  //     text: 'widgets.steps.choseDatasets',
  //     component: StepComponent.inputs,
  //     inputFields: [
  //       { table: InputTable.widgets, key: 'title', inputType: InputType.text },
  //       { table: InputTable.widgets, key: 'display', inputType: InputType.select }
  //     ]
  //   },
  //   {
  //     code: 'options',
  //     text: 'widgets.steps.options',
  //     component: StepComponent.inputs,
  //     inputFields: [
  //       { table: InputTable.widgets, key: 'files', inputType: InputType.select } //
  //     ]
  //   },
  //   {
  //     code: 'filters',
  //     text: 'datasets.steps.filters',
  //     component: StepComponent.inputs,
  //     inputFields: [
  //       { table: InputTable.datasets, key: 'options.customfilters.activate', inputType: InputType.checkbox },
  //       { table: InputTable.datasets, key: 'options.customfilters.filterfields', inputType: InputType.array, model: { fields: [] } }
  //     ]
  //   },
  //   {
  //     code: 'cardViewMini',
  //     text: 'datasets.steps.card-view-mini',
  //     component: StepComponent.inputs,
  //     inputFields: []
  //   },
  //   {
  //     code: 'cardViewDetail',
  //     text: 'datasets.steps.card-view-detail',
  //     component: StepComponent.inputs,
  //     inputFields: []
  //   },
  //   {
  //     code: 'mapView',
  //     text: 'datasets.steps.card-view-detail',
  //     component: StepComponent.inputs,
  //     inputFields: []
  //   },
  //   {
  //     code: 'datavizView',
  //     text: 'datasets.steps.dataviz-view',
  //     component: StepComponent.inputs,
  //     inputFields: []
  //   },
  //   {
  //     code: 'save',
  //     text: 'widgets.steps.save',
  //     component: StepComponent.saveWidget,
  //     inputFields: []
  //   }
  // ]
</script>
