<template>
  <!-- <v-card-title class="mt-8 mb-5 text-center">
    <h4>
      {{ $t('widgets.myWidgets') }}
    </h4>
  </v-card-title> -->

  <DataDatasetLoader v-if="pending || status === 'idle'"></DataDatasetLoader>
  <DataVirtualTableSkeleton
    v-if="status !== 'idle'"
    :is-new-dataset="true">
  </DataVirtualTableSkeleton>

  <v-container>
    <v-row class="align-center">
      <v-col cols="2">
        <v-btn
          class="bg-white my-10 mr-10"
          variant="outlined"
          @click="reload"
          >RELOAD DATA {{ id }}
        </v-btn>
      </v-col>
      <v-col cols="5">
        <span> id: {{ id }} - status : {{ status }} - pending : {{ pending }} </span>
        <span v-if="pending || status === 'idle'"> ... loading ... </span>
        <span v-else> ... LOADED ... </span>
      </v-col>
      <v-col cols="5">
        <span>
          <code>
            {{ data?.[0] }}
          </code>
        </span>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
  const { getSession } = useAuth()
  // const { getUserDatasets } = useDatasets()
  const messages = useMessageStore()
  const session = (await getSession()) as SessionClient
  const userId = session.userId

  const url = '/api/datasets/my-datasets'
  // const url = '/api/public/test-timeout'

  const id = ref(1)

  const {
    data, //
    pending,
    status,
    // execute,
    refresh,
    error
  } = await useLazyFetch(url, {
    method: 'POST',
    body: { userId },
    immediate: true,
    // lazy: true,
    key: `${id.value}`,
    // watch: [id],
    server: false
  })

  // const headers = useRequestHeaders()
  // const {
  //   data, //
  //   pending,
  //   status,
  //   // refresh,
  //   error
  // } = await useLazyAsyncData('test', () =>
  //   $fetch(url, {
  //     method: 'POST',
  //     body: { userId },
  //     immediate: false,
  //     lazy: true,
  //     // key: `${id.value}`,
  //     server: false,
  //     // watch: [id],
  //     headers
  //   })
  // )

  if (error !== null) {
    messages.setError(error.value as ErrorObj)
  }

  // const refresh = () => refreshNuxtData(`${id.value}`)

  const reload = async () => {
    clearNuxtData(`${id.value}`)
    // id.value += 1
    setTimeout(async () => {
      await refresh()
    }, 1000)
  }
</script>
