<template>
  <v-container>
    <v-row class="d-flex flex-column align-center justify-center mt-10">
      <h1>{{ $t('errors.error') }} {{ error?.statusCode }}</h1>
      <p>{{ error?.message }}</p>
    </v-row>
    <v-row class="d-flex justify-center mt-10">
      <v-btn
        :prepend-icon="commonIcons.home"
        class="bg-white"
        variant="outlined"
        @click.stop="handleError">
        {{ $t('backHome') }}
      </v-btn>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
  interface Props {
    error: ErrorObj
  }
  defineProps<Props>()

  const handleError = () => {
    // console.log('>>> error >>> ', props.error)
    clearError({ redirect: '/' })
  }
</script>
