<template>
  <v-row class="justify-center align-center mt-12">
    <h4>
      {{ $t('account.forgotPassword') }}
    </h4>
  </v-row>
  <v-row class="justify-center align-center pt-4">
    <v-btn
      :prepend-icon="commonIcons.lock"
      class="bg-white"
      variant="plain"
      block
      to="/account/reset-password">
      {{ $t('account.resetPassword') }}
    </v-btn>
  </v-row>
</template>
