<template>
  <!-- CREDENTIALS -->
  <form @submit.prevent="onSubmit">
    <v-text-field
      v-model="email"
      variant="underlined"
      :error-messages="errors.email"
      :label="$t('user.email')"
      :placeholder="$t('user.email')"></v-text-field>

    <v-text-field
      v-model="password"
      variant="underlined"
      type="password"
      :error-messages="errors.password"
      :label="$t('user.password')"
      :placeholder="$t('user.password')"></v-text-field>

    <!-- <v-checkbox
          v-model="checkbox"
          :error-messages="errors.checkbox"
          :label="$t('auth.rememberMe')"
          type="checkbox"></v-checkbox> -->

    <v-btn
      :prepend-icon="commonIcons.login"
      block
      variant="plain"
      class="me-4 mt-6 bg-black"
      type="submit">
      {{ $t('auth.login') }}
    </v-btn>

    <!-- <v-btn @click="handleReset"> clear </v-btn> -->
  </form>
</template>

<script setup lang="ts">
  import { useField, useForm } from 'vee-validate'
  import { toTypedSchema } from '@vee-validate/zod'
  import * as z from 'zod'

  const { t } = useI18n()
  const { signIn } = useAuth()
  const config = useRuntimeConfig()

  const validationSchema = toTypedSchema(
    z.object({
      email: z
        .string()
        .min(1, t('form.validation.required'))
        .email({ message: t('form.validation.invalidEmail') }),
      password: z
        .string() //
        .min(1, t('form.validation.required'))
        .min(8, t('form.validation.tooSmall', { chars: 8 }))
      // checkbox: z
      //   .boolean() //
      //   .default(false)
    })
  )
  const { handleSubmit, errors } = useForm({
    validationSchema
  })

  const { value: email } = useField('email')
  const { value: password } = useField('password')
  // const { value: checkbox } = useField('checkbox')

  // METHODS
  const onSubmit = handleSubmit(async (values: any) => {
    // alert(JSON.stringify(values, null, 2))
    const response = await signIn('credentials', {
      redirect: false,
      // redirect: true,
      email: values.email,
      password: values.password,
      callbackUrl: `${config.public.APP_DOMAIN}/protected`
    })
    // console.log('response :', response)

    alert(JSON.stringify(response, null, 2))
    // if (response.error) {
    //   alert(JSON.stringify(error, null, 2))
    // }

    await navigateTo('/protected')
  })
</script>
