<template>
  <v-tooltip
    location="bottom"
    :text="$t('pages.account-login')">
    <template #activator="{ props: tooltipProps }">
      <v-btn
        v-bind="tooltipProps"
        :to="`/account/login${redirectTo || ''}`"
        size="small"
        variant="outlined">
        <v-icon class="mr-2">
          {{ commonIcons.login }}
        </v-icon>
        <span class="d-none d-sm-flex">
          {{ $t('auth.login') }}
        </span>
      </v-btn>
    </template>
  </v-tooltip>
</template>

<script setup lang="ts">
  const { path } = useRoute()
  const redirectTo = computed(() => {
    if (path !== '/') {
      return `?redirect=${path}`
    }
  })
</script>
