<template>
  <v-card
    variant="flat"
    width="450"
    class="pt-4 px-8 pb-8">
    <v-card-title class="mt-4 mb-0 text-center">
      <h3>
        {{ $t('auth.login') }}
      </h3>
    </v-card-title>
    <v-row class="justify-center">
      <v-col
        cols="10"
        sm="10"
        md="8">
        <v-card-text class="mb-4 text-h7 text-grey-darken-1 text-center">
          {{ $t('auth.isPasswordLess') }}
        </v-card-text>
      </v-col>
    </v-row>

    <ui-divider-text class="mb-8">
      <v-icon>{{ commonIcons.email }}</v-icon>
    </ui-divider-text>

    <!-- MAGIC LINK -->
    <v-card-subtitle class="mb-2 text-h6 text-grey text-center">
      {{ $t('auth.loginWithMagicLink') }}
    </v-card-subtitle>
    <v-card-text v-if="providerMagicLink">
      <AccountProviderMagicLinkLogin
        :provider="providerMagicLink"
        :redirect="redirect"></AccountProviderMagicLinkLogin>
    </v-card-text>
    <v-card-subtitle class="mb-2 text-hint text-center">
      {{ $t('auth.sendLink') }}
    </v-card-subtitle>

    <ui-divider-text class="mt-6 mb-8">
      {{ $t('misc.or').toUpperCase() }}
    </ui-divider-text>

    <!-- GITHUB / GITLAB / ... -->
    <v-card-subtitle class="mb-2 text-h6 text-grey text-center">
      {{ $t('auth.loginWithProvider') }}
    </v-card-subtitle>
    <v-card-text v-if="providersOauth">
      <AccountProviderLogin
        v-for="provider in providersOauth"
        :key="provider.id"
        :provider="provider"
        :redirect="redirect"
        class="mb-6"></AccountProviderLogin>
    </v-card-text>

    <!-- CREDENTIALS -->
    <!-- <ui-divider-text
      text="misc.or"
      class="mb-6"></ui-divider-text>
    <v-card-subtitle>
      {{ $t('auth.loginWithProvider') }}
    </v-card-subtitle>
    <v-card-text>
      <AccountLoginCredentials></AccountLoginCredentials>
    </v-card-text> -->
  </v-card>
</template>

<script setup lang="ts">
  interface Props {
    redirect?: string
  }
  defineProps<Props>()

  const { data: providers } = await useFetch('/api/auth/providers')

  // COMPUTED
  const providerMagicLink = computed(() => {
    const { send } = providers.value
    return send
  })

  const providersOauth = computed(() => {
    const notOauth: string[] = ['send', 'credentials']
    const providersOauth = Object.keys(providers.value)
      .filter((key) => !notOauth.includes(key))
      .reduce((obj, key) => {
        obj[key] = providers.value[key]
        return obj
      }, {})
    return providersOauth as ProviderData
  })
</script>
