<template>
  <form @submit.prevent="onSubmit">
    <v-text-field
      v-model="email"
      density="compact"
      :error-messages="errors.email"
      :placeholder="$t('user.email')"></v-text-field>
    <v-btn
      :prepend-icon="`mdi-${provider.id}`"
      variant="outlined"
      block
      type="submit">
      <span class="d-none d-sm-none d-md-flex">
        {{ $t('auth.loginWith', { provider: $t(`auth.providers.${provider.name}`) }) }}
      </span>
      <span class="d-sm-flex d-md-none">
        {{ $t(`auth.providers.${provider.name}`) }}
      </span>
    </v-btn>
    <!-- {{ provider }} -->
  </form>
</template>

<script setup lang="ts">
  import { useField, useForm } from 'vee-validate'
  import { toTypedSchema } from '@vee-validate/zod'
  import * as z from 'zod'

  interface Provider {
    id: string
    name: string
  }
  interface Props {
    provider: Provider
    redirect?: string
  }
  const props = defineProps<Props>()

  const { t } = useI18n()
  const { signIn } = useAuth()

  const validationSchema = toTypedSchema(
    z.object({
      email: z
        .string()
        .min(1, t('form.validation.required'))
        .email({ message: t('form.validation.invalidEmail') })
    })
  )
  const { handleSubmit, errors } = useForm({
    validationSchema
  })

  const { value: email } = useField('email')

  const onSubmit = handleSubmit(async (values: any) => {
    // alert(JSON.stringify(values, null, 2))
    await signIn(props.provider?.id, {
      // redirect: false,
      email: values.email,
      callbackUrl: props.redirect || '/me/profile'
    })

    // alert(JSON.stringify(response, null, 2))
    // if (response.error) {
    //   alert(JSON.stringify(error, null, 2))
    // }

    // await navigateTo('/protected')
  })
</script>
