<template>
  <v-btn
    :prepend-icon="`mdi-${provider.id}`"
    variant="outlined"
    block
    @click.stop="handleSignIn(provider.id)">
    <span class="d-none d-sm-none d-md-flex">
      {{ $t('auth.loginWith', { provider: $t(`auth.providers.${provider.name}`) }) }}
    </span>
    <span class="d-sm-flex d-md-none">
      {{ $t(`auth.providers.${provider.name}`) }}
    </span>
  </v-btn>
</template>

<script setup lang="ts">
  interface Props {
    provider: ProviderData
    redirect?: string
  }
  const props = defineProps<Props>()

  const { signIn } = useAuth()

  const handleSignIn = async (providerId: string) => {
    await signIn(providerId, { callbackUrl: props.redirect || '/datasets' })
  }
</script>
