<template>
  <v-card
    variant="flat"
    width="500"
    class="pa-3 bg-white">
    <v-card-title class="mb-4 text-center">
      <h3>
        {{ $t('account.register') }}
      </h3>
    </v-card-title>

    <v-card-text>
      <form @submit.prevent="onSubmit">
        <v-row>
          <v-col
            cols="12"
            sm="6">
            <!-- :value="defaultValues.firstName" -->
            <v-text-field
              v-model="firstName"
              variant="underlined"
              density="compact"
              :error-messages="errors.firstName"
              :placeholder="$t('user.firstName')"></v-text-field>
          </v-col>
          <v-col
            cols="12"
            sm="6">
            <!-- :value="defaultValues.lastName" -->
            <v-text-field
              v-model="lastName"
              variant="underlined"
              density="compact"
              :error-messages="errors.lastName"
              :placeholder="$t('user.lastName')"></v-text-field>
          </v-col>
        </v-row>

        <!-- :value="defaultValues.email" -->
        <v-text-field
          v-model="email"
          variant="underlined"
          density="compact"
          :error-messages="errors.email"
          :placeholder="$t('user.email')"></v-text-field>

        <!-- :value="defaultValues.password" -->
        <v-text-field
          v-model="password"
          variant="underlined"
          density="compact"
          type="password"
          :error-messages="errors.password"
          :placeholder="$t('user.password')"></v-text-field>

        <!-- :value="defaultValues.password" -->
        <v-text-field
          v-model="confirmPassword"
          variant="underlined"
          density="compact"
          type="password"
          :error-messages="errors.confirmPassword"
          :placeholder="$t('account.verifPassword')"></v-text-field>

        <v-checkbox
          v-model="checkbox"
          :error-messages="errors.checkbox"
          type="checkbox">
          <template #label>
            <span class="mr-1">
              {{ $t('account.acceptTerms') }}
            </span>
            <nuxt-link to="/cgu">
              {{ $t('account.cgu') }}
            </nuxt-link>
          </template>
        </v-checkbox>

        <v-btn
          :prepend-icon="commonIcons.register"
          block
          variant="plain"
          class="me-4 mt-8 bg-black"
          type="submit">
          {{ $t('account.register') }}
        </v-btn>

        <!-- <v-btn @click="handleReset"> clear </v-btn> -->
      </form>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
  import { useField, useForm } from 'vee-validate'
  import { toTypedSchema } from '@vee-validate/zod'
  import * as z from 'zod'

  const { t } = useI18n()
  const { register } = useMyAuth()
  const reqErrors = ref<any>(null)
  // const reqErrors = ref<Error | null>(null)
  // const registerSuccess = ref(false)

  const defaultValues = {
    firstName: 'John',
    lastName: 'Doe',
    email: 'john@doe.com',
    password: "*y5Ms~Ei#}'nFa)"
  }

  const passwordSchema = z
    .object({
      password: z
        .string() //
        .min(1, t('form.validation.required'))
        .min(8, t('form.validation.tooSmall', { chars: 8 }))
        .default(defaultValues.password),
      confirmPassword: z
        .string() //
        .min(1, t('form.validation.required'))
        .min(8, t('form.validation.tooSmall', { chars: 8 }))
        .default(defaultValues.password)
    })
    .refine((data) => data.password === data.confirmPassword, {
      message: t('form.validation.passwordsDontMatch'),
      path: ['confirmPassword']
    })

  const userInfosSchema = z.object({
    firstName: z
      .string() //
      .min(1, t('form.validation.required'))
      .default(defaultValues.firstName),
    lastName: z
      .string() //
      .min(1, t('form.validation.required'))
      .default(defaultValues.lastName),
    email: z
      .string() //
      .min(1, t('form.validation.required'))
      .email({ message: t('form.validation.invalidEmail') })
      .default(defaultValues.email),
    checkbox: z
      .literal<boolean>(true, {
        errorMap: () => ({ message: t('form.validation.required') })
      })
      .default(false)
  })

  const validationSchema = toTypedSchema(z.intersection(passwordSchema, userInfosSchema))

  const { handleSubmit, errors } = useForm({
    validationSchema
  })

  const { value: firstName } = useField('firstName')
  const { value: lastName } = useField('lastName')
  const { value: email } = useField('email')
  const { value: password } = useField('password')
  const { value: confirmPassword } = useField('confirmPassword')
  const { value: checkbox } = useField('checkbox')

  const onSubmit = handleSubmit(async (values: any) => {
    // alert(JSON.stringify(values, null, 2))

    // Send registration data
    const userInfos: NewUser = {
      first_name: values.firstName,
      last_name: values.lastName,
      email: values.email,
      password: values.password
    }
    // const { status, error } = await register(userInfos)
    const { data, error } = await register(userInfos)

    // If we get an error
    if (error) {
      // console.log('error: ', error)
      reqErrors.value = error
      alert(JSON.stringify(error.value, null, 2))
      switch (error.value?.statusCode) {
        case 403:
          await navigateTo('/account/login')
          break
        default:
          await navigateTo('/account/register')
      }
    } else {
      alert(JSON.stringify(data.value, null, 2))
      await navigateTo('/account/login')
    }
  })
</script>
