<template>
  <v-row class="justify-center align-center mt-12">
    <h4>
      {{ $t('account.noAccount') }}
    </h4>
  </v-row>
  <v-row class="justify-center align-center pt-4">
    <v-btn
      :prepend-icon="commonIcons.register"
      class="bg-white"
      variant="plain"
      block
      to="/account/register">
      {{ $t('account.register') }}
    </v-btn>
  </v-row>
</template>
