<template>
  <v-list-item @click="handleSignInOut()">
    {{ $t(`auth.${sign}`) }}
    <template #prepend>
      <v-icon :icon="`mdi-${sign}`"></v-icon>
    </template>
    <!-- <v-list-item-title> {{ sign }} </v-list-item-title> -->
    <!-- <v-list-item-title> {{ redirectTo }} </v-list-item-title> -->
  </v-list-item>
</template>

<script setup lang="ts">
  import { InOrOut } from '~/utils'

  interface Props {
    sign: InOrOut
  }
  const props = defineProps<Props>()
  const route = useRoute()

  const { signOut } = useAuth()

  const redirectTo = computed(() => {
    if (route.path !== '/' && route.path !== '/account/login') {
      return route.path
    }
  })

  // console.log('props.sign : ', props.sign)
  const handleSignInOut = async () => {
    if (props.sign === InOrOut.OUT) {
      await signOut()
    } else {
      navigateTo({ path: '/account/login', query: { redirect: redirectTo.value } })
    }
  }
</script>
