<template>
  <v-tooltip
    location="bottom"
    :text="userSubscription ? $t('subscribe.changeSubscription') : $t('subscribe.chosePlan')">
    <template #activator="{ props: tooltipProps }">
      <v-btn
        v-bind="tooltipProps"
        variant="text"
        :class="`${userSubscription || !isLoggedIn ? 'text-grey' : ''}`"
        size="small"
        @click="navigateTo('/subscribe')">
        <v-icon class="mr-2">
          {{ commonIcons.subscriptions }}
        </v-icon>
        <div class="d-none d-sm-flex">
          {{ userSubscription ? $t('subscribe.pricing') : $t('pages.subscribe') }}
        </div>
      </v-btn>
    </template>
  </v-tooltip>
</template>

<script setup lang="ts">
  interface Props {
    isLoggedIn: boolean
  }
  defineProps<Props>()

  const user = useUserStore()
  const userSubscription = user.userSubscription
</script>
