<template>
  <v-container class="mt-12">
    <!-- MAIN LOGIN METHODS -->
    <v-row class="justify-center mt-12 mb-12">
      <AccountLoginCard :redirect="redirect"></AccountLoginCard>
    </v-row>

    <!-- IF CREDENTIALS -->
    <!-- <v-row>
      <v-col
        cols="12"
        sm="6"
        class="px-12">
        <AccountRegisterButton></AccountRegisterButton>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="px-12">
        <AccountForgotPasswordButton></AccountForgotPasswordButton>
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script setup lang="ts">
  // TO DO : check if callbackurl in route (e.g. if user comes from /subscribe)

  const { query } = useRoute()

  const redirect = ref<any | null>()

  definePageMeta({
    auth: {
      // navigateAuthenticatedTo: '/subscribe',
      navigateAuthenticatedTo: '/me/profile',
      // navigateAuthenticatedTo: '/redirection',
      unauthenticatedOnly: true
    }
  })

  onMounted(() => {
    console.log('query :', query)
    redirect.value = query.redirect as LocationQueryValue
  })

  // const { data: providers } = await useFetch('/api/auth/providers')
</script>
