<template>
  <v-container>
    <v-row class="justify-center align-center">
      <AccountRegisterForm></AccountRegisterForm>
    </v-row>
    <br />
    <v-row class="justify-center align-center mt-8">
      <v-btn
        :prepend-icon="commonIcons.login"
        class="bg-white"
        variant="plain"
        to="/account/login">
        {{ $t('account.haveAccount') }}
      </v-btn>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
  definePageMeta({
    auth: {
      unauthenticatedOnly: false,
      navigateAuthenticatedTo: '/account/login'
    }
  })
</script>
