<template>
  <v-menu class="mr-2">
    <template #activator="{ props }">
      <v-tooltip
        location="bottom"
        :text="$t('actions.changeLocale')">
        <template #activator="{ props: tooltipProps }">
          <v-btn
            icon
            color="light"
            variant="text"
            size="small"
            v-bind="{ ...props, ...tooltipProps }">
            {{ locale }}
          </v-btn>
        </template>
      </v-tooltip>
    </template>

    <v-list density="compact">
      <v-list-subheader>
        {{ $t('user.locales.choseLocale').toUpperCase() }}
      </v-list-subheader>

      <v-divider class="mb-3"></v-divider>
      <!-- LOCALES -->
      <v-list-item
        v-for="loc in availableLocales"
        :key="loc.code"
        @click="setAndUpdateProfileLocale(loc.code)">
        <v-list-item-title>
          {{ loc.name }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
  import { useLocale } from 'vuetify'
  import type { LocaleObject } from 'vue-i18n-routing'
  import type { SessionClient } from '~/utils'

  const { getSession } = useAuth()
  const { locale, locales, setLocale } = useI18n()
  const { current } = useLocale()

  const availableLocales = computed(() => {
    return locales.value.filter((i) => typeof i !== 'string') as LocaleObject[]
  })

  const setAndUpdateProfileLocale = async (locCode: string) => {
    setLocale(locCode)
    current.value = locCode

    const session = await getSession()
    if (session) {
      const userSession = session as SessionClient
      await useFetch('/api/me/profile', {
        method: 'put',
        body: {
          userId: userSession.userId,
          locale: locCode
        }
      })
    }
  }
</script>
