<template>
  <v-tooltip
    location="bottom"
    :text="$t('account.manage')">
    <template #activator="{ props: tooltipProps }">
      <v-menu class="mr-2">
        <template #activator="{ props }">
          <v-btn
            :icon="commonIcons.account"
            v-bind="{ ...props, ...tooltipProps }">
          </v-btn>
        </template>

        <NavigationListWithDivider
          v-if="data"
          :subheader="'user.settings.myInfos'"
          :indent="false"
          :links="userLinks">
          <template #beforeList>
            <v-divider class="mb-3"></v-divider>
          </template>
          <template #otherListItems>
            <v-divider class="my-3"></v-divider>
          </template>
          <template #afterList>
            <AccountSignInOrOutListItem :sign="InOrOut.OUT"></AccountSignInOrOutListItem>
          </template>
        </NavigationListWithDivider>
      </v-menu>
    </template>
  </v-tooltip>
</template>

<script setup lang="ts">
  const { data } = useAuth()
</script>
