<template>
  <v-tooltip
    location="bottom"
    :text="$t('actions.changeTheme')">
    <template #activator="{ props: tooltipProps }">
      <v-btn
        v-bind="tooltipProps"
        :icon="currentTheme === 'dark' ? commonIcons.night : commonIcons.day"
        size="small"
        @click="toggleTheme">
      </v-btn>
    </template>
  </v-tooltip>
</template>

<script setup lang="ts">
  import { useTheme } from 'vuetify'
  const theme = useTheme()
  const currentTheme = computed(() => {
    return theme.global.name.value
  })
  const toggleTheme = () => {
    theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
  }
</script>
