<template>
  <div>
    cancel subscription in {{ appDomain }}
    <br />
    stripeSessionId: {{ stripeSessionId }}
  </div>
</template>

<script setup lang="ts">
  const config = useRuntimeConfig()
  const route = useRoute()
  const appDomain = config.public.APP_DOMAIN

  const stripeSessionId = ref(route.query.session_id || '')
</script>
