<template>
  <v-card-title class="mb-6 text-center">
    <h2>
      {{ $t('subscribe.checkout') }}
    </h2>
  </v-card-title>

  <!-- <pre>{{ query }}</pre>
    <br />
    {{ stripeClientSecret }}
    <br /><br />
    {{ stripe || 'loading Stripe' }} -->
  <div id="checkout"></div>

  <v-card-text class="mt-12 pt-12 d-flex justify-center">
    <v-col
      cols="12"
      md="4">
      <v-btn
        :prepend-icon="commonIcons.userSubscription"
        color="primary"
        variant="flat"
        size="large"
        block
        to="/datasets">
        {{ $t('pages.datasets') }}
      </v-btn>
    </v-col>
  </v-card-text>
</template>

<script setup lang="ts">
  const { query } = useRoute()
  const stripeClientSecret = query.client_secret as string
  // console.log('stripeClientSecret > ', stripeClientSecret)

  const stripe = await useClientStripe()
  const checkout = ref<any>()

  watch(stripe, async (next) => {
    console.log('watch > next :', next)
    if (next) {
      console.log()
      console.log('stripe.value > ', stripe.value)
      checkout.value = await stripe.value?.initEmbeddedCheckout({
        clientSecret: stripeClientSecret
      })
      console.log('checkout > ', checkout)
      checkout.value?.mount('#checkout')
    }
  })

  onMounted(async () => {
    if (stripe.value && !checkout.value) {
      checkout.value = await stripe.value?.initEmbeddedCheckout({
        clientSecret: stripeClientSecret
      })
      // console.log('checkout > ', checkout)
      checkout.value?.mount('#checkout')
    }
  })

  // onMounted(async () => {
  // })

  onBeforeUnmount(() => {
    // console.log()
    // console.log('before unmount > checkout > ', checkout)
    // alert('the component is destroyed')
    checkout.value?.destroy()
  })
</script>
