<template>
  <v-card-title class="mt-8 mb-5 text-center">
    <h2>
      {{ $t('subscribe.subscribeTo', { appName }) }}
    </h2>
  </v-card-title>

  <v-container class="h-100 mb-12 pb-12">
    <v-row
      v-if="!pending"
      class="justify-center mt-2">
      <v-col
        v-for="offer in subscriptions.activeOffers"
        :key="offer.title"
        cols="12"
        sm="6"
        md="4"
        lg="3">
        <SubscriptionOfferCard
          v-if="offer && currentCurrency"
          :offer="offer"
          :current-currency="currentCurrency"></SubscriptionOfferCard>
      </v-col>
    </v-row>

    <!-- SELECT CURRENCY -->
    <v-row class="justify-center mt-12">
      <v-col
        cols="10"
        sm="6"
        md="4"
        lg="3">
        <v-select
          v-model="currentCurrency"
          :items="acceptedCurrencies"
          density="compact"
          variant="outlined"
          :label="$t('currencies.choseCurrency')">
          <template #selection="{ item }">
            <!-- {{ item }} -->
            {{ $t(`currencies.${item.value.currency}`) }} ({{ $t('currencies.' + item.value.currency + 'Symbol') }})
          </template>
          <template #item="{ props, item }">
            <!-- {{ item }} -->
            <v-list-item
              v-bind="props"
              :title="`${$t('currencies.' + item.value.currency)} (${$t('currencies.' + item.value.currency + 'Symbol')})`"
              :subtitle="item.value.currency">
            </v-list-item>
          </template>
        </v-select>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
  import type { StripeProductPrices } from '@/utils'

  definePageMeta({
    auth: {
      unauthenticatedOnly: false
    }
  })
  const { appName } = useAppConfig()
  const subscriptions = useSubscriptionStore()
  const messages = useMessageStore()

  const acceptedCurrencies = subscriptions.acceptedCurrrencies
  const defaultCurrency = subscriptions.getDefaultCurrency

  const currentCurrency = ref<CurrencyBasic>(defaultCurrency)
  const products = ref<any>()

  const bodyProductsPrices = subscriptions.getBodyProductsPrices
  // console.log('page subscription > bodyProductsPrices : ', bodyProductsPrices)

  const apiFetchProductPrices = '/api/stripe/prices'

  const { data, error, pending } = await useAsyncData('prices', () =>
    $fetch(apiFetchProductPrices, {
      method: 'post',
      body: bodyProductsPrices
    })
  )

  if (error !== null) {
    messages.setError(error.value as ErrorObj)
  }

  products.value = data.value
  console.log('page subscription > products : ', products)

  if (data !== null) {
    products.value.forEach((product: StripeProductPrices) => {
      console.log()
      subscriptions.setProductPrices(product)
    })
  }
</script>
