<template>
  <!-- <v-row class="align-center justify-center pl-8 pr-4">
    <v-col
      v-if="dataset?.meta?.title"
      class="bg-surface px-6"
      cols="8"
      sm="6"
      md="6"
      lg="4">
      <DataMetaCell
        v-model.meta="dataset.meta"
        :meta="dataset.meta"
        :variant-b="Variant.underlined"
        :hide-detail="true"
        :hide-label="true"
        :hide-icon="true"
        :input-field="datasetMetaBasics[0]">
      </DataMetaCell>
    </v-col>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-col
      cols="4"
      sm="6"
      md="6"
      lg="4"
      class="d-flex direction-row align-center justify-end">
      <DataRemainingDatasets></DataRemainingDatasets>
      <v-tooltip
        location="left"
        :text="$t('datasets.saveToGit')">
        <template #activator="{ props: tooltipProps }">
          <v-btn
            v-bind="tooltipProps"
            variant="flat"
            :prepend-icon="commonIcons.git"
            color="primary"
            class="my-3"
            @click.stop="updateDatasetToDb">
            {{ $t('actions.version') }}
          </v-btn>
        </template>
      </v-tooltip>
    </v-col>
  </v-row> -->
  <!-- </v-card-title> -->

  <!-- DEBUGGING -->
  <v-row v-if="false">
    <v-col>
      <p class="text-caption text-center">
        pending : {{ pending }} <br />
        status : {{ status }} <br />
        dataset?.id : {{ dataset?.id }} <br />
      </p>
    </v-col>
    <v-col>
      dataset :
      <pre> {{ dataset?.meta }}</pre>
    </v-col>
  </v-row>

  <ErrorsNoSubscription
    v-if="!hasActiveSubscription"
    width="100%"
    class="mb-4">
    <!-- TO DO : INSERT TABLE SKELETON IN BACKGROUND + SLOT -->
  </ErrorsNoSubscription>

  <!-- <DataTableSkeleton
    v-if="hasActiveSubscription && dataset"
    :dataset-id="datasetId"
    :dataset="dataset">
  </DataTableSkeleton> -->

  <DataDatasetLoader v-if="pending || status === 'idle' || !dataset?.id"></DataDatasetLoader>
  <DataVirtualTableSkeleton
    v-if="status === 'success' && dataset?.id"
    :dataset-id="dataset.id"
    :is-new-dataset="false">
    <template #refreshDataset>
      <v-tooltip
        location="left"
        :text="$t('datasets.reloadDataset')">
        <template #activator="{ props: tooltipProps }">
          <v-btn
            v-bind="tooltipProps"
            class="ml-4"
            variant="text"
            color="grey"
            @click="reload">
            <v-icon :icon="commonIcons.reload"></v-icon>
          </v-btn>
        </template>
      </v-tooltip>
    </template>
  </DataVirtualTableSkeleton>

  <!-- DEBUGGING -->
  <!-- <v-row
    v-if="true"
    class="mb-3 text-caption">
    <v-col cols="3">
      dataset:
      <pre>{{ dataset }}</pre>
    </v-col>
  </v-row> -->
</template>

<script setup lang="ts">
  const { getSession } = useAuth()
  const { isSubscribed } = useMyAuth()
  const { getDatasetById } = useDatasets()

  // const user = useUserStore()
  const route = useRoute()
  const datasetsStore = useDatasetsStore()
  const messages = useMessageStore()

  const session = (await getSession()) as SessionClient
  const hasActiveSubscription = await isSubscribed({ userId: session.userId })
  console.log('fetch subscriptions > hasActiveSubscription :', hasActiveSubscription)

  const datasetId = computed(() => {
    console.log('page > getDatasetById > route.params : ', route.params)
    return route.params.datasetId as string
  })

  const {
    data: datasetFromDb, //
    pending,
    status,
    refresh,
    requestKey,
    error
  } = await getDatasetById(session, datasetId.value)
  console.log('page > getDatasetById > datasetFromDb.value : ', datasetFromDb.value)

  if (error !== null) {
    messages.setError(error.value as ErrorObj)
  }

  // COMPUTED
  const dataset = computed(() => {
    return datasetsStore.currentDataset as Dataset
  })

  // watch(dataset.value, (next) => {
  //   console.log('\n[datasetId].vue > watch > dataset > next : ', next)
  //   // debounceUpdateDataset('aaarg')
  //   debounceUpdateDataset()
  // })

  // watch(
  //   () => route.params.datasetId,
  //   (next, prev) => {
  //     console.log('\n[datasetId].vue > watch > datasetId > next : ', next)
  //     console.log('[datasetId].vue > watch > datasetId > prev : ', prev)
  //     if (next && next !== prev) {
  //       reload()
  //     }
  //   }
  // )

  // ACTIONS
  // const updateDatasetToDb = async (testArg: string) => {
  // const updateDatasetToDb = async () => {
  //   console.log('updateDatasetToDb ...')
  //   // console.log('updateDatasetToDb ..., testArg', testArg)

  //   // Save to DB
  //   // const { data } = await useFetch(`/api/dataset/${route.params.datasetId}`, {
  //   await useFetch(`/api/dataset/${route.params.datasetId}`, {
  //     method: 'PUT',
  //     body: {
  //       userId: user.userId,
  //       data: {
  //         meta: dataset.value.meta,
  //         headers: dataset.value.headers,
  //         items: dataset.value.items,
  //         gitInfos: dataset.value.gitInfos,
  //         schemaFile: dataset.value.schemaFile,
  //         customPropsFile: dataset.value.customPropsFile
  //       }
  //     }
  //   })
  //   // console.log('updateDatasetToDb > data :', data.value)
  // }

  // SAME BUT DEBOUNCED
  // const debounceUpdateDataset = debounce(updateDatasetToDb, 1000)

  // onMounted(() => {
  //   refresh()
  //   console.log('page > getDatasetById > rawDataset : ', rawDataset)
  //   datasetsStore.setDataset(rawDataset)
  // })

  const reload = async () => {
    console.log('reload > ...')
    // clearNuxtData(`${requestKey.value}`)
    datasetsStore.resetDataset(false)
    clearNuxtData()
    setTimeout(async () => {
      await refresh()
      const rawDataset = datasetFromDb.value as Dataset
      datasetsStore.setDataset(rawDataset)
    }, 500)
  }

  reload()
</script>
