<template>
  <!-- <v-row class="align-center justify-center pl-8 pr-4">
    <v-col
      v-if="dataset"
      class="bg-surface px-6"
      cols="8"
      sm="6"
      md="6"
      lg="4">
      <DataMetaCell
        v-model.meta="dataset.meta"
        :meta="dataset.meta"
        :is-new-dataset="true"
        :variant-b="Variant.underlined"
        :hide-detail="true"
        :hide-label="true"
        :hide-icon="true"
        :input-field="datasetMetaBasics[0]">
      </DataMetaCell>
    </v-col>
    <v-spacer></v-spacer>
    <v-col
      cols="4"
      sm="6"
      md="6"
      lg="4"
      class="d-flex direction-row align-center justify-end">
      <DataRemainingDatasets v-if="canSaveDataset"></DataRemainingDatasets>

      <v-tooltip
        location="left"
        :text="$t(`datasets.${canSaveDataset ? 'canSave' : 'cantSave'}`)">
        <template #activator="{ props: tooltipProps }">
          <v-btn
            v-bind="tooltipProps"
            variant="flat"
            :prepend-icon="commonIcons.save"
            :color="canSaveDataset ? 'primary' : 'default'"
            class="my-3"
            @click.stop="saveNewDatasetToDb">
            {{ $t('actions.save') }}
          </v-btn>
        </template>
      </v-tooltip>
    </v-col>
  </v-row> -->

  <!-- TO DO : IF AUTH TO CREATE BUT NO DATASET IN STORE -->
  <!-- TO DO : BOX WITH BTN CHOICES FOR IMPORT OR CREATE-->

  <ErrorsNoSubscription
    v-if="!hasActiveSubscription"
    width="100%"
    class="mb-4">
    <!-- TO DO : INSERT TABLE SKELETON IN BACKGROUND + SLOT -->
  </ErrorsNoSubscription>

  <!-- <DataTableSkeleton
    v-if="hasActiveSubscription"
    :dataset-id="dataset.id"
    :dataset="dataset"
    :is-new-dataset="true">
  </DataTableSkeleton> -->

  <!-- <DataDatasetLoader v-if="pending || status === 'idle'"></DataDatasetLoader> -->
  <DataVirtualTableSkeleton :is-new-dataset="true"></DataVirtualTableSkeleton>

  <!-- DEBUGGING -->
  <v-row
    v-if="false"
    class="mb-3 text-caption">
    <v-col cols="3">
      userSubscription:
      <pre>{{ userSubscription }}</pre>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  const { getSession } = useAuth()
  const { isSubscribed } = useMyAuth()
  // const { createDataset } = useDatasets()

  const user = useUserStore()
  // const datasetsStore = useDatasetsStore()

  const session = (await getSession()) as SessionClient
  const hasActiveSubscription = await isSubscribed({ userId: session.userId })
  // console.log('fetch subscriptions > hasActiveSubscription :', hasActiveSubscription)

  const userSubscription = user.userSubscription
  // const allowedDatasets = computed(() => userSubscription?.numberDatasets || 1)
  // const remaingingDatasets = computed(() => {
  //   const val = allowedDatasets.value - datasetsStore.userDatasetsLength
  //   return val < 0 ? 0 : val
  // })

  // COMPUTED
  // const dataset = computed(() => {
  //   return datasetsStore.newDataset
  // })

  // const canSaveDataset = computed(() => {
  //   return hasActiveSubscription && userSubscription && datasetsStore.userDatasetsLength < allowedDatasets.value
  // })

  // const saveNewDatasetToDb = async () => {
  //   console.log('saveNewDataset ...')

  //   if (canSaveDataset.value) {
  //     // Save to DB
  //     const body: BodyCreateDataset = {
  //       userId: user.userId as string,
  //       data: {
  //         meta: datasetsStore.newDataset.meta,
  //         headers: datasetsStore.newDataset.headers,
  //         items: datasetsStore.newDataset.items
  //         // gitInfos: datasetsStore.newDataset.gitInfos,
  //         // schemaFile: datasetsStore.newDataset.schemaFile,
  //         // customPropsFile: datasetsStore.newDataset.customPropsFile
  //       }
  //     }

  //     const { data: newDataset } = await createDataset(body)

  //     // console.log('saveNewDatasetToDb > newDataset :', newDataset)
  //     const newDatasetId = newDataset.value?.id as string
  //     // console.log('saveNewDatasetToDb > newDatasetId :', newDatasetId)

  //     // Redirect to '/datasets/[datasetId]'
  //     navigateTo(`/datasets/${newDatasetId}`)
  //   } else {
  //     navigateTo('/subscribe')
  //   }
  // }
</script>
