<template>
  <v-card-title class="mt-8 mb-5 px-8 text-center">
    <h4>
      {{ $t('datasets.myDatasets') }}
      (
      {{ datasetList?.length }}
      )
      <v-btn
        class="bg-white ml-4"
        variant="flat"
        size="x-small"
        :icon="commonIcons.reload"
        @click="reload">
      </v-btn>
    </h4>
    <!-- <p class="text-caption">
      pending : {{ pending }} <br />
      status : {{ status }} <br />
    </p> -->
  </v-card-title>

  <ErrorsNoSubscription
    v-if="!hasActiveSubscription"
    width="100%"
    class="mb-4">
  </ErrorsNoSubscription>

  <v-container class="pt-0 pb-12 mb-12">
    <v-card
      variant="flat"
      color="background">
      <!-- DATASET CARDS -->
      <v-card-text v-if="datasetList?.length && status !== 'idle'">
        <draggable
          v-model="datasetList"
          tag="div"
          class="v-row"
          handle=".handle"
          item-key="id"
          :animation="300">
          <template #item="{ element: dataset }">
            <v-col
              cols="12"
              sm="12"
              md="6"
              lg="4"
              class="">
              <DataDatasetCard :dataset="dataset"> </DataDatasetCard>
            </v-col>
          </template>
          <template #footer>
            <v-col
              cols="12"
              sm="12"
              md="4"
              lg="3"
              class="">
              <div class="justify-left h-100 d-flex align-center">
                <NavigationToCreateButton></NavigationToCreateButton>
              </div>
            </v-col>
          </template>
        </draggable>
      </v-card-text>

      <!-- LOADER -->
      <v-card-text v-if="!datasetList?.length || pending || status === 'idle'">
        <v-row>
          <v-col
            v-for="i in 3"
            :key="i"
            cols="12"
            sm="6"
            md="4"
            lg="3">
            <v-skeleton-loader
              type="heading, text@2"
              class="py-2 px-8">
            </v-skeleton-loader>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            md="4"
            lg="3">
            <div class="justify-left h-100 d-flex align-center">
              <NavigationToCreateButton :loading="true"></NavigationToCreateButton>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>

  <!-- DEBUGGING -->
  <v-row
    v-if="false"
    class="mb-3 text-caption">
    <v-col cols="3">
      userSubscription:
      <pre>{{ userSubscription }}</pre>
    </v-col>
    <v-col cols="3">
      datasetsStore.userDatasets:
      <pre>{{ datasetsStore.userDatasets }}</pre>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import draggable from 'vuedraggable'
  import { type DatasetBasicInfos } from '@/utils'

  definePageMeta({
    // middleware: ['get-user-datasets']
  })

  // CHECK IF USER HAS AN ACTIVE SUBSCRIPTION
  const { getSession } = useAuth()
  const { isSubscribed } = useMyAuth()
  const { getUserDatasets } = useDatasets()

  const user = useUserStore()
  const datasetsStore = useDatasetsStore()
  const messages = useMessageStore()

  const userSubscription = user.userSubscription

  const session = (await getSession()) as SessionClient
  const userId = session.userId
  const hasActiveSubscription = await isSubscribed({ userId })

  const {
    data: userDatasets, //
    pending,
    status,
    error,
    refresh,
    requestKey
  } = await getUserDatasets({ userId })

  if (error !== null) {
    messages.setError(error.value as ErrorObj)
  }

  // if (userDatasets.value) {
  // datasetsStore.setUserDatasets(userDatasets.value as DatasetBasicInfos[])
  // console.log('userDatasets.value :', userDatasets.value)
  // }

  const reload = async () => {
    // console.log('reload > userDatasets.value :', userDatasets.value)
    clearNuxtData(`${requestKey.value}`)
    setTimeout(async () => {
      await refresh()
      datasetsStore.setUserDatasets(userDatasets.value as DatasetBasicInfos[])
    }, 500)
  }

  const datasetList = computed({
    get: () => datasetsStore.userDatasets,
    set: (value: DatasetBasicInfos[]) => {
      datasetsStore.setUserDatasets(value)
    }
  })

  onMounted(() => {
    reload()
  })
</script>
