<template>
  <form @submit.prevent="onSubmit">
    <v-row>
      <v-col
        cols="12"
        sm="6"
        class="mb-6">
        <v-text-field
          v-model="gitLoginField"
          :prepend-inner-icon="`mdi-${provider}`"
          variant="filled"
          clearable
          :error-messages="errors.gitLogin"
          :placeholder="$t('user.myPseudo', { provider: provider })"
          :label="$t(`user.settings.${provider}Name`)"
          @input="hasChanged = true"
          @click:clear="(gitLoginField = ''), (hasChanged = true)"></v-text-field>

        <!-- gitLoginField: {{ gitLoginField }}<br /> -->
        <!-- refGitLogin: {{ refGitLogin }}<br /> -->
        <!-- {{ hasChanged }} -->
        <!-- :disabled="!!refGitLogin" -->
        <!-- :disabled="!gitLoginField" -->
        <v-btn
          :loading="loading"
          :disabled="!hasChanged"
          variant="outlined"
          :prepend-icon="`mdi-${gitLoginField ? 'check' : 'close'}`"
          class="me-4 mt-4"
          type="submit">
          {{ $t(`actions.${gitLoginField ? 'save' : 'remove'}`) }}
        </v-btn>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="d-flex flex-column pt-0 mt-n6">
        <p class="text-subtitle-1 text-grey mb-2">
          {{ $t(`user.settings.${provider}Url`) }}
        </p>
        <v-btn
          variant="outlined"
          :prepend-icon="`mdi-${provider}`"
          :href="gitUrl"
          :disabled="!gitLoginField">
          {{ $t(`user.settings.${provider}Url`) }}
        </v-btn>
        <pre class="mt-1">{{ gitUrl }}</pre>

        <p class="text-subtitle-1 text-grey mb-2 mt-6">
          {{ $t(`user.settings.${provider}Repos`) }}
        </p>
        <v-btn
          variant="outlined"
          :prepend-icon="`mdi-${provider}`"
          :href="gitRepos"
          :disabled="!gitLoginField">
          {{ $t(`user.settings.${provider}Repos`) }}
        </v-btn>
        <pre class="mt-1">{{ gitRepos }}</pre>
      </v-col>
    </v-row>
  </form>
</template>

<script setup lang="ts">
  import {
    useForm, //
    useField
  } from 'vee-validate'
  import { toTypedSchema } from '@vee-validate/zod'
  import * as z from 'zod'

  interface Props {
    userId: string
    provider: string
    gitLogin?: string
  }
  const props = defineProps<Props>()

  const messages = useMessageStore()
  const hasChanged = ref<boolean>(false)

  // const refGitLogin = ref<string | undefined>(props.gitLogin)

  // const { t } = useI18n()
  const loading = ref<boolean>(false)

  const defaultUserValues = {
    gitLogin: props.gitLogin || ''
  }

  const githubInfosSchema = z.object({
    gitLogin: z
      .string() //
      // .min(1, t('form.validation.required'))
      .default(defaultUserValues.gitLogin)
  })

  const validationSchema = toTypedSchema(githubInfosSchema)

  const { handleSubmit, errors } = useForm({
    validationSchema
  })

  const { value: gitLoginField } = useField('gitLogin')

  const gitUrl = computed(() => {
    switch (props.provider) {
      case 'github':
        return `https://github.com/${gitLoginField.value || '<PSEUDO>'}`
      case 'gitlab':
        return `https://gitlab.com/${gitLoginField.value || '<PSEUDO>'}`
    }
  })
  const gitRepos = computed(() => {
    switch (props.provider) {
      case 'github':
        return `https://github.com/${gitLoginField.value || '<PSEUDO>'}?tab=repositories`
      case 'gitlab':
        return `https://gitlab.com/users/${gitLoginField.value || '<PSEUDO>'}/projects`
    }
  })

  const onSubmit = handleSubmit(async (values: any) => {
    alert(JSON.stringify(values, null, 2))

    // refGitLogin.value = values.gitLoginField

    loading.value = true

    // Send profile data
    const profileInfos: BodyProfile = {
      userId: props.userId
    }

    switch (props.provider) {
      case 'github':
        profileInfos.githubLogin = values.gitLogin
        profileInfos.githubUrl = gitUrl ? gitUrl.value : ''
        profileInfos.githubRepos = gitRepos ? gitRepos.value : ''
        break
      case 'gitlab':
        profileInfos.gitlabLogin = values.gitLogin
        profileInfos.gitlabUrl = gitUrl ? gitUrl.value : ''
        profileInfos.gitlabRepos = gitRepos ? gitRepos.value : ''
        break
    }

    const { error, pending } = await useFetch('/api/me/profile', {
      method: 'put',
      body: profileInfos
    })

    loading.value = pending.value

    if (error !== null) {
      // If we get an error
      // alert(JSON.stringify(error.value, null, 2))
      // console.log('error: ', error.value)
      messages.setError(error.value as ErrorObj)
    }
  })
</script>
