<template>
  <form @submit.prevent="onSubmit">
    <v-row>
      <v-col
        cols="12"
        sm="6">
        <v-text-field
          v-model="firstNameField"
          :prepend-inner-icon="commonIcons.userProfile"
          variant="filled"
          :error-messages="errors.firstName"
          :label="$t('user.firstName')"></v-text-field>
      </v-col>
      <v-col
        cols="12"
        sm="6">
        <v-text-field
          v-model="lastNameField"
          :prepend-inner-icon="commonIcons.userProfile"
          variant="filled"
          :error-messages="errors.lastName"
          :label="$t('user.lastName')"></v-text-field>
      </v-col>
    </v-row>

    <!-- REPEAT EMAIL BUT DISABLED -->
    <v-text-field
      class="mt-3"
      variant="filled"
      :prepend-inner-icon="commonIcons.email"
      :model-value="props.email"
      disabled
      :label="$t('user.email')"></v-text-field>

    <v-btn
      :loading="loading"
      variant="outlined"
      :prepend-icon="commonIcons.validate"
      class="mt-6"
      type="submit">
      {{ $t('actions.save') }}
    </v-btn>
  </form>
</template>

<script setup lang="ts">
  import { useField, useForm } from 'vee-validate'
  import { toTypedSchema } from '@vee-validate/zod'
  import * as z from 'zod'

  interface Props {
    userId: string
    email: string
    firstName?: string
    lastName?: string
  }
  const props = defineProps<Props>()

  const { t } = useI18n()
  const loading = ref<boolean>(false)

  const defaultUserValues = {
    userId: props.userId,
    email: props.email,
    firstName: props.firstName || '',
    lastName: props.lastName || ''
  }

  const userInfosSchema = z.object({
    firstName: z
      .string() //
      .min(1, t('form.validation.required'))
      .default(defaultUserValues.firstName),
    lastName: z
      .string() //
      .min(1, t('form.validation.required'))
      .default(defaultUserValues.lastName)
  })

  const validationSchema = toTypedSchema(userInfosSchema)

  const { handleSubmit, errors } = useForm({
    validationSchema
  })

  const { value: firstNameField } = useField('firstName')
  const { value: lastNameField } = useField('lastName')

  const onSubmit = handleSubmit(async (values: any) => {
    // alert(JSON.stringify(values, null, 2))

    loading.value = true
    // Send user data
    const userInfos: BodyUser = {
      userId: props.userId,
      first_name: values.firstName,
      last_name: values.lastName
    }
    const { data, error, pending } = await useFetch('/api/me/user', {
      method: 'put',
      body: userInfos
    })

    loading.value = pending.value

    if (error) {
      // If we get an error
      console.log('error: ', error)
      alert(JSON.stringify(error.value, null, 2))
    } else {
      alert(JSON.stringify(data.value, null, 2))
    }
  })
</script>
