<template>
  <v-card-title class="mt-8 mb-5 text-center">
    <h4>
      {{ $t('user.settings.dashboard') }}
    </h4>
  </v-card-title>
  <!-- <v-row class="align-center flex-column pt-2">
    <UiBasicCard :title="$t('user.settings.dashboard')"> Your dashboard </UiBasicCard>
  </v-row> -->
</template>

<script setup lang="ts"></script>
