<template>
  <v-row
    class="align-center flex-column mt-4">
    <!-- UPDATE INFOS FROM USER / PROFILE TABLES -->
    <UiBasicCard
      :title="$t('user.settings.profile')"
      :debug="false">
      <template #tabs>
        <!-- TABS -->
        <v-tabs
          v-model="tab"
          stacked
          :slider-color="navigationStore.isDark ? '' : 'primary'"
          grow
          class="tabs-profile"
          >
          <v-tab value="user-infos" href="#user-infos">
            <v-icon start>{{  commonIcons.info }}</v-icon>
            {{ $t('user.settings.infos') }}
          </v-tab>
  
          <v-tab value="profile-gitlab" href="#profile-gitlab">
            <v-icon start>{{ commonIcons.gitlab }}</v-icon>
            {{ $t('user.settings.gitlab') }}
          </v-tab>
  
          <v-tab value="profile-github" href="#profile-github">
            <v-icon start>{{ commonIcons.github }}</v-icon>
            {{ $t('user.settings.github') }}
          </v-tab>
        </v-tabs>
        <v-divider class="ma-0"></v-divider>
      </template>
      <v-window 
        v-model="tab"
        class="mb-8 pt-4" 
        >
        <v-window-item  value="user-infos">
          <v-card-title class="mb-6 text-grey text-weight-bold">
            {{ $t('user.settings.myInfos') }}
          </v-card-title>
          <MeUserForm
            :user-id="session.userId"
            :email="session.user.email"
            :first-name="dataUser?.first_name || ''"
            :last-name="dataUser?.last_name || ''"
            ></MeUserForm>
        </v-window-item>
  
        <v-window-item  value="profile-gitlab">
          <v-card-title class="mb-6 text-grey text-weight-bold">
            {{ $t('user.settings.gitlab') }}
          </v-card-title>
          <MeGitInfosForm
            :user-id="session.userId"
            :provider="'gitlab'"
            :git-login="dataProfile?.gitlabLogin || ''"
          ></MeGitInfosForm>
        </v-window-item>
  
        <v-window-item  value="profile-github">
          <v-card-title class="mb-6 text-grey text-weight-bold">
            {{ $t('user.settings.github') }}
          </v-card-title>
          <MeGitInfosForm
            :user-id="session.userId"
            :provider="'github'"
            :git-login="dataProfile?.githubLogin || ''"
          ></MeGitInfosForm>
        </v-window-item>
      </v-window>
  
      <!-- DEBUG -->
      <template #debug>
        <p>
          session :<pre>{{ session }}</pre>
        </p>
        <v-divider class="my-5"></v-divider>
        <p>
          dataUser (settings) :<pre>{{ dataUser }}</pre>
        </p>
        <v-divider class="my-5"></v-divider>
        <p>
          dataAccounts :<pre>{{ dataAccounts }}</pre>
        </p>
        <v-divider class="my-5"></v-divider>
        <p>
          dataProfile :<pre>{{ dataProfile }}</pre>
        </p>
      </template>
    </UiBasicCard>
  </v-row>
</template>

<script setup lang="ts">

  const navigationStore = useNavigationStore()

  const tab = ref<string | null>(null)

  const { getSession } = useAuth()
  const session = await getSession() as SessionClient

  const { data: dataUser } = await useFetch('/api/me/user', {
    method: 'post',
    body: {
      userId: session.userId
    }
  })
  const { data: dataAccounts } = await useFetch('/api/me/accounts', {
    method: 'post',
    body: {
      userId: session.userId
    }
  })
  const { data: dataProfile } = await useFetch('/api/me/profile', {
    method: 'post',
    body: {
      userId: session.userId
    }
  })

  onMounted(() => {
    const { hash } = useRoute()
    // console.log(hash)
    if (hash) {
      tab.value = hash.slice(1)
    }
  })
</script>

<style scoped>
.tabs-user {
  justify-items: stretch;
  display: grid;
}
</style>
