<template>
  <v-row class="align-center flex-column pt-2">
    <UiBasicCard :title="$t('user.settings.settings')"> Your settings infos </UiBasicCard>
  </v-row>
</template>

<script setup lang="ts">
  // definePageMeta({
  //   layout: 'settings'
  // })
</script>
