<template>
  <v-row
    class="align-center flex-column mt-4">
    <UiBasicCard 
      :title="$t('user.settings.subscription')"
      :debug="true"> 
      
      <v-row v-if="userSubscription" class="align-center justify-center mb-2">
        
        <!-- MAIN TITLE -->
        <v-col cols="12" class="text-center mt-12 mb-8">
          <h2>
            {{ userSubscription.subscriptionCategory }}
          </h2>
        </v-col>

        <v-divider class="mt-4 mb-2"></v-divider>

        <v-col v-if="product" cols="12" class="text-center">
          {{ $t(product.subtitle) }}
        </v-col>

        <v-divider class="mt-2 mb-8"></v-divider>

        <!-- FEATURES -->
        <v-col 
          cols="12"
          sm="12"
          md="6"
          lg="4"
          class="text-center text-subtitle px-3">
          <v-btn
            class="text-none"
            variant="outlined"
            color="default"
            block
            :prepend-icon="commonIcons.users"
            to="/profile">
            {{ $t('offer.feature.users', userSubscription.numberUsers || 1 ) }}
          </v-btn>  
        </v-col>
        <!-- <v-divider vertical class="d-none d-md-flex"></v-divider> -->
        <v-col 
          cols="12"
          sm="12"
          md="6"
          lg="4"
          class="text-center text-subtitle px-3">
          <v-btn
            class="text-none"
            variant="outlined"
            color="default"
            block
            :prepend-icon="commonIcons.datasets"
            to="/datasets">
            {{ $t('offer.feature.datasets', userSubscription.numberDatasets || 1 ) }}
              <!-- {{  $t('pages.datasets-overview') }} -->
            </v-btn>
        </v-col>
        <!-- <v-divider vertical class="d-none d-lg-flex"></v-divider> -->
        <v-col 
          cols="12"
          sm="12"
          md="6"
          lg="4"
          class="text-center text-subtitle px-3">
          <v-btn 
            class="text-none"
            variant="outlined"
            color="default"
            block
            :prepend-icon="commonIcons.widgets"
            to="/widgets">
            {{ $t('offer.feature.widgets', userSubscription.numberWidgets || 1 ) }}
            <!-- {{  $t('pages.widgets-overview') }} -->
            </v-btn>
        </v-col>
      </v-row>
    
      <!-- DEBUG -->
      <template 
        v-if="false"
        #debug>
        <p>
          session :<pre>{{ session }}</pre>
        </p>
        <v-divider class="my-5"></v-divider>
        <p>
          lastActiveSubscription :<pre>{{ lastActiveSubscription }}</pre>
        </p>
        <v-divider class="my-5"></v-divider>
        <p>
          dataSubscriptions :<pre>{{ dataSubscriptions }}</pre>
        </p>
      </template>
    </UiBasicCard>

    <v-row class="justify-center mt-6 mb-12">
        <v-btn
          variant="flat"
          size="large"
          color="primary"
          :prepend-icon="commonIcons.subscriptions"
          to="/subscribe">
          {{ $t('subscribe.changeSubscription') }}
        </v-btn>
      </v-row>
  </v-row>
</template>

<script setup lang="ts">
  import { commonIcons } from '@/utils/icons'
  import { datamiProducts } from '@/data/products'

  const { getSession } = useAuth()
  const { 
    getLastActiveSubscription, // 
    getSubscriptions
  } = useMyAuth()

  // const subscriptionFields = [
  //   { text: '', key: 'subscriptionCategory' },
  //   { text: '', key: 'numberUsers' },
  //   { text: '', key: 'numberDatasets' },
  //   { text: '', key: 'numberWidgets' },
  // ]

  const user = useUserStore()
  const userSubscription = user.userSubscription

  const session = await getSession() as SessionClient

  const lastActiveSubscription = await getLastActiveSubscription({userId: session.userId})
  // console.log('fetch subscriptions > lastActiveSubscription :', lastActiveSubscription)
  
  const dataSubscriptions = await getSubscriptions({userId: session.userId})
  // console.log('fetch subscriptions > dataSubscriptions :', dataSubscriptions)

  // const { data: dataSubscriptions } = await useFetch('/api/me/subscriptions', {
  //   method: 'post',
  //   body: {
  //     userId: session.userId
  //   }
  // })
  // console.log('fetch subscriptions > dataSubscriptions.value :', dataSubscriptions.value)

  const product = computed(() => {
    return datamiProducts.find(p => p.subscriptionCategory === userSubscription?.subscriptionCategory)
  })
</script>
