<template>
  <v-navigation-drawer
    :rail="!navigation.drawerLeft"
    permanent
    class="bg-background"
    @mouseover="navigation.openLeftDrawer()"
    @mouseleave="navigation.closeLeftDrawer()">
    <!-- expand-on-hover -->
    <!-- USER PREVIEW -->
    <v-list>
      <v-list-item
        v-if="userInfos"
        :prepend-avatar="userInfos.image"
        :title="userInfos.name"
        :subtitle="userInfos.email"></v-list-item>
      <v-list-item
        v-else
        :title="appName"
        :subtitle="$t('welcome')">
        <template #prepend>
          <v-avatar rounded="0">
            <v-img
              :src="appLogoUrl"
              :alt="`Logo ${appName}`"></v-img>
          </v-avatar>
        </template>
      </v-list-item>
    </v-list>
    <v-divider></v-divider>

    <!-- DATASETS -->
    <NavigationListWithDivider
      v-if="userId"
      :subheader="'welcome'"
      :links="homeLinks"></NavigationListWithDivider>

    <NavigationListWithDivider
      v-if="userId"
      :subheader="'datasets.myDatasets'"
      :links="userDatasets"></NavigationListWithDivider>

    <!-- WIDGETS -->
    <NavigationListWithDivider
      v-if="userId"
      :subheader="'widgets.myWidgets'"
      :links="userWidgets"></NavigationListWithDivider>

    <!-- DOCUMENTATION -->
    <NavigationListWithDivider
      :subheader="'documentation.documentation'"
      :links="documentationLinks"></NavigationListWithDivider>

    <!-- USER LINKS -->
    <NavigationListWithDivider
      v-if="userId"
      :subheader="'user.settings.myInfos'"
      :links="userLinks"></NavigationListWithDivider>

    <!-- SIGNOUT -->
    <template v-if="userId">
      <v-list
        density="compact"
        nav>
        <AccountSignInOrOutListItem :sign="InOrOut.OUT"></AccountSignInOrOutListItem>
      </v-list>
    </template>
    <template v-else>
      <v-list
        density="compact"
        nav>
        <AccountSignInOrOutListItem :sign="InOrOut.IN"></AccountSignInOrOutListItem>
      </v-list>
    </template>
    <v-divider></v-divider>
  </v-navigation-drawer>
</template>

<script setup lang="ts">
  import { InOrOut } from '~/utils'

  const { appName, appLogoUrl } = useAppConfig()
  const navigation = useNavigationStore()
  const user = useUserStore()
  const userId = user.userId
  const userInfos = user.userInfos
</script>
