<template>
  <v-list
    :density="isCompact ? 'compact' : undefined"
    nav>
    <v-list-subheader
      v-if="subheader"
      :class="`${indent ? 'ml-12' : 'justify-center'} text-weight-black text-grey`">
      {{ $t(subheader).toUpperCase() }}
    </v-list-subheader>
    <slot name="beforeList"></slot>
    <template
      v-for="link in links"
      :key="link.to">
      <v-list-item
        v-if="!link.disable"
        :prepend-icon="link.icon"
        :to="link.to">
        {{ $t(link.text) }}
      </v-list-item>
    </template>
    <slot name="otherListItems"></slot>
    <slot name="afterList"></slot>
  </v-list>
  <v-divider></v-divider>
</template>

<script setup lang="ts">
  interface Props {
    links: BasicLink[]
    subheader?: string
    isCompact?: boolean
    indent?: boolean
  }
  withDefaults(defineProps<Props>(), {
    subheader: undefined,
    isCompact: true,
    indent: true
  })
</script>
