<template>
  <!-- ERROR BANNER -->
  <v-app-bar
    v-if="messages.storeError"
    elevation="0"
    density="default">
    <ErrorsBanner :error-msg="messages.storeError"></ErrorsBanner>
  </v-app-bar>

  <!-- MAIN NAVBAR -->
  <!-- scroll-behavior="hide"
    scroll-threshold="300" -->
  <!-- color="backgroundTransparent" -->
  <v-app-bar
    elevation="0"
    :class="`bg-${transparentRoutes.includes(route.path) ? 'transparent' : 'background'} bgcolor-translucid `"
    density="default">
    <!-- LEFT DRAWER SWITCH -->
    <v-tooltip
      location="right"
      :text="$t(`navigation.${navigation.drawerLeft ? 'closeLeftDrawer' : 'openLeftDrawer'}`)">
      <template #activator="{ props: tooltipProps }">
        <v-app-bar-nav-icon
          v-bind="tooltipProps"
          :variant="navigation.drawerLeft ? 'flat' : 'text'"
          size="small"
          @click.stop="navigation.toogleLeftDrawer()">
        </v-app-bar-nav-icon>
      </template>
    </v-tooltip>

    <!-- APP TITLE -->
    <v-img
      v-if="user.loggedIn && route.path !== '/'"
      class="ml-5 mr-0"
      max-height="30"
      max-width="30"
      :src="appLogoUrl"
      :alt="`Logo ${appName}`"
      contain
      @click="navigateTo('/')"></v-img>
    <v-app-bar-title
      v-if="!navigation.drawerLeft || user.loggedIn"
      class="align-center">
      <span
        v-if="route.path === '/'"
        class="text-subtitle-1 mb-2">
        {{ appName }}
      </span>
      <UiBreadcrumbs></UiBreadcrumbs>
    </v-app-bar-title>

    <v-spacer></v-spacer>

    <!-- storeError => {{ storeError }}
    <v-spacer></v-spacer> -->

    <!-- MAIN ROUTES AND MENUS -->
    <!-- <v-btn
      variant="text"
      :class="`${userSubscription || !user.loggedIn ? 'text-grey' : ''}`"
      size="small"
      @click="navigateTo('/subscribe')">
      <v-icon class="mr-2">
        {{ commonIcons.subscriptions }}
      </v-icon>
      <div class="d-none d-sm-flex">
        <span v-if="userSubscription">
          {{ $t('subscribe.pricing') }}
        </span>
        <span v-else>
          {{ $t('pages.subscribe') }}
        </span>
      </div>
    </v-btn> -->
    <AccountSubscribeButton :is-logged-in="user.loggedIn"></AccountSubscribeButton>

    <!-- USER SETTINGS -->
    <!-- <v-divider
      v-if="user.loggedIn"
      class="ms-2 me-2 d-none d-sm-flex"
      vertical
      inset></v-divider> -->
    <UserMenuButton v-if="user.loggedIn"></UserMenuButton>

    <!-- LOGIN / LOGOUT -->
    <!-- <v-divider
      v-if="!user.loggedIn"
      class="ms-2 me-2 d-none d-sm-flex"
      vertical
      inset></v-divider> -->
    <div
      v-if="!user.loggedIn"
      class="mx-2">
      <AccountLoginButton></AccountLoginButton>
    </div>

    <!-- DARK / LIGHT MODE -->
    <!-- <v-divider
      class="ms-2 me-2 d-none d-sm-flex"
      vertical
      inset></v-divider> -->
    <UserThemeButton></UserThemeButton>

    <!-- LOCALES -->
    <!-- <v-divider
      class="ms-2 me-2 d-none d-sm-flex"
      vertical
      inset></v-divider> -->
    <UserLocaleSelector></UserLocaleSelector>
  </v-app-bar>
</template>

<script setup lang="ts">
  // import { useTheme } from 'vuetify'

  // const theme = useTheme()
  const user = useUserStore()
  const route = useRoute()
  const navigation = useNavigationStore()
  const messages = useMessageStore()

  // const userSubscription = user.userSubscription

  const transparentRoutes = ['/']

  const { appName, appLogoUrl } = useAppConfig()

  // const currentTheme = computed(() => {
  //   return theme.global.name.value
  // })
  // const toggleTheme = () => {
  //   theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
  // }
</script>
