<template>
  <v-btn
    size="x-large"
    rounded="xl"
    :class="`${hover ? 'bg-primary' : 'bg-surface'}`"
    :variant="loading ? 'plain' : 'flat'"
    :to="'/datasets/create'"
    :disabled="disabled"
    @mouseover="hover = true"
    @mouseleave="hover = false">
    <v-icon>{{ commonIcons.add }}</v-icon>
    <span
      v-if="hover"
      class="ml-2 text-none">
      {{ $t('datasets.create') }}
    </span>
  </v-btn>
</template>

<script setup lang="ts">
  interface Props {
    disabled?: boolean
    loading?: boolean
  }
  defineProps<Props>()
  const hover = ref(false)
</script>
