<template>
  <v-card-title class="mt-8 mb-5 text-center">
    <h4>
      {{ title }}
    </h4>
  </v-card-title>

  <v-card
    variant="flat"
    :width="width || '70%'"
    class="pt-0 mt-6">
    <v-card-title
      v-if="subtitle"
      class="my-2 text-left">
      <h2>
        {{ $t(subtitle) }}
      </h2>
    </v-card-title>

    <!-- TABS -->
    <slot name="tabs"></slot>

    <!-- CONTENT -->
    <v-card-text class="px-10 pb-10">
      <slot></slot>
    </v-card-text>

    <!-- ACTIONS -->
    <v-card-actions v-if="buttons">
      <slot name="buttons"></slot>
    </v-card-actions>
  </v-card>

  <!-- DEBUGGING -->
  <div
    v-if="debug"
    class="my-6">
    <slot name="debug"></slot>
  </div>
</template>

<script setup lang="ts">
  interface Props {
    title: string
    subtitle?: string
    width?: string
    buttons?: boolean
    debug?: boolean
  }

  defineProps<Props>()
</script>
