<template>
  <client-only>
    <v-breadcrumbs
      v-if="crumbs.length > 1"
      :class="`my-0 py-0 text-body-2 text-${navigationStore.isDark ? 'white' : 'grey-darken-1'}`"
      :items="crumbs">
      <template #title="{ item }">
        <nuxt-link
          :class="`text-${navigationStore.isDark ? 'white' : 'grey-darken-1'} ${item.icon ? 'v-btn v-btn--icon text-center' : 'text-decoration-none'}`"
          :variant="item.icon && 'outlined'"
          density="compact"
          :type="item.icon && 'button'"
          :to="item.to">
          <span v-if="!item.icon">
            {{ $t(item.title) }}
          </span>
          <v-icon
            v-else
            size="large">
            {{ item.icon }}
          </v-icon>
        </nuxt-link>
      </template>
    </v-breadcrumbs>
  </client-only>
</template>

<script setup lang="ts">
  const navigationStore = useNavigationStore()

  const rawCrumbsExceptions = [
    {
      start: 'datasets-',
      keep: ['datasets-overview', 'datasets-create', 'datasets-contributions'],
      replaceBy: 'datasets.dataset'
    },
    {
      start: 'widgets-',
      keep: ['widgets-overview', 'widgets-create'],
      replaceBy: 'widgets.widget'
    }
  ]

  interface Crumb {
    code: string
    title: string
    to?: string
    icon?: string
  }
  const crumbs = computed(() => {
    const route = useRoute()
    const name = route.name as string
    const path = route.path.split('/')

    let acc: Crumb[] = []

    path.forEach((p, i) => {
      const prevRouteTo = i > 0 ? acc[i - 1].to : undefined
      let prefix = 'pages.'
      let baseTitle = path.slice(1, i + 1).join('-')
      rawCrumbsExceptions.forEach((i) => {
        if (baseTitle.startsWith(i.start) && !i.keep.includes(baseTitle)) {
          prefix = ''
          baseTitle = i.replaceBy
        }
      })
      const title = i > 0 ? `${prefix}${baseTitle}` : 'pages.home'
      const routeInfos: Crumb = {
        title,
        code: prevRouteTo ? p : 'home',
        to: prevRouteTo ? path.slice(0, i + 1).join('/') : '/',
        icon: !prevRouteTo ? commonIcons.home : undefined
      }
      acc.push(routeInfos)
    })
    acc[-1] = { code: name, title: name, to: undefined }
    acc = acc.filter((a) => a.code !== '')
    return acc
  })
</script>
