<template>
  <v-row
    wrap
    no-gutters
    class="justify-center">
    <v-col
      cols="4"
      class="text-center">
      <v-divider
        :vertical="vertical"
        class="mt-3 border-opacity-50"></v-divider>
    </v-col>
    <v-col
      cols="4"
      class="text-center text-h6">
      <slot></slot>
    </v-col>
    <v-col
      cols="4"
      class="text-center">
      <v-divider
        :vertical="vertical"
        class="mt-3 border-opacity-50"></v-divider>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  interface Props {
    vertical?: boolean
  }
  defineProps<Props>()
</script>
