<template>
  <v-row class="justify-center">
    <v-col
      cols="12"
      class="d-flex justify-center">
      <a
        :href="partner.url"
        target="_blank"
        class="">
        <v-img
          :width="width || 300"
          :max-height="height || 100"
          :src="partner.logo"
          :alt="`Logo ${partner.title}`"
          class=""></v-img>
      </a>
    </v-col>
    <!-- <v-col
      cols="12"
      class="text-center">
      <p class="text-subtitle-2">{{ $t(partner.subtitle) }}</p>
    </v-col> -->
  </v-row>
  <!-- {{ partner }} -->
</template>

<script setup lang="ts">
  import type { ExternalLink } from '~/utils'

  interface Props {
    partner: ExternalLink
    width?: string | number
    height?: string | number
  }
  defineProps<Props>()
</script>
