/* INPUTS */

.file-input {
  display: none;
}
.hover-offer:hover {
  border: 3px solid white;
  transform: scale(1.05);
  transform-origin: center;
}
.hover-offer {
  border: 3px solid transparent;
}

.input-hide-label .v-field__append-inner {
  padding-top: 0.6em !important;

}
.input-hide-label .v-field__prepend-inner,
.input-hide-label .v-field__clearable {
    padding-top: 0.2em !important;
}
.input-hide-label .v-field__input {
    padding-top: 0 !important;
}