@import '@/assets/css/inputs.css';
@import '@/assets/css/table.css';

.bgcolor-translucid {
  -khtml-opacity: .75;
  -moz-opacity: .75;
  -ms-filter: ”alpha(opacity=75)”;
  filter: alpha(opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.75);
  opacity: .75;
}

.blur {
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}