/* TABLE SKELETON */
.bordered {
  border-color: black;
}
/* .border-grey {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.border-white {
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
} */
.expansion-panel-flat {
  z-index: unset !important;
}
.expansion-panel-flat > div > div > .v-expansion-panel-text__wrapper {
  padding: 0;
}

/* TABLE */

.table-custom {
  display: block;
  /* white-space: nowrap; */
  height: auto;
  border: 1px solid grey;
}
.table-custom-virtual .v-data-table__td {
  padding: 0 0 0 0.7rem  !important;
  border-right: 1px solid rgb(221, 220, 220);
} 
@media screen and (max-width:1264px) {
  .table-custom {
    max-height: calc(100vh - 299px);
  }
}
@media screen and (min-width:1264px) {
  .table-custom {
    max-height: calc(100vh - 222px);
  }
}
.table-custom.un-scrollable-content table {
  overflow: hidden;
}


.cell-light {
  background-color: rgb(228, 227, 227) !important;
}
.cell-light-2 {
  background-color: rgb(245, 245, 245) !important;
}
.cell-dark {
  background-color: rgb(102, 102, 102) !important;
}
.cell-dark-2 {
  background-color: rgb(49, 49, 49) !important;
}

.header-cell {
  min-width: 100px;
  max-width: 550px;
  max-height: 35px !important;
  /* border-left: 1px solid rgb(254, 254, 254) !important; */
}
.header-cell:last-child {
  border-right: 1px solid grey !important;
}

/*  ROWS  */
.row-cell, .sticky-col, .sticky-col-end {
  border-bottom: 1px solid rgb(128, 128, 128);
} 
.row-cell {
  /* background-color: white !important; */
  padding: 0 !important;
}
.row-helpers-left {
  display: table-cell !important;
}

.item-cell {
  height: 100%;
  width: 100%;
  max-width: 550px;
}
/* .item-cell > input {
  padding: 0 0.5rem !important;
  width: 100%;
  height: 100%;
} */
.item-edit-cell {
  display: flex;
  align-items: center;
}
.item-edit-cell input,
.item-edit-cell textarea,
.header-edit-cell textarea {
  font-size: small;
}
.item-edit-cell textarea {
  margin-right: .5em;
  margin-bottom: .5em;
}
.item-cell-number input {
  margin-right: .5em;
  text-align: end;
}
.item-cell-number input:after {
  margin: 1em ;
}
.item-cell-boolean .v-checkbox-btn {
  justify-content: center !important;
}
.item-edit-cell .v-input__prepend {
  padding-top: 0 !important;
  margin-right: .5em !important;
}
.item-edit-cell input {
  padding-top: 0 !important;
}
.item-edit-cell-imput {
  width: 100%;
}

.sticky-col-header {
  z-index: 3 !important;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  border-right: 1px solid grey;
  min-width: 60px;
}
.table-custom table thead tr th:last-child,
.sticky-col-header-end {
  z-index: 3 !important;
  right: 0;
  position: -webkit-sticky;
  position: sticky;
  border-left: 1px solid grey;
  text-align: center !important;
  padding: 0 !important;
  min-width: 50px;
}
.table-custom table tbody tr td:first-child,
.sticky-col {
  z-index: 1 !important;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  border-right: 1px solid grey;
  text-align: center !important;
  padding: 0 !important;
  & div {
    justify-content: center;
  }
}
.table-custom.table-custom-dark table tbody tr td:first-child,
.table-custom.table-custom-dark table tbody tr td:last-child {
  background-color: grey;
}
.table-custom.table-custom-light table tbody tr td:first-child,
.table-custom.table-custom-light table tbody tr td:last-child {
  background-color: rgb(245, 245, 245);
}

.table-custom table tbody tr td:last-child, 
.sticky-col-end {
  z-index: 1 !important;
  right: 0;
  position: -webkit-sticky;
  position: sticky;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: center;
  min-width: 50px;
}
.relative-col {
  z-index: 0;
  position: relative;
  border-right: 1px solid rgb(221, 220, 220);
}
.relative-col.header-cell {
  border-right: 1px solid white;
}
.compact-row > td {
  height: 35px !important;
}

.add-row-dark {
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.add-row-light {
  /* border-top: 1px solid rgb(128, 128, 128); */
  border-bottom: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(128, 128, 128);
}

.sticky-row-end {
  z-index: 3 !important;
  bottom: 0;
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
}
.sticky-row-end > td {
  border-right: 1px solid rgb(254, 254, 254) !important;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  /* background-color: rgb(234, 233, 233) !important; */
}
.sticky-row-end > td:last-child {
  border-right: 1px solid grey !important;
  /* background-color: rgb(234, 233, 233) !important; */
}

/* SCROLLBAR */

/* width */
.scrollable-content > .v-table__wrapper::-webkit-scrollbar {
  /* display: none !important; */
  width: 5px;
  height: 5px;
}
.scrollable-content > .v-table__wrapper {
  scrollbar-width: 5px;
  -ms-overflow-style: none;
}
.scrollable-content textarea::-webkit-scrollbar {
  /* display: none !important; */
  width: 15px;
  /* height: 15px; */
}
.scrollable-content textarea {
  scrollbar-width: 15px;
  -ms-overflow-style: none;
}

/* Track */
.scrollable-content > .v-table__wrapper:-webkit-scrollbar-track,
.scrollable-content textarea:-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
.scrollable-light > .v-table__wrapper::-webkit-scrollbar-thumb {
  background: #91bfdbff;
}
.scrollable-light textarea::-webkit-scrollbar-thumb {
  background: whitesmoke;
}
.scrollable-dark > .v-table__wrapper::-webkit-scrollbar-thumb,
.scrollable-dark textarea::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
.scrollable-content > .v-table__wrapper::-webkit-scrollbar-thumb:hover,
.scrollable-content textarea::-webkit-scrollbar-thumb:hover {
  background: #fb8c00;
}

/* .sortable-ghost {
  max-width: 500px;
} */