<template>
  <div>
    <h1>TEST PAGE</h1>
    <p>{{ locale.toUpperCase() }} - {{ $t('welcome') }}</p>
    <hr clas="my-5" />
    <v-btn
      class="bg-white my-10"
      variant="outlined"
      @click="refresh()"
      >Refresh data from url : {{ testUrl }}</v-btn
    >
    <div>
      <pre><code>{{ pending ? '... loading ...' : data }}</code></pre>
    </div>
  </div>
</template>

<script setup lang="ts">
  const { locale } = useI18n()
  const testUrl = '/api/public/test?username=jpy'
  definePageMeta({
    auth: {
      unauthenticatedOnly: false,
      navigateAuthenticatedTo: '/protected'
    }
  })

  // const { data, pending } = await useLazyFetch(testUrl)
  // const { data, pending } = await useAsyncData('test', () => $fetch(testUrl))
  const { data, pending } = await useLazyAsyncData('test', () => $fetch(testUrl))

  const refresh = () => refreshNuxtData('test')
</script>
