<template>
  <v-container class="align-start">
    <h1>Protected page</h1>
    <p class="mt-4">
      data:
      <pre>{{ data }}</pre>
    </p>
    <p class="mt-4">
      status:
      <pre>{{ status }}</pre>
    </p>
    <p class="mt-4">
      session:
      <pre>{{ session }}</pre>
    </p>
    <p class="mt-4">
      csrf:
      <pre>{{ csrf }}</pre>
    </p>
  </v-container>
</template>

<script setup lang="ts">
  const { data, status, getSession, getCsrfToken } = useAuth()
  const session = await getSession()
  const csrf = await getCsrfToken()
</script>
