<template>
  <v-footer :class="`bg-${navigationStore.isDark ? 'grey-darken-4' : 'datamiBlueLight'} h-contacts`">
    <v-row
      no-gutters
      class="my-2 justify-center">
      <v-col cols="3">
        <v-btn
          to="/us/contact"
          variant="text"
          class="">
          {{ $t('pages.us-contact') }}
        </v-btn>
      </v-col>
      <v-col
        cols="6"
        class="text-center">
        <v-btn
          v-for="footerIconLink in footerLinks"
          :key="footerIconLink.title"
          :icon="footerIconLink.icon"
          color="default"
          size="small"
          variant="text"
          :to="footerIconLink.url"></v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn
          to="/tests"
          variant="text"
          class="">
          {{ $t('tests') }}
        </v-btn>
        <v-btn
          to="/tests/protected"
          variant="text"
          class="">
          {{ $t('protected') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>
<script setup lang="ts">
  import { footerLinks } from '@/data/partners'
  const navigationStore = useNavigationStore()
</script>
<!-- <style scoped>
  .h-contacts {
    max-height: 50px;
  }
</style> -->
