<template>
  <v-footer :class="`bg-${navigationStore.isDark ? 'black' : 'datamiBlueDark'}`">
    <v-row
      class="text-center justify-center align-center"
      no-gutters>
      <v-col cols="2">
        <span class="text-caption"> {{ yearCurrent }} </span>
      </v-col>
      <v-col cols="2">
        <v-avatar
          size="25px"
          class="mx-2"
          rounded="0">
          <v-img
            :src="appLogoUrl"
            :alt="`Logo ${appName}`" />
        </v-avatar>
      </v-col>
      <v-col cols="2">
        <span class="text-caption">{{ appName }}</span>
      </v-col>
    </v-row>
  </v-footer>
</template>
<script setup lang="ts">
  const { appName, appLogoUrl } = useAppConfig()
  const navigationStore = useNavigationStore()
  const yearCurrent = new Date().getFullYear()
</script>
