<template>
  <v-footer :class="`mt-n12 bg-${navigationStore.isDark ? 'grey-darken-3' : 'grey-lighten-3'} py-3 h-links`">
    <v-row
      class="justify-center align-center"
      no-gutters>
      <v-col cols="3">
        <v-btn
          :href="`https://datami.multi.coop?locale=${locale}`"
          target="_blank"
          block
          variant="text">
          {{ $t('datami.official') }}
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn
          :href="`https://datami-docs.multi.coop?locale=${locale}`"
          target="_blank"
          block
          variant="text">
          {{ $t('datami.documentation') }}
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-btn
          :href="`https://multi.coop?locale=${locale}`"
          target="_blank"
          block
          variant="text">
          {{ $t('multi.website') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>
<script setup lang="ts">
  const { locale } = useI18n()
  const navigationStore = useNavigationStore()
</script>
<!-- <style scoped>
  .h-links {
    max-height: 50px;
  }
</style> -->
