<template>
  <v-app>
    <v-main :class="`fill-height ${isBgSurface ? 'bg-surface' : ''}`">
      <ClientOnly>
        <NavigationLeftDrawer></NavigationLeftDrawer>
        <NavigationNavbarDefault></NavigationNavbarDefault>
        <!-- <NuxtLoadingIndicator color="#fc8d59ff"></NuxtLoadingIndicator> -->
      </ClientOnly>
      <v-container :class="`px-0 py-0 full-height ${fluidContainer}`">
        <!-- MAIN SLOT -->
        <slot></slot>
      </v-container>
      <FooterLinks></FooterLinks>
      <FooterContact></FooterContact>
      <FooterCredits></FooterCredits>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
  const route = useRoute()
  // const navigationStore = useNavigationStore()

  const pagesBgSurface = [
    // '/', //
    '/subscription/checkout'
  ]

  const pagesFluid = [
    '/',
    '/datasets', //
    '/widgets'
  ]

  const path = computed(() => route.path)

  const isBgSurface = computed(() => {
    return pagesBgSurface.includes(path.value)
  })

  const fluidContainer = computed(() => {
    const boolArray: boolean[] = []
    pagesFluid.forEach((route) => {
      boolArray.push(path.value.startsWith(route))
    })
    const checker = boolArray.find((v) => v === true)
    return checker ? 'v-container--fluid' : ''
  })
</script>

<style scoped>
  .full-height {
    /* min-height: calc(100% - 64px); */
    min-height: 100vh;
  }
</style>
