<template>
  <v-row class="align-center flex-column pt-2">
    <UiBasicCard :title="$t('pages.us')"> Infos</UiBasicCard>
  </v-row>
</template>

<script setup lang="ts">
  definePageMeta({
    auth: {
      unauthenticatedOnly: false
    }
  })
</script>
