<template>
  <v-row class="my-6 justify-center">
    <v-card
      variant="flat"
      class="bg-transparent">
      <v-card-text class="mt-12">
        <v-avatar
          size="200px"
          class=""
          rounded="0">
          <v-img
            :src="appLogoUrl"
            :alt="`Logo ${appName}`" />
        </v-avatar>
        <p class="text-center text-caption text-grey">Powered by Datami</p>
      </v-card-text>
    </v-card>
  </v-row>

  <v-row class="mt-12 mb-2 justify-center">
    <v-col
      cols="10"
      sm="10"
      md="8"
      lg="8">
      <p class="text-h1 text-center">
        {{ $t('home.slogan') }}
      </p>
    </v-col>
    <v-col
      cols="6"
      class="mb-12 text-center">
      <p class="text-h5 text-grey">
        {{ $t('home.subtitle') }}
      </p>
    </v-col>
  </v-row>

  <v-row class="justify-center mb-12 pb-12">
    <v-spacer></v-spacer>
    <v-col
      cols="12"
      sm="5"
      md="3">
      <v-btn
        variant="flat"
        color="primary"
        size="x-large"
        class=""
        block
        prepend-icon="mdi-arrow-right-thick"
        :to="`${userId ? '/datasets' : '/account/login'}`">
        {{ $t(`${userId ? 'datasets.myDatasets' : 'actions.begin'}`) }}
      </v-btn>
    </v-col>
    <v-col
      cols="12"
      sm="5"
      md="3">
      <v-btn
        variant="outlined"
        color="grey"
        size="x-large"
        class=""
        block
        prepend-icon="mdi-arrow-right-thick"
        :to="`${userId ? '/me/subscription' : '/subscribe'}`">
        {{ $t(`${userId ? 'pages.me-subscription' : 'actions.discover'}`) }}
      </v-btn>
    </v-col>
    <v-spacer></v-spacer>
  </v-row>

  <v-row class="my-12">
    <div class="my-12 py-12"></div>
  </v-row>

  <v-sheet class="d-flex py-12">
    <v-row class="my-12 pa-12 justify-center align-center">
      <v-col
        cols="12"
        class="text-center text-h4 mb-12 font-weight-thin text-grey">
        <p>
          {{ $t('partners.workWithDatami') }}
        </p>
      </v-col>
      <v-col
        v-for="client in DatamiClients"
        :key="client.title"
        cols="3"
        sm="3"
        md="2"
        lg="1"
        class="mx-12">
        <UiPartnerImage
          :partner="client"
          :width="150"
          :height="'350px'"></UiPartnerImage>
      </v-col>
    </v-row>
  </v-sheet>

  <v-sheet class="d-flex py-12 my-12 bg-background">
    <v-row class="my-12 py-12 justify-center align-center">
      <v-col class="text-center mx-12 px-12">
        <p class="text-grey text-h3 font-weight-thin px-12 mx-12">
          {{ $t('home.catchPhrase') }}
        </p>
      </v-col>
    </v-row>
  </v-sheet>

  <v-sheet class="d-flex py-12 mb-12">
    <v-row class="my-12 pa-12 justify-center align-center">
      <v-col
        cols="12"
        class="text-center text-h4 mb-12 font-weight-thin text-grey">
        <p>
          {{ $t('partners.supportDatami') }}
        </p>
      </v-col>
      <v-col
        v-for="client in DatamiSponsors"
        :key="client.title"
        cols="3"
        sm="4"
        md="4"
        lg="4"
        class="ma-4">
        <UiPartnerImage :partner="client"></UiPartnerImage>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script setup lang="ts">
  import { DatamiClients, DatamiSponsors } from '@/data/partners'
  definePageMeta({
    auth: {
      unauthenticatedOnly: false,
      navigateAuthenticatedTo: '/protected'
    }
  })

  const { appName, appLogoUrl } = useAppConfig()
  const user = useUserStore()
  const userId = user.userId
</script>
