<template>
  <client-only>
    <slot name="divider"></slot>
    <!-- model : {{ model }} - value : {{ value }} -->
    <!-- {{ inputField.key }} -->
    <p
      v-if="showInputTitle"
      class="mt-0 mb-4 text-caption">
      {{ inputField.table }} / {{ inputField.key }}
    </p>

    <v-row :class="`align-center ${hideLabel ? 'input-hide-label' : ''}`">
      <!-- TEXT -->
      <v-col v-if="inputType === InputType.text">
        <v-text-field
          v-model="value"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          @update:model-value="handleChange"></v-text-field>
      </v-col>
      <v-col v-if="inputType === InputType.textarea">
        <v-textarea
          v-model="value"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          rows="3"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          @update:model-value="handleChange"></v-textarea>
      </v-col>

      <!-- EMAIL -->
      <v-col v-if="inputType === InputType.email">
        <v-text-field
          v-model="value"
          :prepend-inner-icon="inputIcon"
          type="email"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          @update:model-value="handleChange"></v-text-field>
      </v-col>

      <!-- NUMBER -->
      <v-col v-if="inputType === InputType.number">
        <v-text-field
          v-model="value"
          :prepend-inner-icon="inputIcon"
          type="number"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          @update:model-value="handleChange"></v-text-field>
      </v-col>

      <!-- FILE -->
      <v-col v-if="inputType === InputType.file">
        <v-file-input
          v-model="inputFile"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :label="inputLabel"
          @update:model-value="handleChange"></v-file-input>
      </v-col>

      <!-- SWITCH -->
      <v-col v-if="inputType === InputType.switch">
        <v-switch
          v-model="value"
          :hide-details="hideDetail"
          color="primary"
          inset
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="$t(inputHelper) + ' - ' + $t(`misc.${value.toString()}`)"></v-switch>
      </v-col>

      <!-- SELECT -->
      <v-col v-if="inputType === InputType.select">
        <v-select
          v-model="value"
          :prepend-inner-icon="inputIcon"
          :items="inputField.options?.select"
          :item-title="inputField.options?.selectKey"
          :item-value="inputField.options?.selectValue"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          @update:model-value="handleChange"></v-select>
      </v-col>

      <!-- CHECKBOX -->
      <v-col v-if="inputType === InputType.checkbox">
        <v-checkbox
          v-model="value"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          @change="handleChange"></v-checkbox>
      </v-col>
    </v-row>
    <!-- <h5>
      {{ value }}
    </h5> -->
  </client-only>
</template>

<script setup lang="ts">
  // import { useField } from 'vee-validate'
  // import { toTypedSchema } from '@vee-validate/zod'
  // import * as z from 'zod'
  // import { getFromOnePath, setProperty } from '@/utils/helpers'
  import { Variant, Density } from '@/utils'

  interface Props {
    datasetId?: string
    isNewDataset?: boolean
    inputField: InputField

    model?: any
    headerId?: string

    // variant?: Variant
    // density?: Density
    hideDetail?: boolean | 'auto'
    hideLabel?: boolean
    hideIcon?: boolean
    clearable?: boolean
    showInputTitle?: boolean
  }
  const props = withDefaults(defineProps<Props>(), {
    datasetId: undefined,
    model: undefined,
    headerId: undefined,
    // variant: Variant.filled,
    // density: Density.default,
    hideDetail: 'auto',
    hideLabel: false,
    hideIcon: false,
    clearable: true,
    showInputTitle: false
  })

  const { t } = useI18n()
  const datasetsStore = useDatasetsStore()

  const isReady = ref<boolean>(false)
  // const isFromFile = ref<boolean>(false)

  const value = ref<any>()
  const inputFile = ref<any>()
  const errorMessage = ref<any>()

  const inputType = computed(() => {
    return props.inputField.inputType
  })
  const inputKey = computed(() => {
    return props.inputField.key
  })
  const readOnly = computed(() => {
    return props.inputField.readonly
  })
  const inputLocal = computed(() => {
    return props.inputField.inputLocal
  })
  const inputHelper = computed(() => {
    return `${props.inputField.table}.helpers.${inputLocal.value}.${inputKey.value}`
  })
  const inputLabel = computed(() => {
    return (!props.hideLabel && t(inputHelper.value)) || undefined
  })
  const inputIcon = computed(() => {
    // console.log(inputType.value)
    return (!props.hideIcon && findInputIcon(inputType.value)) || undefined
  })
  const variant = computed(() => {
    return props.inputField.variant || Variant.filled
  })
  const density = computed(() => {
    return props.inputField.density || Density.default
  })
  // ZOD VALIDATION
  // let schema
  // switch (inputType.value) {
  //   case InputType.text:
  //     schema = z.string() // .min(3, t('form.validation.required'))
  //     break
  //   case InputType.email:
  //     schema = z.string().email({ message: t('form.validation.invalidEmail') })
  //     break
  //   case InputType.checkbox:
  //     schema = z.boolean()
  //     break
  //   default:
  //     schema = z.any()
  // }

  // const validationSchema = toTypedSchema(schema)
  // const { value, errorMessage } = useField(props.inputField.key, validationSchema)

  const handleChange = () => {
    if (inputLocal.value && isReady.value) {
      // console.log()
      // console.log('watch > value > inputKey.value ', inputKey.value)
      // console.log('watch > value > next ', next)
      // console.log('watch > value > inputLocal.value ', inputLocal.value)
      // console.log('watch > value > props.model ', props.model)
      switch (inputLocal.value) {
        case LocalItem.headers:
          props.headerId && datasetsStore.updateDatasetHeader(props.headerId, inputKey.value, value.value, props.isNewDataset)
          break
        case LocalItem.meta:
          datasetsStore.updateDataset({ key: `meta.${inputKey.value}`, value: value.value }, props.isNewDataset)
          break
        default:
          datasetsStore.updateDataset({ key: inputKey.value, value: value.value }, props.isNewDataset)
      }
    }
  }
  watch(
    () => props.model,
    (next) => {
      // console.log('watch > model > next ', next)
      value.value = next
    }
  )
  onBeforeMount(() => {
    if (inputType.value === InputType.switch) {
      value.value = !!props.model
    } else {
      value.value = props.model
    }
    isReady.value = true
  })
</script>
