<template>
  <v-list-item
    :disabled="disabled"
    @click.stop="choseFiles">
    <template #prepend>
      <v-icon>
        {{ inputIcon(inputField) }}
      </v-icon>
    </template>

    <template #title>
      {{ $t(`imports.${inputField.inputType}`) }}
    </template>

    <input
      v-if="inputType !== InputType.fileUrl"
      ref="fileInput"
      type="file"
      class="file-input"
      :accept="accetpsFormats(inputType)"
      @input="handleFileImport" />
  </v-list-item>
</template>

<script setup lang="ts">
  import { InputType, FileTarget, type HandleImportFileEvent } from '@/utils'
  import { accetpsFormats } from '@/utils/files'

  interface Props {
    target: FileTarget
    datasetId: string
    isNewDataset?: boolean
    highlight?: boolean
    disabled?: boolean
    inputField: InputField
    selected?: InputType
  }
  const props = defineProps<Props>()
  const emit = defineEmits(['fileDataToProcess', 'fileReady', 'enterUrl'])

  const datasetsStore = useDatasetsStore()

  const fileInput = ref<HTMLInputElement>()
  const loading = ref<boolean>(false)

  defineExpose({
    fileInput
  })

  const inputType = computed(() => {
    return props.inputField.inputType as InputType
  })

  const inputIcon = (inputField: InputField) => {
    return findInputIcon(inputField.inputType)
  }

  const choseFiles = () => {
    switch (inputType.value) {
      case InputType.fileBlank:
        datasetsStore.resetDataset(props.isNewDataset)
        return emit('fileReady')
      case InputType.fileUrl:
        return emit('enterUrl')
      default:
        fileInput.value?.click()
    }
  }

  const handleFileImport = (event: Event) => {
    loading.value = true

    // console.log('handleFileImport > event :', event)
    const files = (event.target as HTMLInputElement).files
    // console.log('handleFileImport > files :', files)

    const reader = new FileReader()

    if (files && files[0]) {
      const firstFile = files[0]
      const inType = inputType.value
      console.log('firstFile :', firstFile)
      console.log('inputType.value :', inputType.value)

      const fileName = firstFile.name
      const fileExtension = fileName.split('.').pop()?.toLowerCase()

      let payload: HandleImportFileEvent

      reader.onload = (ev) => {
        // console.log('onload > ev :', ev)
        const data: any = ev.target?.result
        payload = { target: props.target, inputType: inType, data, fileName, fileExtension }
        // console.log('onload > payload :', payload)
        // emit('fileDataToProcess', payload)
      }

      reader.onerror = (err) => {
        console.error('onerror > error', err)
      }

      reader.onloadend = (ev) => {
        // console.log('onloadend > ev :', ev)
        // console.log('onloadend > payload :', payload)
        emit('fileDataToProcess', payload)
      }

      switch (inputType.value) {
        case InputType.fileCsv:
          reader.readAsText(firstFile)
          break
        case InputType.fileXls:
          reader.readAsArrayBuffer(firstFile)
          break
        case InputType.fileJson || InputType.fileGeoJson:
          reader.readAsText(firstFile)
          break
        case InputType.fileMarkdown || InputType.fileText:
          reader.readAsText(firstFile)
          break
        case InputType.fileImage:
          reader.readAsDataURL(firstFile)
          break
        default:
          reader.readAsText(firstFile)
      }
    }
    setTimeout(() => {
      loading.value = false
    }, 250)
  }
</script>
