<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    class="mr-2">
    <template #activator="{ props }">
      <v-btn
        :disabled="disabled"
        variant="text"
        size="small"
        v-bind="props">
        <v-icon size="large"> {{ icon }} </v-icon>
        <v-tooltip
          activator="parent"
          location="top"
          :text="tooltip">
          {{ tooltip }}
        </v-tooltip>
      </v-btn>
    </template>

    <v-list density="compact">
      <v-list-subheader>
        {{ $t('imports.choseImport').toUpperCase() }}
      </v-list-subheader>

      <v-divider class="mb-3"></v-divider>

      <!-- IMPORT METHODS -->
      <InputsFileListItem
        v-for="inputField in inputFields"
        :key="`${inputField.table}.${inputField.key}`"
        ref="fileInputRef"
        :target="target"
        :dataset-id="datasetId"
        :is-new-dataset="isNewDataset"
        :input-field="inputField"
        :highlight="highlight"
        :disabled="disabled"
        :selected="selectedFileType"
        @file-data-to-process="handleFileDataFromList"
        @file-ready="emit('fileReady')">
      </InputsFileListItem>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
  import { InputType, FileTarget, type HandleImportFileEvent } from '@/utils'

  interface Props {
    target: FileTarget
    datasetId: string
    isNewDataset?: boolean
    tooltip?: string
    highlight?: boolean
    disabled?: boolean
    selectedFileType?: InputType
    inputFields: InputField[]
    icon: string
  }
  const props = defineProps<Props>()

  const emit = defineEmits(['selectedFileType', 'filePreview', 'fileReady'])

  const menu = ref(false)
  const fileInputRef = ref<any>(null)

  const handleFileDataFromList = ({ target, inputType, data, fileName, fileExtension }: HandleImportFileEvent) => {
    // console.log('handleFileData > data :', data)
    // console.log('handleFileData > inType :', inputType)

    emit('selectedFileType', inputType)
    emit('filePreview', { target, inputType, data, fileName, fileExtension })
    menu.value = false
  }
</script>
