<template>
  <v-card
    v-if="offer"
    variant="flat"
    class="pt-0 hover-offer"
    height="100%"
    hover
    @click="handleSubmit(offer)">
    <!-- OFFER TITLE / SUBTITLE -->
    <v-card-title class="my-4 text-center">
      <h2>
        {{ $t(offer.title) }}
      </h2>
    </v-card-title>

    <!-- SUBTITLE -->
    <v-divider></v-divider>
    <v-card-text
      class="my-1 text-grey text-center d-flex align-center justify-center"
      style="height: 50px">
      {{ $t(offer.subtitle) }}
    </v-card-text>
    <v-divider></v-divider>

    <!-- OFFER PRICE -->
    <v-card-text
      v-if="offer.prices"
      class="text-center mt-4 mb-3">
      <p>
        <span
          v-if="offer.prices"
          class="text-h3 text-weight-bold">
          {{ findPrice(offer)?.stripePrice || 0 }}
        </span>
        <span class="text-h6 ml-1">
          {{ $t(`currencies.${currentCurrency.currency}Symbol`) }}
          / {{ $t('offers.month') }}
        </span>
      </p>
    </v-card-text>

    <!-- CALL TO ACTION BTN -->
    <v-card-actions :class="`${offer.prices ? 'mt-2 mb-6' : 'my-12 py-6'} px-8`">
      <v-btn
        v-if="!user.loggedIn"
        variant="flat"
        color="primary"
        size="large"
        block
        :to="offer.prices ? '/account/login?redirect=/subscribe' : '/us/contact'">
        <span class="text-weight-bold">
          {{ offer.prices ? $t('auth.login') : $t('us.contactUs') }}
        </span>
      </v-btn>
      <v-btn
        v-else
        type="submit"
        :loading="loading"
        variant="flat"
        color="primary"
        size="large"
        block>
        <span class="">
          {{ offer.prices ? $t('subscribe.subscribe') : $t('us.contactUs') }}
        </span>
      </v-btn>
    </v-card-actions>
    <v-divider></v-divider>

    <!-- DEBUGGING -->
    <!-- <v-card-text class="px-8">
    Stripe :
    <pre>{{ offer.stripeProductKey }}</pre>
    <pre>{{ findPrice(offer)?.stripePriceKey }}</pre>
    </v-card-text>
    <v-divider></v-divider> -->

    <!-- OFFER FEATURES -->
    <v-card-text class="px-8">
      <v-list
        density="compact"
        class="bg-transparent">
        <v-list-item
          v-for="feat in offer.features"
          :key="feat.title"
          :prepend-icon="commonIcons.validate">
          {{ $t(feat.title, feat.amount || 1) }}
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
  interface Props {
    offer: Offer
    currentCurrency: CurrencyBasic
  }
  const props = defineProps<Props>()

  const user = useUserStore()
  const messages = useMessageStore()

  const loading = ref<boolean>(false)

  const findPrice = (offer: Offer) => {
    return offer.prices?.find((price) => price.currency === props.currentCurrency.currency)
  }

  const handleSubmit = async (offer: Offer) => {
    // console.log()
    // console.log('handleSubmit > offer :', offer)
    // console.log('handleSubmit > user.userId :', user.userId)

    messages.resetError()

    loading.value = true

    if (offer.prices) {
      const priceKey = findPrice(offer)?.stripePriceKey
      // console.log('handleSubmit > priceKey :', priceKey)

      const subscriptionBody: BodySubscription = {
        userId: user.userId as string,
        lookupKey: priceKey as string
      }
      // console.log('handleSubmit > subscriptionBody :', subscriptionBody)
      const { data, error, pending } = await useFetch('/api/stripe/subscribe', {
        method: 'post',
        body: subscriptionBody,
        headers: {
          'Content-Type': 'application/json'
        }
      })
      loading.value = pending.value

      if (error.value || !data.value?.clientSecret) {
        // If we get an error
        console.log('error.value?.statusMessage : ', error.value?.statusMessage)
        messages.setError({ statusCode: error.value?.statusCode, statusMessage: error.value?.statusMessage } as ErrorObj)
        // alert(JSON.stringify(error.value, null, 2))
      } else {
        // console.log('data: ', data.value)
        navigateTo(`/subscribe/checkout?client_secret=${data.value?.clientSecret}`)
      }
    } else {
      navigateTo('/us/contact')
    }
  }
</script>

<style scoped>
  .hover-offer:hover {
    border: 3px solid white;
    transform: scale(1.05);
    transform-origin: center;
  }
  /* .hover-offer:hover p {
    transform: scaleY(0.9);
    transform-origin: center;
  } */
  .hover-offer {
    border: 3px solid transparent;
  }
</style>
