<template>
  <v-card
    class="bg-surface hover-dataset handle h-100 d-flex flex-column"
    variant="flat"
    @mouseover="hover = true"
    @mouseleave="hover = false">
    <!-- <template #prepend> </template> -->
    <template #title>
      <v-row class="d-flex align-top">
        <!-- HANDLE ICON -->
        <v-col cols="2">
          <v-tooltip
            location="top"
            :text="$t('datasets.handleDataset')">
            <template #activator="{ props: tooltipProps }">
              <!-- <v-icon
                v-bind="tooltipProps"
                class="mx-1"
                size="small"
                :color="textColor">
                {{ commonIcons.handleVertical }}
              </v-icon> -->
              <v-btn
                v-bind="tooltipProps"
                :icon="dataset.meta?.icon || 'mdi-circle'"
                :color="dataset.meta?.color"
                size="small"
                density="comfortable"
                :variant="dataset.meta?.icon ? 'flat' : 'plain'"
                @click="navigateTo(`/datasets/${dataset.id}`)"></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <!-- DATASET TITLE -->
        <v-col cols="8">
          <p class="text-center">
            <v-tooltip
              location="top"
              :text="`${$t('datasets.openDataset')} : ${dataset.meta?.title}`">
              <template #activator="{ props: tooltipProps }">
                <nuxt-link
                  v-bind="tooltipProps"
                  :class="`mx-2 dataset-card-title text-decoration-none text-subtitle-1 font-weight-bold ${mainTextColor}`"
                  :to="`/datasets/${dataset.id}`">
                  {{ dataset.meta?.title as string }}
                </nuxt-link>
              </template>
            </v-tooltip>
          </p>
        </v-col>
        <!-- GIT INFOS -->
        <v-col cols="2">
          <v-tooltip
            location="top"
            :text="$t('datasets.gitInfos')">
            <template #activator="{ props: tooltipProps }">
              <v-btn
                v-bind="tooltipProps"
                :color="textColor"
                :icon="commonIcons.git"
                size="small"
                variant="text"
                density="compact">
              </v-btn>
            </template>
          </v-tooltip>
        </v-col>
      </v-row>
    </template>
    <!-- <template #append> </template> -->
    <v-card-text
      v-if="dataset.meta"
      class="mx-2">
      <v-row class="align-center justify-center">
        <!-- SUBTITLE -->
        <v-col
          v-if="dataset.meta.subtitle"
          cols="12"
          class="text-center">
          <span class="text-grey text-body-1">
            {{ dataset.meta.subtitle as string }}
          </span>
          <!-- DEBUGGING -->
          <!-- {{ dataset.meta }} -->
        </v-col>
        <!-- TAGS -->
        <v-col
          v-if="dataset.meta.tags"
          cols="12"
          class="text-left">
          <div class="d-flex justify-center ga-2">
            <v-chip
              v-for="(tag, index) in dataset.meta.tags"
              :key="`${dataset.id}-tag-${index}`"
              color="datamiBlueDark"
              size="small"
              density="compact">
              {{ tag }}
            </v-chip>
          </div>
        </v-col>
        <!-- DESCRIPTION -->
        <v-col
          v-if="dataset.meta.description"
          cols="12"
          class="text-left">
          <span class="text-grey text-body-2">
            {{ dataset.meta.description as string }}
          </span>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <!-- <v-row class="justify-center">
      </v-row> -->
      <v-row class="justify-center align-center">
        <!-- LICENCE -->
        <v-chip
          v-if="dataset.meta?.licence"
          class="mr-2"
          size="small"
          density="comfortable">
          <v-icon
            size="small"
            class="mr-1"
            >mdi-license</v-icon
          >
          {{ dataset.meta.licence }}
        </v-chip>
        <!-- OPEN DATA -->
        <v-tooltip
          location="top"
          :text="$t(`datasets.${isOpen ? 'openData' : 'closeData'}`)">
          <template #activator="{ props: tooltipProps }">
            <v-icon
              v-bind="tooltipProps"
              class="mr-2"
              :color="textColor"
              size="small">
              {{ isOpen ? commonIcons.openData : commonIcons.closeData }}
            </v-icon>
          </template>
        </v-tooltip>
        <!-- CONTRIBUTIONS -->
        <v-tooltip
          location="top"
          :text="$t(`datasets.${isLocked ? 'lock' : 'unlock'}`)">
          <template #activator="{ props: tooltipProps }">
            <v-icon
              v-bind="tooltipProps"
              class="mr-2"
              :color="textColor"
              size="small">
              {{ isLocked ? commonIcons.lock : commonIcons.unlock }}
            </v-icon>
          </template>
        </v-tooltip>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
  interface Props {
    dataset: Dataset
  }
  const props = defineProps<Props>()

  const navigationStore = useNavigationStore()

  const hover = ref(false)

  const textColor = computed(() => {
    return hover.value ? (navigationStore.isDark ? 'white' : 'black') : 'grey'
  })
  const mainTextColor = computed(() => {
    return textColor.value === (navigationStore.isDark ? 'white' : 'black')
      ? navigationStore.isDark
        ? 'text-white'
        : 'text-black'
      : `text-${textColor.value}-darken-2`
  })

  const isOpen = computed(() => props.dataset.meta?.open)
  // const hasGit = computed(() => props.dataset.meta?.open)
  const isLocked = computed(() => !props.dataset.meta?.canContribute)
</script>

<style scoped>
  .hover-dataset:hover {
    border: 3px solid #fc8d59ff;
  }
  .hover-dataset {
    border: 3px solid transparent;
  }
  .dataset-card-title {
    white-space: normal;
    line-height: 1.1rem;
  }
</style>
