<template>
  <v-row class="align-center justify-center mt-0">
    <v-col
      cols="4"
      class="py-0">
      <v-skeleton-loader
        type="heading"
        class="ml-6 py-2 px-8">
      </v-skeleton-loader>
    </v-col>
    <v-spacer></v-spacer>

    <v-col
      cols="3"
      class="py-0">
      <v-skeleton-loader
        type="avatar, heading"
        class="py-0 px-8 bg-transparent">
      </v-skeleton-loader>
    </v-col>

    <v-col
      cols="12"
      class="py-0">
      <v-skeleton-loader
        type="button@5, divider, button@5"
        class="py-2 px-8">
      </v-skeleton-loader>
      <v-skeleton-loader
        type="divider, table-thead, divider, table-tbody@4"
        class="py-2 px-8">
      </v-skeleton-loader>
    </v-col>
  </v-row>
</template>
