<template>
  <client-only>
    <slot name="divider"></slot>
    <p
      v-if="showInputTitle"
      class="mt-0 mb-4 text-caption">
      {{ inputField.table }} / {{ inputField.key }}
    </p>

    <!-- {{ model }} -->

    <v-row :class="`align-center ${hideLabel ? 'input-hide-label' : ''}`">
      <!-- TEXT -->
      <v-col v-if="inputType === InputType.text">
        <v-text-field
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"></v-text-field>
      </v-col>
      <v-col v-if="inputType === InputType.textarea">
        <v-textarea
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          rows="3"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"></v-textarea>
      </v-col>

      <!-- EMAIL -->
      <v-col v-if="inputType === InputType.email">
        <v-text-field
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          type="email"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"></v-text-field>
      </v-col>

      <!-- NUMBER -->
      <v-col v-if="inputType === InputType.number">
        <v-text-field
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          type="number"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"></v-text-field>
      </v-col>

      <!-- FILE -->
      <v-col v-if="inputType === InputType.file">
        <v-file-input
          v-model="inputFile"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :label="inputLabel"></v-file-input>
      </v-col>

      <!-- SWITCH -->
      <v-col v-if="inputType === InputType.switch">
        <v-switch
          v-model="valueItem"
          :hide-details="hideDetail"
          color="primary"
          inset
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="$t(inputHelper) + (valueItem ? ' - ' + $t(`misc.${valueItem}`) : '')"></v-switch>
      </v-col>

      <!-- CHECKBOX -->
      <v-col v-if="inputType === InputType.checkbox">
        <v-checkbox
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel">
        </v-checkbox>
      </v-col>

      <!-- SELECT -->
      <v-col v-if="inputType === InputType.select && !inputAllowNew">
        <!-- valueItem : {{ valueItem }} <br /> -->
        <!-- inputType : {{ inputType }} <br /> -->
        <!-- inputOptions?.select : {{ inputOptions?.select }} -->
        <v-select
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          :items="inputField.options?.select"
          :item-title="inputField.options?.selectKey"
          :item-value="inputField.options?.selectValue"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          return-object
          chips>
          <template #chip="{ item }">
            <v-icon
              v-if="asIcon"
              class="mr-2">
              {{ item.value }}
            </v-icon>
            <v-chip
              size="small"
              label>
              {{ item.title }}
            </v-chip>
          </template>
          <template #item="{ props, item }">
            <v-list-item v-bind="props">
              <template #title>
                <v-icon
                  v-if="asIcon"
                  class="mr-2">
                  {{ item.value }}
                </v-icon>
                {{ item.title }}
              </template>
            </v-list-item>
          </template>
        </v-select>
      </v-col>

      <!-- COMBOBOX -->
      <v-col v-if="inputType === InputType.combobox || inputAllowNew">
        <!-- valueItem : {{ valueItem }} <br /> -->
        <!-- inputType : {{ inputType }} <br /> -->
        <!-- inputOptions?.select : {{ inputOptions?.select }} -->
        <!-- inputOptions?.selectKey : {{ inputOptions?.selectKey }} -->
        <!-- inputOptions?.selectValue : {{ inputOptions?.selectValue }} -->
        <!-- 
        -->
        <v-combobox
          v-model="valueItem"
          :prepend-inner-icon="inputIcon"
          :items="inputOptions?.select"
          :multiple="inputType === InputType.combobox"
          :item-title="inputOptions?.selectKey"
          :item-value="inputOptions?.selectValue"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          return-object>
          <template #selection="{ item, index }">
            <v-chip
              size="small"
              label>
              <span v-if="itemTitleFromIndex(index)">
                {{ itemTitleFromIndex(index) }}
              </span>
              <span v-else>
                {{ item.value }}
              </span>
            </v-chip>
          </template>
          <!-- <template #chip="{ item }">
            <v-chip
              size="small"
              label>
              {{ item.title }}
            </v-chip>
          </template> -->

          <template #item="{ props, item }">
            <v-list-item v-bind="props">
              <template #title>
                <v-icon
                  v-if="asIcon"
                  class="mr-2">
                  {{ item.value }}
                </v-icon>
                {{ item.title }} ({{ item.value }})
              </template>
            </v-list-item>
          </template>
        </v-combobox>
      </v-col>

      <!-- COLOR -->
      <v-col v-if="inputType === InputType.color">
        <p class="text-caption ml-4 mb-2 text-grey">
          {{ $t('datasets.helpers.meta.color') }}
        </p>
        <v-row class="pa-3 align-center">
          <!-- <v-btn
            class="text-none"
            variant="outlined"
            @click="showColorDialog = true">
            {{ $t('datasets.helpers.meta.color') }}
          </v-btn> -->
          <v-btn
            color="light-dark"
            variant="outlined"
            size="large"
            block
            @click="showColorDialog = true">
            <v-icon
              class="mr-3"
              icon="mdi-circle"
              :color="valueItem">
            </v-icon>
            <span class="">
              {{ valueItem || 'none' }}
            </span>
          </v-btn>
        </v-row>
      </v-col>
      <!-- COLOR DIALOG -->
      <v-dialog
        v-model="showColorDialog"
        width="400">
        <v-card class="pa-3">
          <template #title>
            {{ $t('datasets.helpers.meta.color') }}
          </template>
          <template #append>
            <v-icon @click="showColorDialog = false"> {{ commonIcons.close }}</v-icon>
          </template>
          <v-card-text class="d-flex justify-center py-12">
            <v-color-picker v-model="valueItem"></v-color-picker>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>

    <!-- <h5>
      {{ value }}
    </h5> -->
  </client-only>
</template>

<script setup lang="ts">
  // import { useField } from 'vee-validate'
  // import { toTypedSchema } from '@vee-validate/zod'
  // import * as z from 'zod'
  // import { getFromOnePath, setProperty } from '@/utils/helpers'
  import { Variant, Density, type DatasetBasicInfos } from '@/utils'

  interface Props {
    inputField: InputField

    data: any
    // datasetInfos: DatasetBasicInfos

    isNewDataset?: boolean
    variantB?: Variant
    hideDetail?: boolean | 'auto'
    hideLabel?: boolean
    hideIcon?: boolean
    clearable?: boolean
    showInputTitle?: boolean
  }
  const props = withDefaults(defineProps<Props>(), {
    isNewDataset: true,
    variantB: undefined,
    hideDetail: 'auto',
    hideLabel: false,
    hideIcon: false,
    clearable: true,
    showInputTitle: false
  })

  const { t } = useI18n()
  const datasetStore = useDatasetsStore()

  const inputFile = ref<any>()
  const errorMessage = ref<any>()

  const showColorDialog = ref<boolean>()

  const inputType = computed(() => {
    return props.inputField.inputType
  })
  const inputAllowNew = computed(() => {
    return props.inputField.allowNew
  })
  const inputKey = computed(() => {
    return props.inputField.key
  })
  const readOnly = computed(() => {
    return props.inputField.readonly
  })
  const inputLocal = computed(() => {
    return props.inputField.inputLocal
  })
  const inputOptions = computed(() => {
    return props.inputField.options
  })
  const asIcon = computed(() => {
    return inputOptions.value?.asIcon
  })

  // const model: any = defineModel({
  //   get(val) {
  //     const path = `${inputLocal.value}.${inputKey.value}`
  //     console.log('path : ', path)
  //     const data = getFromOnePath(val, path)
  //     console.log('val : ', val)
  //     return data
  //   },
  //   set(val) {
  //     // let value = val
  //     // if (inputType.value === InputType.select || inputType.value === InputType.combobox) {
  //     //   if (inputOptions.value?.selectValue) {
  //     //     value = val[inputOptions.value?.selectValue]
  //     //   }
  //     // }
  //     console.log('val : ', val)
  //     const payload = {
  //       key: `${inputLocal.value}.${inputKey.value}`,
  //       val
  //     }
  //     console.log('payload : ', payload)
  //     // datasetStore.updateDataset(payload, props.isNewDataset)
  //     setProperty(props.datasetInfos, payload.key, val)
  //     // const newVal =
  //     // return newVal
  //   }
  // })

  const valueItem = computed({
    get: () => {
      // console.log('props.data : ', props.data)
      let value = props.data
      // if (inputType.value === InputType.combobox) {
      //   value = [value]
      // }
      return value
    },
    set: (val) => {
      // console.log('val : ', val)
      let value = val
      if (inputType.value === InputType.select || inputType.value === InputType.combobox) {
        if (inputOptions.value?.selectValue) {
          value = val[inputOptions.value?.selectValue]
        }
      }
      const payload = {
        key: `${inputLocal.value}.${inputKey.value}`,
        value
      }
      datasetStore.updateDataset(payload, props.isNewDataset)
    }
  })

  const inputHelper = computed(() => {
    return `${props.inputField.table}.helpers.${inputLocal.value}.${inputKey.value}`
  })
  const inputLabel = computed(() => {
    return (!props.hideLabel && t(inputHelper.value)) || undefined
  })

  const inputIcon = computed(() => {
    // console.log(inputType.value)
    return (!props.hideIcon && findInputIcon(inputType.value)) || undefined
  })
  const variant = computed(() => {
    return props.variantB || props.inputField.variant || Variant.filled
  })
  const density = computed(() => {
    return props.inputField.density || Density.default
  })

  const itemRawFromIndex = (index: number) => {
    const item = inputOptions.value?.select?.[index]
    return item
  }
  const itemTitleFromIndex = (index: number) => {
    const item = itemRawFromIndex(index)
    const key = inputOptions.value?.selectKey || 'key'
    return item && item[key]
  }
</script>
