<template>
  <v-row class="ma-0 pa-0 align-center">
    <v-col
      cols="12"
      class="pa-0 ma-0 h-100 d-flex align-center">
      <v-text-field
        v-if="isOnlyString || isLink || isEmail || isImage || isTimeLine"
        v-model="valueItem"
        hide-details
        variant="plain"
        density="compact"
        :class="classPrefix">
      </v-text-field>

      <v-text-field
        v-if="isAnyNumberType"
        v-model="valueItem"
        hide-details
        variant="plain"
        type="number"
        density="compact"
        :class="classPrefix">
      </v-text-field>

      <v-textarea
        v-if="isLongText"
        v-model="valueItem"
        hide-details
        variant="plain"
        density="compact"
        rows="2"
        :class="classPrefix">
      </v-textarea>

      <v-select
        v-if="(isTag || isTags) && !inputAllowNew"
        v-model="valueItem"
        hide-details
        :label="undefined"
        variant="plain"
        density="compact"
        :multiple="hasMultiple"
        :items="((isTag || isTags) && selectOptionsFiltered?.select) || undefined"
        :chips="true"
        :class="`input-hide-label my-2 ${classPrefix}`">
      </v-select>

      <v-combobox
        v-if="(isTag && inputAllowNew) || (isTags && inputAllowNew) || isLinks || isEmails || isImages"
        v-model="valueArray"
        hide-details
        :header="header"
        :multiple="hasMultiple"
        :variant="Variant.plain"
        :items="((isTag || isTags) && selectOptionsFiltered?.select) || []"
        :chips="hasMultiple || isTag"
        :class="`input-hide-label my-1 ${classPrefix}`">
        <template #chip="{ item }">
          <v-chip
            size="small"
            label>
            {{ item.title }}
          </v-chip>
        </template>
      </v-combobox>

      <v-checkbox
        v-if="isBoolean"
        v-model="valueItem"
        hide-details
        variant="plain"
        density="compact"
        rows="2"
        :class="classPrefix">
      </v-checkbox>

      <DataItemCellDate
        v-if="isDate"
        :value="valueItem"
        :header="header"
        @update="updateValue">
      </DataItemCellDate>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { ViewMode, Variant } from '@/utils'
  interface Props {
    itemId: string
    value: any
    header: TableHeader
    isNewDataset?: boolean
    viewMode: ViewMode
  }
  const props = defineProps<Props>()
  const navigationStore = useNavigationStore()
  const datasetStore = useDatasetsStore()

  // VALUES COMPUTED / SETTERS

  const valueItem = computed({
    get: () => {
      // console.log('props.value : ', props.value)
      let val = props.value
      if (hasMultiple.value) {
        const arr = stringToArray(val) || []
        val = arr.map((s) => s.trim())
      }
      if (val && isBoolean.value) {
        val = stringTrueValues.includes(val.toString().toLowerCase())
      }
      return val
    },
    set: (val) => {
      let res: any = val
      if (hasMultiple.value) {
        res = arrayToString(val)
      }
      if (val && isBoolean.value) {
        val = val.toString()
      }
      datasetStore.updateDatasetItem(props.itemId, `data.${props.header.id}`, res, props.isNewDataset)
    }
  })

  const valueArray = computed({
    get: () => {
      // console.log('props.value : ', props.value)
      let arrayVal = (props.value && [props.value]) || []
      if (hasMultiple.value && typeof props.value === 'string') {
        const arr = (props.value && stringToArray(props.value)) || []
        arrayVal = arr.map((s) => s.trim())
      }
      // console.log('arrayVal : ', arrayVal)
      return arrayVal
    },
    set: (val) => {
      console.log()
      // console.log('... val : ', val)
      let res: any = val
      if (hasMultiple.value) {
        res = arrayToString(val)
      }
      // console.log('... res : ', res)
      datasetStore.updateDatasetItem(props.itemId, `data.${props.header.id}`, res, props.isNewDataset)
    }
  })

  // UI

  const classPrefix = computed(() => {
    return `item-edit-cell ${isAnyNumberType.value ? 'item-cell-number' : ''} ${isBoolean.value ? 'item-cell-boolean mr-6' : ''} ${isLongText.value ? ('scrollable-content- ' + navigationStore.isDark ? 'scrollable-dark-' : 'scrollable-light-') : ''}`
  })

  // GLOBAL HEADER

  const headerType = computed(() => {
    return props.header.tableSchema?.type
  })

  // INPUT SELECTION

  const inputType = computed(() => {
    return headerType.value
  })
  const inputSubtype = computed(() => {
    return props.header.customProps?.subtype
  })
  const inputAllowNew = computed(() => {
    return props.header.customProps?.allowNew
  })

  const isString = computed(() => {
    return inputType.value === TableHeaderType.string
  })
  const isNumber = computed(() => {
    return inputType.value === TableHeaderType.number
  })
  const isInteger = computed(() => {
    return inputType.value === TableHeaderType.integer
  })
  const isFloat = computed(() => {
    return inputType.value === TableHeaderType.float
  })
  const isBoolean = computed(() => {
    return inputType.value === TableHeaderType.boolean
  })

  const typeLongText = computed(() => TableHeaderSubtype.longtext)
  const typeTag = computed(() => TableHeaderSubtype.tag)
  const typeTags = computed(() => TableHeaderSubtype.tags)
  const typeCombobox = computed(() => TableHeaderSubtype.tags)
  const typeLink = computed(() => TableHeaderSubtype.link)
  const typeLinks = computed(() => TableHeaderSubtype.links)
  const typeEmail = computed(() => TableHeaderSubtype.email)
  const typeEmails = computed(() => TableHeaderSubtype.emails)
  const typeImage = computed(() => TableHeaderSubtype.image)
  const typeImages = computed(() => TableHeaderSubtype.images)
  const typeTimeLine = computed(() => TableHeaderSubtype.images)

  const isLongText = computed(() => inputSubtype.value === typeLongText.value)
  const isTag = computed(() => inputSubtype.value === typeTag.value)
  const isTags = computed(() => inputSubtype.value === typeTags.value || inputSubtype.value === typeCombobox.value)
  const isLink = computed(() => inputSubtype.value === typeLink.value)
  const isLinks = computed(() => inputSubtype.value === typeLinks.value)
  const isEmail = computed(() => inputSubtype.value === typeEmail.value)
  const isEmails = computed(() => inputSubtype.value === typeEmails.value)
  const isImage = computed(() => inputSubtype.value === typeImage.value)
  const isImages = computed(() => inputSubtype.value === typeImages.value)
  const isTimeLine = computed(() => inputSubtype.value === typeTimeLine.value)

  const isOnlyString = computed(
    () =>
      isString.value &&
      !(
        isLongText.value ||
        isTag.value ||
        isTags.value ||
        isLink.value ||
        isLinks.value ||
        isEmail.value ||
        isEmails.value ||
        isImage.value ||
        isImages.value ||
        isTimeLine.value
      )
  )

  const hasMultiple = computed(() => isTags.value || isLinks.value || isEmails.value || isImages.value)

  const isAnyNumberType = computed(() => isInteger.value || isFloat.value || isNumber.value)

  const isDate = computed(() => inputType.value === TableHeaderType.date)

  // const isCustomComponent = computed(() => isDate.value || isTags.value)

  // HELPERS
  // const canShowInput = computed(() => {
  //   if (!modifiers.header) return true
  //   if (modifiers.header && isSubtypeSelector.value) {
  //     return (
  //       headerType.value &&
  //       [
  //         TableHeaderType.string, //
  //         TableHeaderType.number,
  //         TableHeaderType.float,
  //         TableHeaderType.integer
  //       ].includes(headerType.value)
  //     )
  //   } else return true
  // })
  // const isSubtypeSelector = computed(() => props.inputField?.key === 'customProps.subtype')

  // const inputKey = computed(() => props.inputField?.key)
  // const inputLocal = computed(() => props.inputField?.inputLocal)
  // const inputHelper = computed(() => {
  //   return inputLocal.value && `${props.inputField?.table}.helpers.${inputLocal.value}.${inputKey.value}`
  // })
  // const inputLabel = computed(() => (inputHelper.value && t(inputHelper.value)) || undefined)

  // HELPERS / TAGS

  const separator = computed(() => {
    return props.header?.customProps?.tagSeparator || '-'
  })

  const stringToArray = (str: string) => {
    return str && (str || '').split(separator.value)
  }
  const arrayToString = (arr: string[]) => {
    return arr.join(separator.value)
  }

  const selectOptions = computed(() => {
    return { select: props.header.tableSchema?.constraints?.enum } || []
  })
  const selectOptionsFiltered = computed(() => {
    return selectOptions.value
  })

  // EMITS

  const updateValue = (ev: any) => {
    console.log('updateValue > ev : ', ev)
    valueItem.value = ev
  }
</script>
