<template>
  <v-card
    class="pa-3"
    width="100%">
    <template #title>
      {{ $t('datasets.tables.editColumnModel') }}
    </template>
    <template #append>
      <v-icon @click="closeDialog"> {{ commonIcons.close }}</v-icon>
    </template>
    <v-card-text class="text-center pb-12">
      <!-- {{ tab }} -
      {{ header }} -->
      <v-tabs
        v-model="tab"
        grow
        :slider-color="navigationStore.isDark ? '' : 'primary'"
        align-tabs="center">
        <v-tab
          v-for="headerTab in headerTabs"
          :key="`${headerTab.id}-tab`"
          :value="headerTab.id"
          >{{ $t(`schema.${headerTab.id}`) }}</v-tab
        >
      </v-tabs>
      <v-window v-model="tab">
        <v-window-item
          v-for="(headerTab, i) in headerTabs"
          :key="`header-${headerTab.id}-window`"
          :value="headerTab.id">
          <v-container class="mt-6">
            <v-row>
              <v-col
                v-for="inputField in headerTabs[i].inputFields"
                :key="`${headerTab.id}-window-${inputField.key}`"
                cols="12"
                sm="12"
                md="12"
                lg="12">
                <DataItemCell
                  v-model.header="model"
                  :header="model"
                  :input-field="inputField"
                  :view-mode="viewMode"
                  :variant="Variant.outlined"
                  :is-header-model="true"></DataItemCell>
              </v-col>
            </v-row>
          </v-container>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
  import { ViewMode } from '@/utils'

  interface Props {
    // header?: TableHeader
    viewMode: ViewMode
  }
  defineProps<Props>()

  const navigationStore = useNavigationStore()

  const model = defineModel<any>()

  const emit = defineEmits(['close'])

  const tab = ref<null | string>(null)

  interface HeaderTab {
    id: string
    inputFields: InputField[]
  }
  const headerTabs: HeaderTab[] = [
    { id: 'tableSchema', inputFields: headersSettingsTableSchema },
    { id: 'customProps', inputFields: headersSettingsCustomProps }
  ]

  const closeDialog = () => {
    emit('close')
  }
</script>
