<template>
  <v-row class="text-caption">
    <!-- <v-col cols="12">
      array : <code>{{ array }}</code>
    </v-col>
    <v-col cols="12">
      header : <code>{{ header }}</code>
    </v-col> -->
    <v-col cols="12">
      <v-combobox
        v-model="array"
        class="mb-1"
        hide-details
        density="compact"
        :multiple="multiple"
        :label="label"
        :variant="variant"
        :readonly="readonly"
        :chips="chips"
        :items="items"
        :item-title="itemTitle"
        :item-value="itemTitle"
        @update:model-value="emitValue">
        <template #prepend>
          <slot name="prepend"></slot>
        </template>
        <template #chip="{ item }">
          <v-chip
            size="small"
            label>
            {{ item.title }}
          </v-chip>
        </template>
      </v-combobox>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { Variant } from '@/utils'
  interface Props {
    header: TableHeader
    chips: boolean
    multiple: boolean
    readonly?: boolean
    label?: string
    variant?: Variant
    isHeaderModel?: boolean
    items?: object[] | string[]
    itemTitle?: string
    // itemValue?: string
  }
  const props = withDefaults(defineProps<Props>(), {
    isHeaderModel: false,
    label: undefined,
    variant: undefined,
    readonly: false,
    items: undefined,
    itemTitle: undefined
    // itemValue: undefined
  })

  const model = defineModel<string>()
  const array = ref<string[]>([])

  const emit = defineEmits(['update:modelValue'])

  const separator = computed(() => {
    return props.header?.customProps?.tagSeparator || '-'
  })

  const stringToArray = (str: string) => {
    return str.split(separator.value)
  }
  const arrayToString = (arr: string[]) => {
    return arr.join(separator.value)
  }

  onBeforeMount(() => {
    // console.log('\nonBeforeMount > props.header :', props.header)
    // console.log('onBeforeMount > model.value :', model.value)
    // console.log('onBeforeMount > props.items :', props.items)
    // console.log('onBeforeMount > props.itemTitle :', props.itemTitle)
    // console.log('onBeforeMount > props.itemValue :', props.itemValue)
    if (typeof model.value === 'string') {
      const arr = (model.value && stringToArray(model.value)) || []
      array.value = arr.map((s) => s.trim())
    } else {
      array.value = (model.value && [...model.value]) || []
    }
  })

  const emitValue = () => {
    let value
    if (props.isHeaderModel) {
      value = array.value
    } else {
      value = arrayToString(array.value)
    }
    // console.log('emitValue > value B :', value)
    emit('update:modelValue', value)
  }
</script>
