<template>
  <!-- <v-icon
    size="x-small"
    color="grey"
    class="ml-4">
    {{ findHeaderTypeIcon(header) }}
  </v-icon> -->

  <v-btn
    variant="text"
    :class="`text-none mx-1 ${value ? '' : 'text-grey'}`"
    @click="showDateDialog = true">
    {{ dateFormatted || $t('actions.choseDate') }}
  </v-btn>

  <!-- {{ valueItem }} -->

  <v-dialog
    v-model="showDateDialog"
    width="auto">
    <v-date-picker v-model="valueItem"> </v-date-picker>
  </v-dialog>
</template>

<script setup lang="ts">
  import { useDate } from 'vuetify'

  interface Props {
    value: string
    header: TableHeader
    preview?: boolean
  }
  const props = defineProps<Props>()
  const emit = defineEmits(['update'])

  const adapter = useDate()

  const dateValue = ref(adapter.date(props.value))
  // const dateValue = ref(new Date(props.value))

  const showDateDialog = ref(false)

  const dateFormatted = computed(() => {
    if (dateValue.value) {
      const formatted = adapter.format(dateValue.value, 'fullDateWithWeekday')
      return formatted
    }
  })

  const valueItem = computed({
    get: () => {
      return dateValue.value
    },
    set: (val) => {
      // console.log('val : ', val)
      // console.log('dateValue.value :', dateValue.value)
      dateValue.value = val
      const formatted = adapter.toISO(val)
      // console.log('formatted :', formatted)
      emit('update', formatted)
    }
  })

  // watch(dateValue, (next) => {
  //   console.log('next :', next)
  //   console.log('props.value :', props.value)
  //   console.log('dateValue.value :', dateValue.value)
  //   console.log('modelVal.value :', modelVal.value)
  //   console.log('dateFormatted.value :', dateFormatted.value)
  // })
</script>
