<template>
  <client-only>
    <v-row class="ma-0 pa-0 align-center">
      <!-- DEBUGGING -->
      <v-col
        v-if="false && isHeaderModel"
        cols="12">
        <!-- <p class="text-caption">
          isHeaderModel : <code>{{ isHeaderModel }}</code>
        </p> -->
        <p class="text-caption">
          isSubtypeSelector : <code>{{ isSubtypeSelector }}</code>
        </p>
        <p class="text-caption">
          selectOptions : <code>{{ selectOptions?.select?.[0] }}</code>
        </p>
        <p class="text-caption">
          selectOptionsFiltered : <code>{{ selectOptionsFiltered?.select?.[0] }}</code>
        </p>
        <p class="text-caption">
          headerType : <code>{{ headerType }}</code>
        </p>
        <p class="text-caption">
          inputType : <code>{{ inputType }}</code>
        </p>
        <p class="text-caption">
          isString : <code>{{ isString }}</code>
        </p>
        <!-- <p class="text-caption">
          modelVal : <code>{{ modelVal }}</code>
        </p> -->
      </v-col>
      <v-col
        v-if="false && isHeaderModel"
        cols="12">
        <p class="text-caption">
          header : <code>{{ header }}</code>
        </p>
      </v-col>

      <!-- CELL INPUT -->
      <v-col
        v-if="canShowInput"
        cols="12"
        class="pa-0 h-100 d-flex align-center">
        <component
          :is="getComponent()"
          v-model="model"
          :hide-details="!isCustomComponent ? true : undefined"
          :color="isBoolean && isHeaderModel && !isCustomComponent ? 'primary' : undefined"
          :variant="variant || Variant.plain"
          :density="isHeaderModel ? 'default' : 'compact'"
          :clearable="isSubtypeSelector"
          :label="(isHeaderModel && inputLabel) || undefined"
          :readonly="viewMode !== ViewMode.edit"
          :multiple="hasMultiple"
          :items="((isTag || isTags) && selectOptionsFiltered?.select) || undefined"
          :item-title="((isTag || isTags) && selectOptionsFiltered?.selectKey) || undefined"
          :item-value="((isTag || isTags) && selectOptionsFiltered?.selectValue) || undefined"
          :chips="(hasMultiple || isTag) && !modifiers.header"
          :type="isAnyNumberType ? 'number' : undefined"
          :rows="isLongText ? (modifiers.header ? 3 : 2) : undefined"
          :header="isCustomComponent ? header : undefined"
          :is-header-model="isCustomComponent ? isHeaderModel : undefined"
          :class="`${classPrefix}-edit-cell ${isAnyNumberType ? classPrefix + '-cell-number' : ''} ${isBoolean ? classPrefix + '-cell-boolean mr-6' : ''} ${isLongText ? ('scrollable-content- ' + navigationStore.isDark ? 'scrollable-dark-' : 'scrollable-light-') : ''}`">
          <template #prepend>
            <v-icon
              v-if="viewMode !== ViewMode.preview"
              size="x-small"
              color="grey"
              class="ml-4">
              <template v-if="!isHeaderModel">
                {{ findHeaderTypeIcon(header) }}
              </template>
              <template v-else>
                {{ findInputIcon(inputField?.inputType) }}
              </template>
            </v-icon>
            <span v-else>&nbsp;</span>
          </template>
        </component>
      </v-col>
    </v-row>
  </client-only>
</template>

<script setup lang="ts">
  import {
    VTextField, //
    VTextarea,
    VSelect,
    // VCombobox,
    VCheckbox,
    VSwitch
  } from 'vuetify/lib/components/index.mjs'
  import { ViewMode, Variant } from '@/utils'
  import DataItemCellDate from '@/components/data/ItemCellDate.vue'
  import DataItemCellTags from '@/components/data/ItemCellTags.vue'

  interface Props {
    header: TableHeader
    isHeaderModel?: boolean
    inputField?: InputField
    viewMode: ViewMode
    variant?: Variant
  }
  const props = defineProps<Props>()

  const { t } = useI18n()
  const navigationStore = useNavigationStore()

  // MODEL
  const [model, modifiers] = defineModel<any>({
    get(value) {
      if (modifiers.header && props.inputField) {
        const fromPath = getFromOnePath(props.header, props.inputField.key)
        // console.log('fromPath : ', fromPath)
        return fromPath
      }
      return value
    },
    set(value) {
      if (modifiers.header && props.inputField) {
        return setProperty(props.header, props.inputField.key, value)
      }
      return value
    }
  })

  const classPrefix = computed(() => {
    return props.isHeaderModel ? 'header' : 'item'
  })

  // GLOBAL HEADER
  const headerType = computed(() => {
    return props.header.tableSchema?.type
  })

  // INPUT SELECTION
  const inputType = computed(() => {
    if (!modifiers.header) return headerType.value
    else return props.inputField?.inputType
  })
  const inputSubtype = computed(() => {
    if (!modifiers.header) return props.header.customProps?.subtype
    else return inputType.value
  })
  const inputAllowNew = computed(() => {
    if (!modifiers.header) return props.header.customProps?.allowNew
    else return props.inputField?.allowNew
  })

  const isString = computed(() => {
    if (!modifiers.header) return inputType.value === TableHeaderType.string
    else return inputType.value === InputType.text || inputType.value === InputType.textarea
  })
  const isNumber = computed(() => {
    if (!modifiers.header) return inputType.value === TableHeaderType.number
    else return inputType.value === InputType.number
  })
  const isInteger = computed(() => {
    if (!modifiers.header) return inputType.value === TableHeaderType.integer
    else return inputType.value === InputType.number
  })
  const isFloat = computed(() => {
    if (!modifiers.header) return inputType.value === TableHeaderType.float
    else return inputType.value === InputType.number
  })
  const isBoolean = computed(() => {
    if (!modifiers.header) return inputType.value === TableHeaderType.boolean
    else return inputType.value === InputType.switch || inputType.value === InputType.checkbox
  })

  // const hasCustomProps = computed(() => {
  //   if (modifiers.header) return false
  //   else return props.header.customProps
  // })

  const typeLongText = computed(() => (modifiers.header ? InputType.textarea : TableHeaderSubtype.longtext))
  const typeTag = computed(() => (modifiers.header ? InputType.select : TableHeaderSubtype.tag))
  const typeTags = computed(() => (modifiers.header ? InputType.tags : TableHeaderSubtype.tags))
  const typeCombobox = computed(() => (modifiers.header ? InputType.combobox : TableHeaderSubtype.tags))
  const typeLink = computed(() => (modifiers.header ? InputType.link : TableHeaderSubtype.link))
  const typeLinks = computed(() => (modifiers.header ? InputType.links : TableHeaderSubtype.links))
  const typeEmail = computed(() => (modifiers.header ? InputType.email : TableHeaderSubtype.email))
  const typeEmails = computed(() => (modifiers.header ? InputType.emails : TableHeaderSubtype.emails))
  const typeImage = computed(() => (modifiers.header ? false : TableHeaderSubtype.image))
  const typeImages = computed(() => (modifiers.header ? false : TableHeaderSubtype.images))
  const typeTimeLine = computed(() => (modifiers.header ? false : TableHeaderSubtype.images))

  const isLongText = computed(() => inputSubtype.value === typeLongText.value)
  const isTag = computed(() => inputSubtype.value === typeTag.value)
  const isTags = computed(() => inputSubtype.value === typeTags.value || inputSubtype.value === typeCombobox.value)
  const isLink = computed(() => inputSubtype.value === typeLink.value)
  const isLinks = computed(() => inputSubtype.value === typeLinks.value)
  const isEmail = computed(() => inputSubtype.value === typeEmail.value)
  const isEmails = computed(() => inputSubtype.value === typeEmails.value)
  const isImage = computed(() => inputSubtype.value === typeImage.value)
  const isImages = computed(() => inputSubtype.value === typeImages.value)
  const isTimeLine = computed(() => inputSubtype.value === typeTimeLine.value)

  // const isOnlyString = computed(() => isString.value && !hasCustomProps.value)
  const isOnlyString = computed(
    () =>
      isString.value &&
      !(
        isLongText.value ||
        isTag.value ||
        isTags.value ||
        isLink.value ||
        isLinks.value ||
        isEmail.value ||
        isEmails.value ||
        isImage.value ||
        isImages.value ||
        isTimeLine.value
      )
  )

  const hasMultiple = computed(() => isTags.value || isLinks.value || isEmails.value || isImages.value)

  const isAnyNumberType = computed(() => isInteger.value || isFloat.value || isNumber.value)

  const isDate = computed(() => inputType.value === TableHeaderType.date)

  const isCustomComponent = computed(() => isDate.value || isTags.value)

  // HELPERS
  const canShowInput = computed(() => {
    if (!modifiers.header) return true
    if (modifiers.header && isSubtypeSelector.value) {
      return (
        headerType.value &&
        [
          TableHeaderType.string, //
          TableHeaderType.number,
          TableHeaderType.float,
          TableHeaderType.integer
        ].includes(headerType.value)
      )
    } else return true
  })
  const isSubtypeSelector = computed(() => props.inputField?.key === 'customProps.subtype')

  const inputKey = computed(() => props.inputField?.key)
  const inputLocal = computed(() => props.inputField?.inputLocal)
  const inputHelper = computed(() => {
    return inputLocal.value && `${props.inputField?.table}.helpers.${inputLocal.value}.${inputKey.value}`
  })
  const inputLabel = computed(() => (inputHelper.value && t(inputHelper.value)) || undefined)

  const selectOptions = computed(() => {
    if (!modifiers.header) return { select: props.header.tableSchema?.constraints?.enum } || []
    else return props.inputField?.options
  })
  const selectOptionsFiltered = computed(() => {
    if (isSubtypeSelector.value) {
      if (headerType.value === TableHeaderType.string) return { ...selectOptions.value, select: headerSubTypesString }
      if (
        headerType.value &&
        [
          TableHeaderType.number, //
          TableHeaderType.float,
          TableHeaderType.integer
        ].includes(headerType.value)
      )
        return { ...selectOptions.value, select: headerSubTypesNumber }
    } else {
      return selectOptions.value
    }
  })

  const getComponent = () => {
    if (isOnlyString.value) return VTextField
    if (isLongText.value) return VTextarea

    if (isTag.value && inputAllowNew.value) return DataItemCellTags
    if (isTag.value && !inputAllowNew.value) return VSelect
    if (isTags.value && inputAllowNew.value) return DataItemCellTags
    if (isTags.value && !inputAllowNew.value) return VSelect

    if (isLink.value) return VTextField
    if (isLinks.value) return DataItemCellTags
    if (isEmail.value) return VTextField
    if (isEmails.value) return DataItemCellTags
    if (isImage.value) return VTextField
    if (isImages.value) return DataItemCellTags

    if (isTimeLine.value) return VTextField
    if (isInteger.value) return VTextField
    if (isFloat.value) return VTextField
    if (isNumber.value) return VTextField

    if (isDate.value) return DataItemCellDate

    if (isBoolean.value && props.inputField?.inputType === InputType.switch) return VSwitch
    if (isBoolean.value && props.inputField?.inputType !== InputType.switch) return VCheckbox
  }
</script>
