<template>
  <v-tabs
    v-model="tab"
    :slider-color="navigationStore.isDark ? '' : 'primary'"
    align-tabs="center">
    <v-tab
      v-for="infosTab in infosTabs"
      :key="`${infosTab.id}-tab`"
      :value="infosTab.id"
      >{{ $t(`datasets.helpers.infos.${infosTab.id}`) }}</v-tab
    >
  </v-tabs>

  <v-window v-model="tab">
    <v-window-item
      v-for="(infosTab, i) in infosTabs"
      :key="`${infosTab.id}-meta-window`"
      :value="infosTab.id">
      <v-container class="mt-6">
        <v-row class="justify-center">
          <!-- LEFT -->
          <v-col
            cols="12"
            sm="12"
            md="6"
            lg="5">
            <!-- <pre>{{ infosTabs[i].inputFieldsLeft }}</pre> -->
            <!-- v-model="model" -->
            <!-- :dataset-infos="datasetInfos" -->
            <DataDatasetInfoInput
              v-for="inputField in infosTabs[i].inputFieldsLeft"
              :key="`${infosTab.id}-window-${inputField.key}`"
              :input-field="inputField"
              :data="getValue(inputField)"
              :is-new-dataset="isNewDataset"
              :variant-b="Variant.outlined"
              :hide-icon="true">
            </DataDatasetInfoInput>
          </v-col>

          <!-- RIGHT -->
          <v-col
            v-if="infosTabs[i].inputFieldsRight"
            cols="12"
            sm="12"
            md="6"
            lg="5">
            <!-- <pre>{{ infosTabs[i].inputFieldsRight }}</pre> -->
            <!-- v-model="model" -->
            <!-- :dataset-infos="datasetInfos" -->
            <DataDatasetInfoInput
              v-for="inputField in infosTabs[i].inputFieldsRight"
              :key="`${infosTab.id}-window-${inputField.key}`"
              :input-field="inputField"
              :data="getValue(inputField)"
              :is-new-dataset="isNewDataset"
              :variant-b="Variant.outlined"
              :hide-icon="true">
            </DataDatasetInfoInput>
          </v-col>
        </v-row>
      </v-container>
    </v-window-item>
  </v-window>
</template>

<script setup lang="ts">
  interface Props {
    datasetInfos: DatasetBasicInfos
    isNewDataset?: boolean
  }
  const props = defineProps<Props>()

  const navigationStore = useNavigationStore()

  const tab = ref<null | string>(null)
  const model = defineModel()

  interface InfosTab {
    id: string
    inputFieldsLeft: InputField[]
    inputFieldsRight?: InputField[]
  }
  const infosTabs: InfosTab[] = [
    {
      id: 'basics',
      inputFieldsLeft: datasetMetaBasics,
      inputFieldsRight: datasetMetaExtras
    },
    {
      id: 'auths',
      inputFieldsLeft: [...datasetMetaLegal, ...datasetMetaAuths]
      // inputFieldsRight: datasetMetaAuths
    },
    {
      id: 'file',
      inputFieldsLeft: datasetMetaFile,
      inputFieldsRight: datasetMetaHistory
    }
    // {
    //   id: 'gitInfos',
    //   inputFieldsLeft: headersSettingsCustomProps,
    //   inputFieldsRight: headersSettingsCustomProps
    // }
    // { id: 'schema', inputFields: headersSettingsTableSchema },
    // { id: 'props', inputFields: headersSettingsTableSchema },
    // { id: 'cards', inputFields: headersSettingsTableSchema },
    // { id: 'map', inputFields: headersSettingsTableSchema },
    // { id: 'dataviz', inputFields: headersSettingsTableSchema },
  ]

  const getValue = (inputField: InputField) => {
    const path = `${inputField.inputLocal}.${inputField.key}`
    return getFromOnePath(props.datasetInfos, path)
  }
</script>
