<template>
  <client-only>
    <slot name="divider"></slot>
    <p
      v-if="showInputTitle"
      class="mt-0 mb-4 text-caption">
      {{ inputField.table }} / {{ inputField.key }}
    </p>

    <v-row :class="`align-center ${hideLabel ? 'input-hide-label' : ''}`">
      <!-- TEXT -->
      <v-col v-if="inputType === InputType.text">
        <v-text-field
          v-model="model"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"></v-text-field>
      </v-col>
      <v-col v-if="inputType === InputType.textarea">
        <v-textarea
          v-model="model"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          rows="3"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"></v-textarea>
      </v-col>

      <!-- EMAIL -->
      <v-col v-if="inputType === InputType.email">
        <v-text-field
          v-model="model"
          :prepend-inner-icon="inputIcon"
          type="email"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"></v-text-field>
      </v-col>

      <!-- NUMBER -->
      <v-col v-if="inputType === InputType.number">
        <v-text-field
          v-model="model"
          :prepend-inner-icon="inputIcon"
          type="number"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"></v-text-field>
      </v-col>

      <!-- FILE -->
      <v-col v-if="inputType === InputType.file">
        <v-file-input
          v-model="inputFile"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :label="inputLabel"></v-file-input>
      </v-col>

      <!-- SWITCH -->
      <v-col v-if="inputType === InputType.switch">
        <v-switch
          v-model="model"
          :hide-details="hideDetail"
          color="primary"
          inset
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="$t(inputHelper) + (model ? ' - ' + $t(`misc.${model}`) : '')"></v-switch>
      </v-col>

      <!-- SELECT -->
      <v-col v-if="inputType === InputType.select">
        <v-select
          v-model="model"
          :prepend-inner-icon="inputIcon"
          :items="inputField.options?.select"
          :item-title="inputField.options?.selectKey"
          :item-value="inputField.options?.selectValue"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"></v-select>
      </v-col>

      <!-- COMBOBOX -->
      <v-col v-if="inputType === InputType.combobox">
        <v-combobox
          v-model="model"
          :prepend-inner-icon="inputIcon"
          :items="inputField.options?.select"
          :item-title="inputField.options?.selectKey"
          :item-value="inputField.options?.selectValue"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel"
          :clearable="clearable"
          chips
          multiple>
          <template #chip="{ item }">
            <v-chip
              size="small"
              label>
              {{ item.title }}
            </v-chip>
          </template>
        </v-combobox>
      </v-col>

      <!-- CHECKBOX -->
      <v-col v-if="inputType === InputType.checkbox">
        <v-checkbox
          v-model="model"
          :prepend-inner-icon="inputIcon"
          :variant="variant"
          :density="density"
          :hide-details="hideDetail"
          :readonly="readOnly"
          :error-messages="errorMessage"
          :label="inputLabel">
        </v-checkbox>
      </v-col>
    </v-row>
    <!-- <h5>
      {{ value }}
    </h5> -->
  </client-only>
</template>

<script setup lang="ts">
  // import { useField } from 'vee-validate'
  // import { toTypedSchema } from '@vee-validate/zod'
  // import * as z from 'zod'
  // import { getFromOnePath, setProperty } from '@/utils/helpers'
  import { Variant, Density } from '@/utils'

  interface Props {
    inputField: InputField

    meta?: MetaData

    isNewDataset?: boolean
    variantB?: Variant
    hideDetail?: boolean | 'auto'
    hideLabel?: boolean
    hideIcon?: boolean
    clearable?: boolean
    showInputTitle?: boolean
  }
  const props = withDefaults(defineProps<Props>(), {
    meta: undefined,

    isNewDataset: true,
    variantB: undefined,
    hideDetail: 'auto',
    hideLabel: false,
    hideIcon: false,
    clearable: true,
    showInputTitle: false
  })

  const { t } = useI18n()

  const [model, modifiers] = defineModel<any>({
    get(value) {
      let fromPath = value
      if (modifiers.meta && props.meta) fromPath = getFromOnePath(props.meta, props.inputField.key)
      // console.log('get > fromPath : ', fromPath)
      return fromPath
    },
    set(value) {
      // console.log('set > value : ', value)
      // console.log('set > props.inputField.key : ', props.inputField.key)
      // console.log('set > props.meta : ', props.meta)
      let toPath = value
      if (modifiers.meta && props.meta) toPath = setProperty(props.meta, props.inputField.key, value)
      // console.log('set > toPath : ', toPath)
      return toPath
    }
  })

  const inputFile = ref<any>()
  const errorMessage = ref<any>()

  const inputType = computed(() => {
    return props.inputField.inputType
  })
  const inputKey = computed(() => {
    return props.inputField.key
  })
  const readOnly = computed(() => {
    return props.inputField.readonly
  })
  const inputLocal = computed(() => {
    return props.inputField.inputLocal
  })
  const inputHelper = computed(() => {
    return `${props.inputField.table}.helpers.${inputLocal.value}.${inputKey.value}`
  })
  const inputLabel = computed(() => {
    return (!props.hideLabel && t(inputHelper.value)) || undefined
  })
  const inputIcon = computed(() => {
    // console.log(inputType.value)
    return (!props.hideIcon && findInputIcon(inputType.value)) || undefined
  })
  const variant = computed(() => {
    return props.variantB || props.inputField.variant || Variant.filled
  })
  const density = computed(() => {
    return props.inputField.density || Density.default
  })
</script>
