<template>
  <!-- {{ model }} -->
  <v-row
    v-if="model"
    class="align-center justify-end">
    <v-btn
      variant="text"
      size="small"
      :disabled="model?.page < 2"
      @click="changePage(-1)">
      <v-icon size="default">
        {{ commonIcons.left }}
      </v-icon>
    </v-btn>
    <v-menu>
      <template #activator="{ props: propsMenu }">
        <v-btn
          v-bind="propsMenu"
          class="text-caption text-grey"
          variant="text"
          size="small">
          {{ $t('pagination.page') }}
          {{ model?.page }} / {{ totalPages || 1 }}
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in items"
          :key="index">
          <v-list-item-title
            :class="`text-caption ${item === model.perPage ? 'font-weight-bold' : ''}`"
            @click="changePerPage(item)">
            {{ $t('pagination.itemsPerPage', item) }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-btn
      variant="text"
      size="small"
      :disabled="model?.page >= totalPages"
      @click="changePage(1)">
      <v-icon size="default">
        {{ commonIcons.right }}
      </v-icon>
    </v-btn>
  </v-row>
</template>

<script setup lang="ts">
  import { type Pagination } from '@/utils'
  interface Props {
    totalPages?: number
  }
  const props = withDefaults(defineProps<Props>(), {
    totalPages: 1
  })

  const items = [
    5, //
    10,
    25,
    50,
    100
  ]

  const emit = defineEmits(['update:modelValue'])

  const model = defineModel<Pagination>()

  const changePage = (n: number, directTo: boolean = false) => {
    const page = model.value?.page || 1
    const value = {
      ...model.value,
      page: directTo ? n : page + n
    }
    emit('update:modelValue', value)
  }
  const changePerPage = (n: number) => {
    const value = {
      ...model.value,
      perPage: n
    }
    emit('update:modelValue', value)
  }

  watch(
    () => props.totalPages,
    (next) => {
      // console.log('next :', next)
      const page = model.value?.page || 1
      // console.log('page :', page)
      // console.log('page > next :', page > next)
      if (page > next) {
        changePage(next, true)
      }
    }
  )
</script>
