<template>
  <v-badge
    class="mr-6"
    color="default"
    :content="remaingingDatasets">
    <v-tooltip
      location="left"
      :text="$t('datasets.remaining', remaingingDatasets)">
      <template #activator="{ props: tooltipProps }">
        <v-icon
          v-bind="tooltipProps"
          color="grey"
          clas="mx-2">
          {{ commonIcons.datasets }}
        </v-icon>
      </template>
    </v-tooltip>
  </v-badge>
</template>

<script setup lang="ts">
  const user = useUserStore()
  const datasetsStore = useDatasetsStore()

  const userSubscription = user.userSubscription
  const allowedDatasets = computed(() => userSubscription?.numberDatasets || 1)
  const remaingingDatasets = computed(() => {
    const val = allowedDatasets.value - datasetsStore.userDatasetsLength
    return val < 0 ? 0 : val
  })
</script>
