<template>
  <v-text-field
    v-model="model"
    clearable
    hide-details
    class="input-hide-label"
    density="compact"
    :placeholder="placeholder"
    variant="underlined">
    <template #prepend>
      <v-icon size="x-small">
        {{ commonIcons.search }}
      </v-icon>
    </template>
  </v-text-field>
</template>

<script setup lang="ts">
  interface Props {
    placeholder?: string
  }
  defineProps<Props>()
  const model = defineModel<any>()
</script>
