<template>
  <!-- TABLE -->
  <!-- v-if="dataset" -->
  <!-- <code class="text-caption"> searchString : {{ searchString }} - pagination : {{ pagination }} </code> -->
  <!-- height="auto" -->
  <v-table
    v-if="dataset"
    height="100%"
    :id="dataset.id"
    :fixed-header="itemsList.length > 10"
    :class="`table-custom ${itemsList.length > 10 ? '' : 'un-scrollable-content'} scrollable-content ${navigationStore.isDark ? 'table-custom-dark scrollable-dark' : 'table-custom-light scrollable-light'}`">
    <!-- {{ dataset.id }} - {{ datasetId }} -->
    <!-- <template #wrapper>test</template> -->

    <!-- TABLE HEADERS -->
    <thead
      v-if="headersList.length"
      :id="`${dataset.id}-headers`">
      <!-- HEADERS -->
      <draggable
        v-model="headersList"
        handle=".handle"
        tag="tr"
        item-key="id"
        :animation="300">
        <!-- ACTIONS COLUMN -->
        <template #header>
          <th
            :id="defaultHeaderLeft.id"
            :class="`sticky-col-header header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'} header-helpers-left text-center`">
            <v-tooltip
              location="right"
              :text="$t('datasets.tables.selectAllRows')">
              <template #activator="{ props: tooltipProps }">
                <v-btn
                  v-if="!openHeaderSettings"
                  v-bind="tooltipProps"
                  size="small"
                  variant="text"
                  density="compact"
                  :icon="findRowActionIcon({ action: TableAction.selectAllRows })"
                  @click="handleAction({ action: TableAction.selectAllRows })">
                </v-btn>
              </template>
            </v-tooltip>
          </th>
        </template>
        <!-- HEADERS COLUMN -->
        <template #item="{ index }">
          <th
            :id="dataset.headers[index].id"
            :class="`relative-col header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'}`">
            <!-- {{ headersList[index] }} -->
            <!-- {{ dataset.headers[index] }} -->
            <div class="d-flex align-center justify-center">
              <v-tooltip
                location="top"
                :text="`${$t('datasets.helpers.headers.tableSchema.type')} : ${dataset.headers[index].tableSchema?.type} ${dataset.headers[index].customProps?.subtype ? ' (' + dataset.headers[index].customProps?.subtype + ')' : ''}`">
                <template #activator="{ props: tooltipProps }">
                  <v-icon
                    size="small "
                    color="grey"
                    v-bind="tooltipProps">
                    {{ findHeaderTypeIcon(dataset.headers[index]) }}
                  </v-icon>
                </template>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-tooltip
                location="top"
                :text="
                  openHeaderSettings
                    ? $t('datasets.tables.closeEditSchema')
                    : $t('datasets.tables.editSchema', { headerTitle: dataset.headers[index].tableSchema?.title })
                ">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    class="mx-2 text-none handle"
                    size="default"
                    variant="text"
                    @click="openHeaderSettings = !openHeaderSettings">
                    <v-icon
                      size="x-small"
                      color="grey"
                      class="mr-2">
                      {{ findActionIcon(TableAction.handleColumn) }}
                    </v-icon>
                    <span class="font-weight-bold">
                      {{ dataset.headers[index].tableSchema?.title }}
                    </span>
                    <v-icon
                      size="x-small"
                      color="grey"
                      class="ml-4">
                      {{ findActionIcon(TableAction.editColumn) }}
                    </v-icon>
                  </v-btn>
                </template>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-tooltip
                location="top"
                :text="`${$t('datasets.tables.removeColumn')} : ${dataset.headers[index].name}`">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    variant="text"
                    density="compact"
                    color="grey"
                    size="x-small"
                    :icon="findActionIcon(TableAction.removeColumn)"
                    @click="openDeleteColumnsDialog(dataset.headers[index].id)">
                  </v-btn>
                </template>
              </v-tooltip>
            </div>
          </th>
        </template>
        <!-- ACTIONS LAST COLUMN -->
        <template #footer>
          <th
            :id="defaultHeaderRight.id"
            :class="`sticky-col-header-end header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'} header-helpers-right text-center`">
            <v-tooltip
              location="top"
              :text="$t('datasets.tables.addColumn')">
              <template #activator="{ props: tooltipProps }">
                <v-btn
                  v-bind="tooltipProps"
                  variant="text"
                  density="compact"
                  :icon="findActionIcon(TableAction.addColumn)"
                  @click="addColumn">
                </v-btn>
              </template>
            </v-tooltip>
          </th>
        </template>
      </draggable>

      <!-- HEADERS SETTINGS -->
      <template v-if="openHeaderSettings">
        <tr
          v-for="headerProp in headersSettings"
          :key="headerProp.key">
          <th :class="`sticky-col-header header-cell ${headerSettingsColor} header-helpers-left text-center`">
            {{ $t(`${headerProp.table}.helpers.${headerProp.inputLocal}.${headerProp.key}`) }}
          </th>
          <th
            v-for="(header, i) in headersList"
            :key="`${header.id}-${headerProp.key}`"
            :class="`relative-col header-cell ${headerSettingsColor} px-0 pt-2`">
            <DataItemCell
              v-model.header="dataset.headers[i]"
              :header="header"
              :input-field="headerProp"
              :is-header-model="true"
              :view-mode="viewMode"></DataItemCell>
          </th>
          <th :class="`sticky-col-header-end header-cell ${headerSettingsColor} header-helpers-right text-center`"></th>
        </tr>
        <!-- ADDITIONAL HEADER PROPS BTN -->
        <tr>
          <th :class="`sticky-col-header header-cell ${headerSettingsColor} header-helpers-left text-center`">
            {{ $t('datasets.tables.settingsColumn') }}
          </th>
          <th
            v-for="(header, i) in headersList"
            :key="`${header.id}-${i}-more`"
            :class="`relative-col header-cell text-center px-2 ${headerSettingsColor} pa-0`">
            <v-tooltip
              location="top"
              :text="$t('datasets.tables.settingsColumnTooltip', { headerTitle: header.tableSchema?.title })">
              <template #activator="{ props: tooltipProps }">
                <v-btn
                  v-bind="tooltipProps"
                  variant="text"
                  size="small"
                  :icon="commonIcons.datasetHeaderSettings"
                  @click="openHeaderSettingsDialog(i)"></v-btn>
              </template>
            </v-tooltip>
          </th>
          <th :class="`sticky-col-header-end header-cell ${headerSettingsColor} header-helpers-right text-center`"></th>
        </tr>
      </template>
    </thead>

    <!-- TABLE DATA ITEMS -->

    <template v-if="dataset.items">
      <draggable
        :id="`${dataset.id}-rows`"
        v-model="itemsList"
        :animation="300"
        handle=".handle"
        tag="tbody"
        item-key="id">
        <template #item="{ element: itemData }">
          <tr
            :id="itemData.id"
            :class="`rows ${isRowSelected(itemData.id) ? 'font-weight-bold' : ''}`">
            <td
              :class="`sticky-col align-center justify-center row-helpers-left ${navigationStore.isDark ? 'cell-dark-2' : 'cell-light-2'} `">
              <template
                v-for="action in defaultHeaderLeft.actions"
                :key="action">
                <v-tooltip
                  location="right"
                  :text="$t(`datasets.tables.${action}`)">
                  <template #activator="{ props: tooltipProps }">
                    <v-btn
                      v-bind="tooltipProps"
                      variant="text"
                      density="compact"
                      size="small"
                      color="grey"
                      :class="`mx-1 ${action === TableAction.handleRow ? 'handle' : ''}`"
                      :icon="findRowActionIcon({ action, rowId: itemData.id })"
                      @click="handleAction({ action, rowId: itemData.id })">
                    </v-btn>
                  </template>
                </v-tooltip>
              </template>
              <v-spacer></v-spacer>
            </td>
            <td
              v-for="header in headersList"
              :key="header.id"
              class="relative-col row-cell">
              <div
                v-if="itemData.data"
                :class="`d-flex align-center item-cell ${navigationStore.isDark ? 'bg-background' : 'bg-white'}`">
                <DataItemCell
                  v-model="itemData.data[header.id]"
                  :header="header"
                  :view-mode="viewMode">
                </DataItemCell>
              </div>
            </td>
            <td :class="`sticky-col-end row-helpers-right text-center ${navigationStore.isDark ? 'cell-dark-2' : 'cell-light-2'}`">
              <v-tooltip
                location="left"
                :text="$t('datasets.tables.removeRow')">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-for="action in defaultHeaderRight.actions"
                    :key="action"
                    v-bind="tooltipProps"
                    variant="text"
                    size="x-small"
                    color="grey"
                    :class="`${action === TableAction.handleRow ? 'handle' : ''}`"
                    :icon="findActionIcon(action)"
                    @click="handleAction({ action, rowId: itemData.id })">
                  </v-btn>
                </template>
              </v-tooltip>
            </td>
          </tr>
        </template>
      </draggable>
    </template>
  </v-table>

  <!-- ROW / ADD ROW -->
  <v-table>
    <tbody>
      <tr class="compact-row add-row">
        <td :class="`text-left pl-11 ${navigationStore.isDark ? 'cell-dark-2 add-row-dark' : 'cell-light-2 add-row-light'} `">
          <v-tooltip
            location="top"
            :text="$t('datasets.tables.addRow')">
            <template #activator="{ props: tooltipProps }">
              <v-btn
                v-bind="tooltipProps"
                variant="text"
                density="compact"
                :icon="findActionIcon(TableAction.addRow)"
                @click="addRow">
              </v-btn>
            </template>
          </v-tooltip>
        </td>
      </tr>
    </tbody>
  </v-table>

  <!-- DIALOG CONFIRM DELETE COLUMNS -->
  <v-dialog
    v-model="showDeleteHeadersDialog"
    width="400px">
    <v-card class="pa-3">
      <template #title>
        {{ $t('datasets.removeHeader') }}
      </template>
      <template #append>
        <v-icon @click="showDeleteHeadersDialog = false"> {{ commonIcons.close }}</v-icon>
      </template>
      <v-card-text class="text-center py-12">
        <v-icon color="error">{{ commonIcons.warning }}</v-icon>
        <p class="text-error mt-3">
          {{ $t('datasets.removeConfirm') }}
        </p>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          class="mx-3"
          variant="text"
          color="grey"
          size="large"
          :prepend-icon="commonIcons.close"
          @click="closeDeleteColumnsDialog">
          {{ $t('actions.cancel') }}
        </v-btn>
        <v-btn
          class="mx-3"
          variant="text"
          color="error"
          size="large"
          :prepend-icon="commonIcons.delete"
          @click="removeColumns">
          {{ $t('actions.delete') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- DIALOG CONFIRM DELETE ROWS -->
  <v-dialog
    v-model="showDeleteRowsDialog"
    width="400px">
    <v-card class="pa-3">
      <template #title>
        {{ $t('datasets.removeRow') }}
      </template>
      <template #append>
        <v-icon @click="showDeleteRowsDialog = false"> {{ commonIcons.close }}</v-icon>
      </template>
      <v-card-text class="text-center py-12">
        <v-icon color="error">{{ commonIcons.warning }}</v-icon>
        <p class="text-error mt-3">
          {{ $t('datasets.removeConfirm') }}
        </p>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          class="mx-3"
          variant="text"
          color="grey"
          size="large"
          :prepend-icon="commonIcons.close"
          @click="closeDeleteRowsDialog">
          {{ $t('actions.cancel') }}
        </v-btn>
        <v-btn
          class="mx-3"
          variant="text"
          color="error"
          size="large"
          :prepend-icon="commonIcons.delete"
          @click="removeRows">
          {{ $t('actions.delete') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- DIALOG HEADER SETTINGS -->
  <v-dialog
    v-model="showHeaderSettingsDialog"
    width="600">
    <DataHeaderDialogCard
      v-if="headerToEditIndex"
      v-model="dataset.headers[headerToEditIndex - 1]"
      :view-mode="viewMode"
      @close="closeHeaderSettingsDialog"></DataHeaderDialogCard>
  </v-dialog>

  <!-- DEBUGGING -->
  <v-row
    v-if="true"
    class="ma-12">
    <!-- <v-col
      cols="3"
      class="text-caption">
      headersList
      <pre>{{ headersList.slice(0, 3) }}</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      itemsList
      <pre>{{ itemsList.slice(0, 3) }}</pre>
    </v-col> -->
    <v-col
      cols="3"
      class="text-caption">
      tableUserSettings
      <pre>{{ tableUserSettings }}</pre>
      selectedHeaders
      <pre>{{ selectedHeaders }}</pre>
      selectedRowsToDelete
      <pre>{{ selectedRowsToDelete }}</pre>
      selectedRows
      <pre>{{ selectedRows }}</pre>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import draggable from 'vuedraggable'
  // import { getFromOnePath } from '@/utils/helpers'
  import { TableAction, ScrollDirection, ViewMode, type TableHeader } from '@/utils/types'

  import {
    defaultHeaderLeft, //
    defaultHeaderRight,
    headersSettings,
    resizableGrid,
    // createResizableColumn
    buildNewHeader,
    buildNewRow
  } from '@/utils/tables'
  import { scrollToLastElement } from '@/utils/navigation'
  import { findActionIcon } from '@/utils/icons'

  interface Props {
    dataset: Dataset
    pagination: Pagination
    totalPages?: number
    searchString?: string
    datasetId?: string
    isNewDataset?: boolean
    width?: string
    viewMode: ViewMode
  }
  const props = defineProps<Props>()

  const emit = defineEmits(['goToLastPage'])

  const navigationStore = useNavigationStore()
  const datasetsStore = useDatasetsStore()

  const openHeaderSettings = ref<boolean>(false)

  const showDeleteHeadersDialog = ref(false)
  const selectedHeaders = ref<string[]>([])
  // const headerToEdit = ref<TableHeader>()
  const headerToEditIndex = ref<number>()
  const showHeaderSettingsDialog = ref(false)

  const showDeleteRowsDialog = ref(false)
  const selectedRows = ref<string[]>([])
  const selectedRowsToDelete = ref<string[]>([])
  const allRowsSelected = ref<boolean>(false)

  const tableUserSettings = ref<TableUserSettings>({
    headers: {},
    viewMode: props.viewMode,
    pagination: undefined
  })

  // COMPUTED
  // const dataset = computed(() => {
  //   if (!props.isNewDataset && props.datasetId) {
  //     return datasetsStore.currentDataset as Dataset
  //   } else {
  //     return datasetsStore.newDataset
  //   }
  // })
  const headersList = computed({
    get: () => props.dataset.headers as TableHeader[],
    set: (value: TableHeader[]) => {
      datasetsStore.updateDatasetHeaders(value, props.isNewDataset)
    }
  })

  // ITEMS DATA
  const filterItemsBySearchString = computed(() => {
    let items = props.dataset.items as TableItem[]
    if (props.searchString) {
      const searchStr = props.searchString.toLowerCase()
      items = items.filter((item) => {
        // console.log('\nprops.searchString : ', props.searchString)
        const boolArray: boolean[] = []
        const data = item.data && Object.values(item.data).map((i) => i.toString().toLowerCase())
        // console.log('data : ', data)
        data?.forEach((i) => {
          if (i.includes(searchStr)) boolArray.push(true)
        })
        // console.log('boolArray : ', boolArray)
        return boolArray.some((b) => !!b)
      })
    }
    return items
  })

  const filterItemsByPagination = computed(() => {
    const items: TableItem[] = filterItemsBySearchString.value
    return paginate(items, props.pagination.perPage, props.pagination.page)
  })

  const filteredItems = computed(() => {
    // return filterItemsByPagination.value
    return filterItemsBySearchString.value
  })

  const itemsList = computed({
    get: () => {
      return filteredItems.value
    },
    set: (value: TableItem[]) => {
      datasetsStore.updateDatasetItems(value)
    }
  })

  const headerSettingsColor = computed(() => {
    return navigationStore.isDark ? 'cell-dark-2' : 'bg-datamiYellow'
  })

  // VIRTUAL

  const virtualItems = computed(() => {
    const headers = { headers: toRaw(headersList.value), role: 'header' }
    const items = itemsList.value.map((i) => {
      return { ...i, role: 'item' }
    })
    // return [headers, ...items]
    return items
  })
  // ACTIONS
  const handleAction = ({ action, headerId, rowId }: { action: TableAction; headerId?: string; rowId?: string }) => {
    switch (action) {
      case TableAction.addColumn:
        addColumn()
        break
      case TableAction.removeColumn:
        if (headerId) {
          openDeleteColumnsDialog(headerId)
        }
        break

      case TableAction.addRow:
        addRow()
        break
      case TableAction.removeRow:
        if (rowId) {
          openDeleteRowsDialog(rowId)
        }
        break
      case TableAction.selectRow:
        if (rowId) {
          if (isRowSelected(rowId)) unselectRow(rowId)
          else selectRow(rowId)
        }
        break
      case TableAction.selectAllRows:
        if (allRowsSelected.value) unselectAllRows()
        else selectAllRows()
        break
      default:
        break
    }
  }
  const findRowActionIcon = ({ action, rowId }: { action: TableAction; rowId?: string }) => {
    if (action === TableAction.selectRow && rowId && isRowSelected(rowId)) {
      return findActionIcon(TableAction.selectedRow)
    } else if (action === TableAction.selectAllRows && allRowsSelected.value) {
      return findActionIcon(TableAction.selectedRows)
    } else {
      return findActionIcon(action)
    }
  }

  // HEADERS
  const addColumn = () => {
    const newHeader = buildNewHeader()
    datasetsStore.addDatasetHeader(newHeader, props.isNewDataset)
    setTimeout(() => {
      scrollToLastElement(`#${props.dataset.id}`, ScrollDirection.horizontal)
    }, 500)
  }
  const openDeleteColumnsDialog = (headerId: string) => {
    selectedHeaders.value.push(headerId)
    showDeleteHeadersDialog.value = true
  }
  const closeDeleteColumnsDialog = () => {
    selectedHeaders.value = []
    showDeleteHeadersDialog.value = false
  }
  const removeColumns = () => {
    selectedHeaders.value.forEach((headerId) => {
      datasetsStore.removeDatasetHeader(headerId, props.isNewDataset)
    })
    closeDeleteColumnsDialog()
  }
  const openHeaderSettingsDialog = (index: number) => {
    // headerToEdit.value = header
    headerToEditIndex.value = index + 1
    showHeaderSettingsDialog.value = true
  }
  const closeHeaderSettingsDialog = () => {
    // headerToEdit.value = undefined
    headerToEditIndex.value = undefined
    showHeaderSettingsDialog.value = false
  }

  // ROWS
  const isRowSelected = (rowId: string) => {
    return selectedRows.value.includes(rowId)
  }
  const selectRow = (rowId: string) => {
    // console.log('selectRow > rowId : ', rowId)
    allRowsSelected.value = false
    selectedRows.value.push(rowId)
  }
  const selectAllRows = () => {
    allRowsSelected.value = true
    selectedRows.value = props.dataset.items?.map((i) => i.id) || []
  }
  const unselectRow = (rowId: string) => {
    // console.log('unselectRow > rowId : ', rowId)
    allRowsSelected.value = false
    selectedRows.value = selectedRows.value.filter((id) => id !== rowId)
  }
  const unselectAllRows = () => {
    allRowsSelected.value = false
    selectedRows.value = []
  }
  const addRow = () => {
    const newItem: TableItem = buildNewRow()
    datasetsStore.addDatasetItem(newItem, props.isNewDataset)
    setTimeout(() => {
      scrollToLastElement(`#${props.dataset.id}`, ScrollDirection.vertical)
    }, 500)
    // Emit goToLastPage
    emit('goToLastPage')
  }
  const openDeleteRowsDialog = (rowId: string) => {
    selectedRowsToDelete.value.push(rowId)
    showDeleteRowsDialog.value = true
  }
  const closeDeleteRowsDialog = () => {
    selectedRowsToDelete.value = []
    showDeleteRowsDialog.value = false
  }
  const removeRows = () => {
    selectedRowsToDelete.value.forEach((rowId: string) => {
      datasetsStore.removeDatasetItem(rowId, props.isNewDataset)
    })
  }

  // TABLE
  const setResizable = () => {
    // Query the table
    const table = document.getElementById(props.dataset.id) as HTMLElement
    resizableGrid(table as HTMLTableElement, tableUserSettings)
  }

  watch(
    () => props.datasetId,
    (next, prev) => {
      // console.log('watch > next :', next)
      // console.log('watch > prev :', prev)
      if (next !== prev) {
        setTimeout(() => {
          setResizable()
        }, 1000)
      }
    }
  )
  watch(
    () => props.pagination,
    (next) => {
      tableUserSettings.value.pagination = next
      // change page
    }
  )
  onMounted(() => {
    if (props.dataset) {
      setResizable()
    }
  })
</script>
