<template>
  <v-sheet class="px-4 pt-4 pb-1">
    <!-- UTILS BAR -->
    <v-row class="mb-0 align-center justify-center">
      <v-col
        cols="6"
        sm="12"
        md="4"
        lg="3"
        class="pa-1 d-flex flex-row align-center justify-sm-center justify-md-center justify-lg-start">
        <!-- META DATA BTN -->
        <v-tooltip
          :text="$t('datasets.helpers.meta.meta')"
          location="top">
          <template #activator="{ props: tooltipProps }">
            <v-btn
              v-bind="tooltipProps"
              :disabled="showFileImportDialog"
              variant="text"
              class="h-full"
              size="small"
              @click="toggleMetaPanel()">
              <v-icon>
                {{ showMetaDataTable ? commonIcons.infoActive : commonIcons.info }}
              </v-icon>
            </v-btn>
          </template>
        </v-tooltip>
        <v-divider
          vertical
          color="datamiBlueLight"
          class="d-none d-md-flex mx-2"
          thickness="3px"></v-divider>

        <!-- IMPORT BUTTONS -->
        <InputsImportFilesMenu
          :target="FileTarget.dataset"
          :dataset-id="dataset.id"
          :is-new-dataset="isNewDataset"
          :tooltip="$t('imports.importDataset')"
          :highlight="!showDataTable"
          :disabled="false"
          :input-fields="[...createOptions, ...importFileOptions, ...importDistOptions]"
          :selected-file-type="selectedFileType"
          :icon="commonIcons.table"
          @selected-file-type="setSelectedFileType"
          @file-preview="handleImportPreview"
          @file-ready="showDataTable = true">
        </InputsImportFilesMenu>

        <!-- IMPORT SCHEMA -->
        <InputsImportFilesMenu
          :target="FileTarget.tableSchema"
          :dataset-id="dataset.id"
          :is-new-dataset="isNewDataset"
          :tooltip="$t('imports.importTableSchema')"
          :highlight="!showDataTable"
          :disabled="true"
          :input-fields="[...importSchemaOptions, ...importDistOptions]"
          :selected-file-type="selectedFileType"
          :icon="commonIcons.json">
        </InputsImportFilesMenu>
        <v-divider
          vertical
          color="datamiBlueLight"
          class="d-none d-md-flex mx-2"
          thickness="3px"></v-divider>

        <!-- VIEW MODE -->
        <DataViewModeButton v-model="viewMode"></DataViewModeButton>
        <v-divider
          vertical
          color="datamiBlueLight"
          class="d-none d-md-flex mx-2"
          thickness="3px"></v-divider>
      </v-col>
      <v-divider
        color="datamiBlueLight"
        class="d-none d-sm-flex d-md-flex d-lg-none mx-2"
        thickness="3px"></v-divider>

      <v-spacer></v-spacer>

      <!-- TABLE UTILS -->
      <v-col
        cols="12"
        sm="12"
        md="12"
        lg="5"
        class="py-1 px-4 d-flex flex-row justify-center">
        <v-row class="align-center">
          <v-col cols="7">
            <DataSearchInput
              v-model="searchString"
              :placeholder="$t('datasets.tables.searchInDataset')"></DataSearchInput>
          </v-col>
          <v-col cols="5">
            <DataPagination
              v-model="pagination"
              :total-pages="totalPages"></DataPagination>
          </v-col>
        </v-row>
      </v-col>

      <v-spacer></v-spacer>

      <!-- DATASETS MAIN ACTIONS -->
      <v-divider
        color="datamiBlueLight"
        class="d-none d-sm-flex d-md-flex d-lg-none mx-2"
        thickness="3px"></v-divider>
      <v-col
        cols="12"
        sm="12"
        md="12"
        lg="3"
        class="pa-1 d-flex flex-row justify-sm-center justify-md-center justify-lg-end">
        <v-divider
          vertical
          color="datamiBlueLight"
          class="d-none d-lg-flex"
          thickness="3px"></v-divider>
        <!-- DOWNLOAD -->
        <v-btn
          disabled
          variant="plain"
          size="small"
          class="ml-3">
          <v-icon>{{ commonIcons.download }}</v-icon>
        </v-btn>

        <!-- GIT -->
        <v-btn
          disabled
          variant="plain"
          size="small"
          class="ml-3">
          <v-icon>{{ commonIcons.git }}</v-icon>
        </v-btn>

        <!-- REFRESH -->
        <v-btn
          disabled
          variant="plain"
          size="small"
          class="ml-3">
          <v-icon>{{ commonIcons.refresh }}</v-icon>
        </v-btn>

        <!-- REMOVE -->
        <v-tooltip
          location="top"
          :text="$t('datasets.remove')">
          <template #activator="{ props: tooltipProps }">
            <v-btn
              v-bind="tooltipProps"
              variant="flat"
              class="ml-3"
              size="small"
              @click="showDeleteDatasetDialog = true">
              <v-icon> {{ commonIcons.delete }}</v-icon>
            </v-btn>
          </template>
        </v-tooltip>
      </v-col>
    </v-row>
  </v-sheet>

  <!-- IMPORT PREVIEW + OPTIONS : CSV / XLS / URL -->
  <v-dialog
    v-model="showFileImportDialog"
    width="400px">
    <v-card class="pa-3">
      <template #title>
        <span v-if="selectedFileType === InputType.fileCsv">
          {{ $t('imports.selectCsvSeparator') }}
        </span>
        <span v-if="selectedFileType === InputType.fileXls">
          {{ $t('imports.selectXlsSheet') }}
        </span>
      </template>
      <template #append>
        <v-icon @click="removeDataset"> {{ commonIcons.close }}</v-icon>
      </template>
      <v-card-text>
        <v-row class="my-3 px-2 align-center justify-center">
          <!-- CSV - SEPARATOR SELECTOR -->
          <template v-if="selectedFileType === InputType.fileCsv">
            <v-select
              v-model="selectedCsvSeparator"
              :label="$t('imports.selectCsvSeparator')"
              item-value="separator"
              density="default"
              hide-details
              :items="separators">
              <template #selection="{ item }">
                {{ $t(`misc.${item.raw.name}`) }}
              </template>
              <template #item="{ props: selectProps, item }">
                <v-list-item
                  v-bind="selectProps"
                  :title="$t(`misc.${item.raw.name}`)">
                </v-list-item>
              </template>
            </v-select>
          </template>

          <!-- XLS - SHEET & HEADERS SELECTORS -->
          <template v-if="selectedFileType === InputType.fileXls">
            <!-- XLS - SHEET SELECTOR -->
            <v-select
              v-model="selectedXlsSheet"
              :label="$t('imports.selectXlsSheet')"
              :items="xlsSheetNames"
              :item-props="true"
              density="default"
              hide-details
              class="mr-2">
              <template #selection="{ item }">
                {{ item.raw.name }}
              </template>
              <template #item="{ props: selectProps, item }">
                <v-list-item
                  v-bind="selectProps"
                  :title="item.raw.name">
                </v-list-item>
              </template>
            </v-select>
            <!-- XLS - HEADERS SELECTOR -->
            <!-- <v-select
                v-model="selectedXlsHeadersRow"
                :label="$t('imports.selectXlsHeaderRow')"
                :item-props="true"
                density="default"
                hide-details
                :items="xlsFirstRows">
                <template #selection="{ item }">
                  {{ $t(`misc.${item.raw.name}`) }}
                </template>
                <template #item="{ props, item }">
                  <v-list-item
                    v-bind="props"
                    :title="$t(`misc.${item.raw.name}`)">
                  </v-list-item>
                </template>
              </v-select>
            </v-col> -->
          </template>
        </v-row>
      </v-card-text>
      <v-card-actions
        v-if="selectedCsvSeparator || selectedXlsSheet"
        class="justify-center">
        <v-btn
          class="ml-2"
          variant="text"
          color="success"
          size="large"
          @click="validateImportOptions">
          <v-icon>{{ commonIcons.validate }}</v-icon>
          {{ $t('actions.validate') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- CONFIRM DELETE DATASET -->
  <v-dialog
    v-model="showDeleteDatasetDialog"
    width="400px">
    <v-card class="pa-3">
      <template #title>
        {{ $t('datasets.remove') }}
      </template>
      <template #append>
        <v-icon @click="showDeleteDatasetDialog = false"> {{ commonIcons.close }}</v-icon>
      </template>
      <v-card-text class="text-center py-12">
        <v-icon color="error">{{ commonIcons.warning }}</v-icon>
        <p class="text-error mt-3">
          {{ $t('datasets.removeConfirm') }}
        </p>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          class="mx-3"
          variant="text"
          color="grey"
          size="large"
          :prepend-icon="commonIcons.close"
          @click="showDeleteDatasetDialog = false">
          {{ $t('actions.cancel') }}
        </v-btn>
        <v-btn
          class="mx-3"
          variant="text"
          color="error"
          size="large"
          :prepend-icon="commonIcons.delete"
          @click="removeDataset">
          {{ $t('actions.delete') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- DEBUGGING -->
  <!-- <v-row>
    <v-col>
      fileImportDataRaw:
      <pre>{{ fileImportDataRaw }}</pre>
    </v-col>
    <v-col>
      selectedXlsSheet:
      <pre>{{ selectedXlsSheet }}</pre>
      xlsSheetNames:
      <pre>{{ xlsSheetNames }}</pre>
    </v-col>
    <v-col>
      selectedXlsHeadersRow:
      <pre>{{ selectedXlsHeadersRow }}</pre>
    </v-col>
    <v-col>
      xlsFirstRows:
      <pre>{{ xlsFirstRows }}</pre>
    </v-col>
  </v-row> -->

  <!-- META DATA DRAWER -->
  <v-expansion-panels
    v-model="showMetaDataTable"
    class="expansion-panel-flat"
    variant="default">
    <v-expansion-panel value="meta">
      <!-- <v-expansion-panel-title> {{ $t('datasets.helpers.meta.meta') }} </v-expansion-panel-title> -->
      <v-expansion-panel-text :class="`bg-grey border-${navigationStore.isDark ? 'grey' : 'white'}`">
        <v-divider></v-divider>
        <v-row class="px-10 my-1 align-center justify-center">
          <v-spacer> </v-spacer>
          <v-btn
            class="font-weight-bold"
            :prepend-icon="commonIcons.info"
            variant="text"
            @click="showMetaDataTable = ''">
            {{ $t('datasets.helpers.meta.meta') }}
          </v-btn>
          <v-spacer> </v-spacer>
          <v-btn
            :icon="commonIcons.close"
            size="small"
            variant="text"
            @click="showMetaDataTable = ''">
          </v-btn>
        </v-row>
        <v-divider></v-divider>
        <v-card
          class="px-12 py-4"
          color="grey-lighten-4"
          variant="flat">
          <v-card-text>
            <v-row class="justify-center">
              <v-col
                v-for="(metaSlice, idx) in metaSlices"
                :key="`meta-slice-${idx}`"
                cols="12"
                sm="12"
                md="4"
                lg="4">
                <DataMetaCell
                  v-for="(inputField, i) in datasetMetaBasics.slice(metaSlice.start, metaSlice.end)"
                  :key="`meta-slice-${idx}-${i}`"
                  v-model.meta="dataset.meta"
                  :meta="dataset.meta"
                  :is-new-dataset="isNewDataset"
                  :hide-icon="true"
                  :input-field="inputField">
                </DataMetaCell>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <!-- <v-divider class="mb-12"></v-divider> -->
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>

  <!-- TABLE SHEET / DATA TABLE -->
  <DataTable
    v-if="showDataTable && dataset"
    width="100%"
    :dataset-id="dataset.id"
    :dataset="dataset"
    :is-new-dataset="isNewDataset"
    :pagination="pagination"
    :total-pages="totalPages"
    :search-string="searchString"
    :view-mode="viewMode"
    @go-to-last-page="pagination.page = totalPages">
  </DataTable>
  <!-- <v-skeleton-loader
    v-if="!showDataTable && !showFileImportDialog"
    type="heading, table-row-divider@6"
    class="pb-12 px-2">
  </v-skeleton-loader> -->

  <!-- DEBUGGING -->
  <v-row
    v-if="dataset"
    class="ma-12">
    <v-col
      cols="3"
      class="text-caption">
      dataset.id :
      <pre>{{ dataset.id }}</pre>
      dataset.meta
      <pre>{{ dataset.meta }}</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      dataset.headers
      <pre>{{ dataset.headers.slice(0, 2) }}...</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      dataset.items
      <pre>{{ dataset.items.slice(0, 2) }}...</pre>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { type WorkBook } from 'xlsx'
  import {
    InputType, //
    CsvSeparator,
    ViewMode,
    type HandleImportFileEvent,
    type HandleImportFormattingOptions,
    type Pagination
  } from '@/utils'
  import { datasetMetaBasics } from '@/utils/datasets'
  import { createOptions, importFileOptions, importDistOptions, importSchemaOptions } from '@/utils/files'

  const metaSlices = [
    { start: 0, end: 3 },
    { start: 3, end: 6 },
    { start: 6, end: 9 }
  ]

  interface Props {
    dataset: Dataset
    datasetId: string
    isNewDataset?: boolean
  }
  const props = withDefaults(defineProps<Props>(), {
    isNewDataset: false
  })

  const { getSession } = useAuth()
  const { deleteDatasetById } = useDatasets()
  const navigationStore = useNavigationStore()
  const datasetsStore = useDatasetsStore()

  const showMetaDataTable = ref<string>('')
  const selectedFileType = ref<InputType>()

  const viewMode = ref<ViewMode>(ViewMode.edit)

  const pagination = ref<Pagination>({
    page: 1,
    perPage: 50
  })

  const showFileImportDialog = ref<boolean>(false)
  const showDeleteDatasetDialog = ref<boolean>(false)
  const fileImportDataRaw = ref<HandleImportFileEvent>()

  const searchString = ref<string>()

  // CSV

  const selectedCsvSeparator = ref<CsvSeparator>()

  // XLS

  const xlsWorkbook = ref<WorkBook>()
  interface XlsSheetSelection {
    name: string
    index: number
  }
  const xlsSheetNames = ref<XlsSheetSelection[]>([])
  const selectedXlsSheet = ref<XlsSheetSelection>()
  const selectedXlsHeadersRow = ref<string>('A')

  const showDataTable = ref<boolean>(true)

  const totalItems = computed(() => {
    return props.dataset.items.length
  })
  const totalPages = computed(() => {
    return Math.ceil(totalItems.value / pagination.value.perPage)
  })

  // SETTERS

  const toggleMetaPanel = () => {
    showMetaDataTable.value = showMetaDataTable.value === '' ? 'meta' : ''
  }
  const setSelectedFileType = (event: InputType | undefined) => {
    selectedFileType.value = event
  }

  // HANDLERS

  const handleImportPreview = (event: HandleImportFileEvent) => {
    // Retrieve options
    const { inputType } = event
    const { workbook, options } = getFileImportOptions(event)
    // console.log('handleImportPreview > options : ', options)

    let suggestedSeparator

    switch (inputType) {
      case InputType.fileCsv:
        suggestedSeparator = options.csvSeparatorSuggested?.suggested.separator
        selectedCsvSeparator.value = suggestedSeparator
        break
      case InputType.fileXls:
        xlsWorkbook.value = workbook
        xlsSheetNames.value = options.xlsSheets || []
        break
    }

    // Store in local refs
    fileImportDataRaw.value = event

    // Close meta
    showMetaDataTable.value = ''

    // Open dialog
    showFileImportDialog.value = true
  }

  // const xlsFirstRows = computed(() => {
  //   if (xlsWorkbook.value && selectedXlsSheet.value) {
  //     return getXlsSheetFirstRows(xlsWorkbook.value, selectedXlsSheet.value.name)
  //   } else {
  //     return false
  //   }
  // })

  // HANDLERS

  const validateImportOptions = async () => {
    // console.log('validateImportOptions > fileImportDataRaw.value : ', fileImportDataRaw.value)

    const existingHeaders = props.isNewDataset ? datasetsStore.newDataset.headers : datasetsStore.currentDataset?.headers
    // console.log('validateImportOptions > existingHeaders : ', existingHeaders)

    const formattingOptions: HandleImportFormattingOptions = {
      csvSeparator: selectedCsvSeparator.value,
      xlsSheetIndex: selectedXlsSheet.value?.index,
      xlsHeadersIndex: 0
    }
    fileImportDataRaw.value = fileImportDataRaw.value && {
      ...fileImportDataRaw.value,
      options: formattingOptions
    }
    // console.log('validateImportOptions > fileImportDataRaw.value : ', fileImportDataRaw.value)

    // FORMAT DATA
    const formatted = await formatFileData(fileImportDataRaw.value as HandleImportFileEvent, existingHeaders)

    // Keep in datasets store
    datasetsStore.setDataset(formatted as Dataset, props.isNewDataset)

    // Close import dialog
    showFileImportDialog.value = false

    // Show data table
    // showDataTable.value = true
  }

  const removeDataset = async () => {
    datasetsStore.resetDataset(props.isNewDataset)
    selectedFileType.value = undefined
    showMetaDataTable.value = ''
    showFileImportDialog.value = false
    showDeleteDatasetDialog.value = false

    xlsSheetNames.value = []
    selectedCsvSeparator.value = undefined
    selectedXlsSheet.value = undefined
    selectedXlsHeadersRow.value = 'A'

    if (!props.isNewDataset) {
      const session = (await getSession()) as SessionClient
      const { data } = await deleteDatasetById(session, props.datasetId)
      console.log(data.value)
      datasetsStore.removeDataset(props.datasetId)
      navigateTo('/datasets')
    }
  }
</script>
