<template>
  <v-tooltip
    :text="`${$t('views.mode')} : ${$t('views.preview')}`"
    location="top">
    <template #activator="{ props: tooltipProps }">
      <v-btn
        v-bind="tooltipProps"
        class="h-full"
        variant="text"
        size="small"
        @click="changeViewMode(ViewMode.preview)">
        <v-icon :class="`${model !== ViewMode.preview ? 'text-grey' : 'text-primary'}`">{{ commonIcons.preview }}</v-icon>
      </v-btn>
    </template>
  </v-tooltip>
  <v-tooltip
    :text="`${$t('views.mode')} : ${$t('views.edit')}`"
    location="top">
    <template #activator="{ props: tooltipProps }">
      <v-btn
        v-bind="tooltipProps"
        class="h-full"
        variant="text"
        size="small"
        @click="changeViewMode(ViewMode.edit)">
        <v-icon :class="`${model !== ViewMode.edit ? 'text-grey' : 'text-primary'}`">{{ commonIcons.edit }}</v-icon>
      </v-btn>
    </template>
  </v-tooltip>
</template>

<script setup lang="ts">
  import { ViewMode } from '@/utils'

  const model = defineModel<ViewMode>()

  const changeViewMode = (mode: ViewMode) => {
    model.value = mode
  }
</script>
