<template>
  <div v-if="dataset">
    <!-- show-select -->
    <!-- item-key="id" -->
    <v-data-table-virtual
      :id="dataset.id"
      v-model:sort-by="sortBy"
      v-model="selectedRows"
      :class="`table-custom table-custom-virtual scrollable-content ${navigationStore.isDark ? 'table-custom-dark scrollable-dark' : 'table-custom-light scrollable-light'}`"
      :headers="rowHeaders"
      :items="itemsList"
      :search="search"
      fixed-header
      multi-sort
      return-object
      density="compact"
      height="100%"
      item-value="id">
      <!-- TABLE HEADERS -->
      <template #headers="{ columns, isSorted, toggleSort, someSelected, selectAll, allSelected }">
        <!-- MAIN HEADERS ROW -->
        <draggable
          v-model="headersList"
          handle=".handle"
          item-key="key"
          tag="tr"
          :animation="300">
          <!-- FIRST COLUMN -->
          <template #header>
            <th
              :class="`sticky-col-header header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'} header-helpers-left text-center`">
              <v-tooltip
                location="right"
                :text="$t('datasets.tables.selectAllRows')">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    variant="text"
                    size="small"
                    color="grey"
                    :icon="someSelected ? (allSelected ? commonIcons.allSelected : commonIcons.someSelected) : commonIcons.selectMultiple"
                    @click="() => selectAll(!allSelected)"></v-btn>
                </template>
              </v-tooltip>
            </th>
          </template>

          <!-- HEADERS COLUMN -->
          <template #item="{ index }">
            <th :class="`relative-col header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'}`">
              <div class="d-flex align-center justify-center">
                <!-- HEADER TYPE ICON -->
                <v-tooltip
                  location="top"
                  :text="`${$t('datasets.helpers.headers.tableSchema.type')} : ${dataset.headers[index].tableSchema?.type} ${dataset.headers[index].customProps?.subtype ? ' (' + dataset.headers[index].customProps?.subtype + ')' : ''}`">
                  <template #activator="{ props: tooltipProps }">
                    <v-icon
                      v-bind="tooltipProps"
                      size="x-small"
                      color="grey"
                      class="handle mr-2">
                      {{ findHeaderTypeIcon(dataset.headers[index]) }}
                    </v-icon>
                  </template>
                </v-tooltip>

                <v-spacer></v-spacer>

                <!-- HEADER BUTTON / SETTINGS -->
                <v-tooltip
                  location="top"
                  :text="
                    openHeaderSettings
                      ? $t('datasets.tables.closeEditSchema')
                      : $t('datasets.tables.editSchema', { headerTitle: headersList[index].tableSchema?.title })
                  ">
                  <template #activator="{ props: tooltipProps }">
                    <v-btn
                      v-bind="tooltipProps"
                      class="handle text-none"
                      variant="text"
                      @click="openHeaderSettings = !openHeaderSettings">
                      <v-icon
                        size="x-small"
                        color="grey"
                        class="mr-2">
                        {{ findActionIcon(TableAction.handleColumn) }}
                      </v-icon>
                      {{ headersList[index].tableSchema?.title }}
                      <!-- {{ headersList[index].keySlot }} -->
                      <v-icon
                        size="x-small"
                        color="grey"
                        class="ml-4">
                        {{ findActionIcon(TableAction.editColumn) }}
                      </v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>

                <v-spacer></v-spacer>

                <v-spacer></v-spacer>

                <!-- HEADER ACTION / SORT BY -->
                <v-tooltip
                  location="top"
                  :text="`${$t('datasets.tables.sortColumn')}`">
                  <template #activator="{ props: tooltipProps }">
                    <v-btn
                      v-bind="tooltipProps"
                      :icon="commonIcons.sort"
                      variant="text"
                      density="compact"
                      color="grey"
                      class="ml-2"
                      size="x-small">
                    </v-btn>
                  </template>
                </v-tooltip>
                <!-- <v-button
                  class="mr-2 cursor-pointer handle"
                  @click="() => toggleSort(column)">
                  {{ column.title }}
                <template v-if="isSorted(column)">
                  <v-icon :icon="getSortIcon(column)"></v-icon>
                </template> -->

                <!-- {{ columns[index + 1] }} -->
              </div>
            </th>
          </template>

          <!-- LAST COLUMN -->
          <template #footer>
            <th :class="`relative-col header-cell ${navigationStore.isDark ? 'cell-dark' : 'cell-light'}`">
              <v-tooltip
                location="top"
                :text="$t('datasets.tables.addColumn')">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    variant="text"
                    density="compact"
                    :icon="findActionIcon(TableAction.addColumn)"
                    @click="addColumn">
                  </v-btn>
                </template>
              </v-tooltip>
            </th>
          </template>
        </draggable>

        <!-- HEADERS SETTINGS -->
        <template v-if="openHeaderSettings">
          <!-- ADDITIONAL HEADER PROPS BTN -->
          <tr>
            <th :class="`sticky-col-header header-cell ${headerSettingsColor} header-helpers-left text-center`">
              <span class="text-caption font-weight-light font-italic">
                {{ $t('datasets.tables.settingsColumn') }}
              </span>
            </th>
            <th
              v-for="(header, i) in headersList"
              :key="`${header.id}-${i}-more`"
              :class="`relative-col header-cell text-center px-2 ${headerSettingsColor} pa-0`">
              <v-tooltip
                location="top"
                :text="$t('datasets.tables.settingsColumnTooltip', { headerTitle: header.tableSchema?.title })">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    variant="text"
                    block
                    size="default"
                    @click="openHeaderSettingsDialog(i)">
                    <v-icon :icon="commonIcons.datasetHeaderSettings"></v-icon
                  ></v-btn>
                </template>
              </v-tooltip>
            </th>
            <th :class="`header-cell ${headerSettingsColor} header-helpers-right text-center`"></th>
          </tr>

          <!-- MAIN HEADER SETTINGS -->
          <tr
            v-for="headerProp in headersSettings"
            :key="headerProp.key">
            <th :class="`sticky-col-header header-cell ${headerSettingsColor} header-helpers-left text-center`">
              <span class="text-caption font-weight-light font-italic">
                {{ $t(`${headerProp.table}.helpers.${headerProp.inputLocal}.${headerProp.key}`) }}
              </span>
            </th>
            <th
              v-for="(header, i) in headersList"
              :key="`${header.id}-${headerProp.key}`"
              :class="`relative-col header-cell ${headerSettingsColor} px-0 pt-2`">
              <DataItemCell
                v-model.header="dataset.headers[i]"
                :header="header"
                :input-field="headerProp"
                :is-header-model="true"
                :view-mode="viewMode"></DataItemCell>
            </th>
            <th :class="`header-cell ${headerSettingsColor} header-helpers-right text-center`"></th>
          </tr>

          <!-- REMOVE HEADER BUTTON -->
          <tr>
            <th :class="`sticky-col-header header-cell ${headerSettingsColor} header-helpers-left text-center`">
              <span class="text-caption font-weight-light font-italic">
                {{ $t('datasets.tables.removeColumn') }}
              </span>
            </th>
            <th
              v-for="(header, i) in headersList"
              :key="`${header.id}-${i}-more`"
              :class="`relative-col header-cell text-center px-2 ${headerSettingsColor} pa-0`">
              <v-tooltip
                location="top"
                :text="` ${$t('datasets.tables.removeColumn')} : ${dataset.headers[i].name}`">
                <template #activator="{ props: tooltipProps }">
                  <v-btn
                    v-bind="tooltipProps"
                    variant="text"
                    color="danger"
                    size="default"
                    block
                    @click="openDeleteColumnsDialog(dataset.headers[i].id)">
                    <v-icon :icon="findActionIcon(TableAction.removeColumn)"></v-icon>
                  </v-btn>
                </template>
              </v-tooltip>
            </th>
            <th :class="`header-cell ${headerSettingsColor} header-helpers-right text-center`"></th>
          </tr>
        </template>
      </template>

      <!-- TABLE ITEMS -->
      <template
        v-for="h in rowHeaders"
        :key="h.key"
        #[h.keySlot]="itemValue">
        <!-- {{ h }} -->
        <template v-if="h.name === 'selectable'">
          <v-btn
            :icon="selectedRows.includes((itemValue as any).item?.id) ? commonIcons.selected : commonIcons.select"
            size="x-small"
            variant="text"
            @click="() => (itemValue as any).toggleSelect({ value: (itemValue as any).item.id, selectable: true })"></v-btn>
        </template>
        <template v-else-if="h.name === 'removable'">
          <v-btn
            :icon="commonIcons.remove"
            size="x-small"
            variant="text"
            color="grey"
            @click="openDeleteRowsDialog((itemValue as any).item.id)"></v-btn>
        </template>
        <DataEditCell
          v-else
          :item-id="(itemValue as any).item?.id"
          :value="(itemValue as any).item?.data[h.id]"
          :header="h"
          :view-mode="viewMode"
          :is-new-dataset="isNewDataset">
        </DataEditCell>
      </template>
    </v-data-table-virtual>

    <!-- ROW FOR ADD ROW -->
    <v-table>
      <tbody>
        <tr class="compact-row add-row">
          <td :class="`text-left ${navigationStore.isDark ? 'cell-dark-2 add-row-dark' : 'cell-light-2 add-row-light'} `">
            <v-tooltip
              location="top"
              :text="$t('datasets.tables.addRow')">
              <template #activator="{ props: tooltipProps }">
                <v-btn
                  v-bind="tooltipProps"
                  variant="text"
                  density="compact"
                  :icon="findActionIcon(TableAction.addRow)"
                  @click="addRow">
                </v-btn>
              </template>
            </v-tooltip>
          </td>
        </tr>
      </tbody>
    </v-table>

    <!-- DIALOG CONFIRM DELETE COLUMNS -->
    <v-dialog
      v-model="showDeleteHeadersDialog"
      width="400px">
      <v-card class="pa-3">
        <template #title>
          {{ $t('datasets.removeHeader') }}
        </template>
        <template #append>
          <v-icon @click="showDeleteHeadersDialog = false"> {{ commonIcons.close }}</v-icon>
        </template>
        <v-card-text class="text-center py-12">
          <v-icon color="error">{{ commonIcons.warning }}</v-icon>
          <p class="text-error mt-3">
            {{ $t('datasets.removeConfirm') }}
          </p>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            class="mx-3"
            variant="text"
            color="grey"
            size="large"
            :prepend-icon="commonIcons.close"
            @click="closeDeleteColumnsDialog">
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-btn
            class="mx-3"
            variant="text"
            color="error"
            size="large"
            :prepend-icon="commonIcons.delete"
            @click="removeColumns">
            {{ $t('actions.delete') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DIALOG CONFIRM DELETE ROWS -->
    <v-dialog
      v-model="showDeleteRowsDialog"
      width="400px">
      <v-card class="pa-3">
        <template #title>
          {{ $t('datasets.removeRow') }}
        </template>
        <template #append>
          <v-icon @click="showDeleteRowsDialog = false"> {{ commonIcons.close }}</v-icon>
        </template>
        <v-card-text class="text-center py-12">
          <v-icon color="error">{{ commonIcons.warning }}</v-icon>
          <p class="text-error mt-3">
            {{ $t('datasets.removeConfirm') }}
          </p>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            class="mx-3"
            variant="text"
            color="grey"
            size="large"
            :prepend-icon="commonIcons.close"
            @click="closeDeleteRowsDialog">
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-btn
            class="mx-3"
            variant="text"
            color="error"
            size="large"
            :prepend-icon="commonIcons.delete"
            @click="removeRows">
            {{ $t('actions.delete') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DIALOG HEADER SETTINGS -->
    <v-dialog
      v-model="showHeaderSettingsDialog"
      width="600">
      <DataHeaderDialogCard
        v-if="headerToEditIndex"
        v-model="dataset.headers[headerToEditIndex - 1]"
        :view-mode="viewMode"
        @close="closeHeaderSettingsDialog"></DataHeaderDialogCard>
    </v-dialog>
  </div>

  <v-skeleton-loader
    v-else
    type="heading, table-row-divider@6"
    class="pb-12 px-2">
  </v-skeleton-loader>

  <!-- DEBUGGING -->
  <v-row
    v-if="true"
    class="ma-12">
    <v-col
      cols="3"
      class="text-caption">
      dataset.id :
      <pre>{{ dataset?.id }}</pre>
      dataset.meta
      <pre>{{ dataset?.meta }}</pre>
      rowHeaders[0]
      <pre>{{ rowHeaders.slice(0, 2) }}</pre>
      headersList[0]
      <pre>{{ headersList[0] }}</pre>
      itemsList[0]
      <pre>{{ itemsList[0] }}</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      dataset.headers
      <pre>{{ dataset?.headers.slice(0, 2) }}...</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      dataset.items
      <pre>{{ dataset?.items.slice(0, 2) }}...</pre>
    </v-col>
    <v-col
      cols="3"
      class="text-caption">
      sortBy
      <pre>{{ sortBy }}...</pre>
      selectedRows.length
      <pre>{{ selectedRows.length }}</pre>
      selectedRows
      <pre>{{ selectedRows }}</pre>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import draggable from 'vuedraggable'
  import { TableAction, ViewMode, type TableHeader, type TableHeaderVirtual } from '@/utils/types'
  import {
    // defaultHeaderLeft, //
    // defaultHeaderRight,
    headersSettings,
    resizableGrid,
    // createResizableColumn
    buildNewHeader,
    buildNewRow
  } from '@/utils/tables'

  interface Props {
    // dataset: Dataset
    isNewDataset?: boolean
    totalItems?: number
    viewMode: ViewMode
  }
  const propsTable = defineProps<Props>()

  const navigationStore = useNavigationStore()
  const datasetsStore = useDatasetsStore()
  const dataset = computed(() => {
    if (propsTable.isNewDataset) {
      return datasetsStore.newDataset
    } else {
      return datasetsStore.currentDataset
    }
  })

  const headerSelectRow: TableHeaderVirtual = {
    id: 'datami-header',
    name: 'selectable',
    key: 'selectable',
    keySlot: 'item.selectable'
  }
  const headerRemoveRow: TableHeaderVirtual = {
    id: 'datami-header',
    name: 'removable',
    key: 'removable',
    keySlot: 'item.removable'
  }

  // ---------------------
  // V-MODELS
  // ---------------------

  defineModel<string | undefined>('search')

  // ---------------------
  // USER UX
  // ---------------------

  const selectedRows = ref<any[]>([])
  const sortBy = ref<any[]>([
    // { key: 'name', order: 'desc' }, //
    // { key: 'price', order: 'asc' }
  ])
  const headerSettingsColor = computed(() => {
    return navigationStore.isDark ? 'cell-dark-2' : 'bg-datamiYellow'
  })
  const tableUserSettings = ref<TableUserSettings>({
    headers: {},
    viewMode: propsTable.viewMode
  })

  // ---------------------
  // HEADERS
  // ---------------------

  const openHeaderSettings = ref<boolean>(false)
  const selectedHeaders = ref<string[]>([])

  const showDeleteHeadersDialog = ref(false)

  const headerToEditIndex = ref<number>()
  const showHeaderSettingsDialog = ref(false)

  const headersList = computed({
    get: () => {
      let headersRaw = dataset.value?.headers as TableHeader[]
      headersRaw = headersRaw.map((h) => {
        // console.log(h)
        return {
          ...h,
          key: `data.${h.id}`,
          keySlot: `item.data.${h.id}`
        }
      })
      return headersRaw as TableHeaderVirtual[]
    },
    set: (value: TableHeaderVirtual[]) => {
      const trimmedHeaders = value.map((h) => {
        return h as TableHeader
      })
      datasetsStore.updateDatasetHeaders(trimmedHeaders, propsTable.isNewDataset)
    }
  })
  const rowHeaders = computed(() => {
    return [
      headerSelectRow, //
      ...headersList.value,
      headerRemoveRow
    ] as TableHeaderVirtual[]
  })

  const openDeleteColumnsDialog = (headerId: string) => {
    selectedHeaders.value.push(headerId)
    showDeleteHeadersDialog.value = true
  }
  const closeDeleteColumnsDialog = () => {
    selectedHeaders.value = []
    showDeleteHeadersDialog.value = false
  }
  const addColumn = () => {
    const newHeader = buildNewHeader()
    datasetsStore.addDatasetHeader(newHeader, propsTable.isNewDataset)
    setTimeout(() => {
      scrollToLastElement(`#${dataset.value?.id}`, ScrollDirection.horizontal)
    }, 500)
  }
  const removeColumns = () => {
    selectedHeaders.value.forEach((headerId) => {
      datasetsStore.removeDatasetHeader(headerId, propsTable.isNewDataset)
    })
    closeDeleteColumnsDialog()
  }
  const openHeaderSettingsDialog = (index: number) => {
    headerToEditIndex.value = index + 1
    showHeaderSettingsDialog.value = true
  }
  const closeHeaderSettingsDialog = () => {
    headerToEditIndex.value = undefined
    showHeaderSettingsDialog.value = false
  }

  // ---------------------
  // ITEMS
  // ---------------------

  const showDeleteRowsDialog = ref(false)
  const selectedRowsToDelete = ref<string[]>([])

  const itemsList = computed({
    get: () => {
      let rawItems = dataset.value?.items as TableItem[]
      rawItems = rawItems.map((i) => {
        return {
          selectable: true,
          removable: true,
          ...i
        }
      })
      return rawItems as TableItem[]
    },
    set: (value: TableItem[]) => {
      datasetsStore.updateDatasetItems(value)
    }
  })
  const addRow = () => {
    const newItem: TableItem = buildNewRow()
    datasetsStore.addDatasetItem(newItem, propsTable.isNewDataset)
    setTimeout(() => {
      scrollToLastElement(`#${dataset.value?.id}`, ScrollDirection.vertical)
    }, 500)
  }
  const openDeleteRowsDialog = (rowId: string) => {
    selectedRowsToDelete.value.push(rowId)
    showDeleteRowsDialog.value = true
  }
  const closeDeleteRowsDialog = () => {
    selectedRowsToDelete.value = []
    showDeleteRowsDialog.value = false
  }
  const removeRows = () => {
    selectedRowsToDelete.value.forEach((rowId: string) => {
      datasetsStore.removeDatasetItem(rowId, propsTable.isNewDataset)
    })
  }

  // ---------------------
  // TABLE
  // ---------------------

  const setResizable = () => {
    // Query the table
    if (dataset.value) {
      const table = document.getElementById(dataset.value.id) as HTMLElement
      resizableGrid(table as HTMLTableElement, tableUserSettings)
    }
  }
  watch(
    () => headersList.value,
    (next, prev) => {
      if (next !== prev) {
        setTimeout(() => {
          setResizable()
        }, 1000)
      }
    }
  )
  onMounted(() => {
    setTimeout(() => {
      if (dataset.value?.items) {
        setResizable()
      }
    }, 3000)
  })
</script>
